<ul class="<%= controller_name %>Tools nav nav-pills">
  <% @user_actions.each_pair do |action, opts| %>
    <% if opts[:formless] %>
      <li class="<%= action %>">
        <%= link_to t("blacklight.tools.#{action}"), self.send("#{action}_#{controller_name}_path"), {:id => "#{action}Link", :name => action, :class => 'btn btn-default', :method => :post} %>
      </li>
    <% else %>
      <li class="<%= action %>">
        <%= link_to t("blacklight.tools.#{action}"), self.send("#{action}_#{controller_name}_path"), {:id => "#{action}Link", :name => action, :class => 'btn btn-default', :data => {:ajax_modal => "trigger"}} %>
      </li>
    <% end %>
  <% end %>
  
  <%= render_marc_tools %>
</ul>
