<%#
Copyright 2011-2025, The Trustees of Indiana University and Northwestern
  University.  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.

You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed
  under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
  CONDITIONS OF ANY KIND, either express or implied. See the License for the
  specific language governing permissions and limitations under the License.
---  END LICENSE_HEADER BLOCK  ---
%>

<div data-blacklight-modal="container">
  <script type="text/javascript">
    $('#target_playlist_id').select2({
      dropdownParent: $('#blacklight-modal')
    });
  </script>

  <% @candidates = Playlist.where(user: current_user) %>

  <%= render partial: 'modal_header', locals: { label: "add_to_playlist"} %>

  <%= form_tag url_for(:controller => "bookmarks", :action => "add_to_playlist"), :id => 'add_to_playlist_form', :method => :post do %>
    <div class="modal-body">
      <div class="row-fluid">
        <% if @candidates.count == 0 || @documents.empty? %>
          <div class="alert alert-danger">
            <% if @documents.empty? %>
                    <p><%= t('blacklight.bookmarks.no_bookmarks') %></p>
            <% else %>
                    <p><%= t('blacklight.add_to_playlist.no_playlists') %></p>
            <% end %>
          </div>
        <% else %>
          <div class="alert">
            <fieldset>
              <p><%= t('blacklight.add_to_playlist.confirm') %></p>
              <%= select_tag :target_playlist_id, options_from_collection_for_select(@candidates, "id", "title"), style: 'width:100%;' %>
            </fieldset>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary"><%= t('blacklight.add_to_playlist.button') %></button>
          </div>
  	    <% end %>
      </div>
    </div>
  <% end %>
</div>
