<% unless devise_error_messages!.empty? %>
  <div class="alert alert-error"><%= flash[:error] %></div>
<% end %>

<h2>Create an account</h2>
<%= form_for(resource, :as => resource_name, 
  :url => registration_path(resource_name), 
  html: {class: "form-horizontal"}) do |f| %>

  <div class="control-group <% if resource.errors.include?(:email) %>error<% end %>">
    <div class="control-label">
      <%= f.label :email %>
      <% if resource.errors.include?(:email) %><p class="help-block"><%= resource.errors[:email] %></p><% end %>
    </div>
    <div class="controls"><%= f.email_field :email %></div>
  </div>

  <div class="control-group <% if resource.errors.include?(:password) %>error<% end %>">
    <div class="control-label">
      <%= f.label :password %>
      <% if resource.errors.include?(:password) %><p class="help-block"><%= resource.errors[:password] %></p><% end %>
    </div>
    <div class="controls"><%= f.password_field :password %></div>
  </div>

  <div class="control-group <% if resource.errors.include?(:password) %>error<% end %>">
    <div class="control-label">
      <%= f.label :password_confirmation %>
    </div>
     <div class="controls"><%= f.password_field :password_confirmation %></div>
  </div>

  <div class="control-group">
    <div class="controls"><%= f.submit "Sign up", class: "btn" %></div>
  </div>
<% end %>

<%= render :partial => "devise/shared/links" %>
