<% if flash[:notice] %>
    <div class="alert"><%= flash[:notice] %></div>
<% end %>

<% if flash[:error] %>
  <div class="alert alert-error"><%= flash[:error] %></div> 
<% end %>

<h2>Contact us</h2>
<p>Interested in learning more about the Variations on Video project? Request a temporary account to explore the features that it provides."</p>
<p><strong>All fields are required</strong></p>

<%= twitter_bootstrap_form_for @comment, class: 'form-vertical' do |comment| %>
  <%= comment.fieldset do %>    
    <%= comment.label :name, "Name" do |controls| %>
      <%= controls.text_field :name, class: 'span4' %>
    <% end %>

    <%= comment.label :email, "Email address" do |controls| %> 
      <%= controls.email_field :email, class: 'span4' %>
      <%= controls.email_field :email_confirmation, class: 'span4' %> 
    <% end %>
    
    <%= comment.select :subject, "Subject", @subjects, prompt: 'Select one', 
        class: 'span4' %>
    
    <%= comment.text_area :comment, "Comment", rows: 10, class: 'span4' %>
    
    <%= comment.submit "Submit comments" %>
  <% end %>
<% end %>
