<li class="thumbnail span3">
  <div class="thumbnail">
    <img class="preview-icon">[ Preview image]</img>  
    <div class="caption">
      <h4 class="title">
        <% if can? :read, item %>
          <%= link_to "#{item.descMetadata.title[0]} (#{item.pid})", video_path(item) %> 
        <% else %>
           <%= item.descMetadata.title[0] %> (<%= item.pid %>)
        <% end %>
      </h4>
      
      <p class="creator"><%= item.descMetadata.creator[0] %></h4>
      <% unless item.descMetadata.abstract.nil? or 
         item.descMetadata.abstract[0].empty? %>
        <p class="summary"><%= truncate(item.descMetadata.abstract[0], 
          length: 50) %></p>
      <% else %>
        <p class="summary">No summary available</p>
      <% end %>
    </div>
  </div>
</li>
