<% if flash[:error] %><div class="alert alert-error"><%= flash[:error] %></div><% end %>
<h3>Access control</h3>
<p class="whitespace">Some short blurb explaining what the point of access controls are]</p>

<div class="whitespace" id="default_level">
<h4>Default access</h4>
<%= twitter_bootstrap_form_for @mediaobject, 
      html: { 
	class: "form-horizontal",
    	id: 'access_control_form' } do |vid| %>
    <%= hidden_field_tag :step, @active_step %>
    <%= vid.hidden_field :pid %>

    <%= label_tag :access do %>
      <%= radio_button_tag :access, 'public', (@mediaobject.access == 'public') %>
      This resource should be accessible to the general public without having to register
    <% end %>

    <%= label_tag :access do %>
      <%= radio_button_tag :access, 'restricted', (@mediaobject.access == 'restricted') %>
      Only registered users should have access to this resource
    <% end %>

    <%= label_tag :access do %>
      <%= radio_button_tag :access, 'private', (@mediaobject.access == 'private') %>
      Only I should be able to see this resource
    </div>

    <div class="whitespace" id="exceptions">
    <h4>Exceptions</h4>
    <%= form_tag 'access_control', 
      html: { class: "form-vertical"} do %>
        <%= hidden_field_tag :donot_advance, true %>
        <%= hidden_field_tag :step, @active_step %>
    <table class="table table-striped table-hover">
      <% unless @mediaobject.group_exceptions.empty? %>
      <thead>
        <tr>
          <td rowspan="2">Groups</td>
        </tr>
      </thead>
        <tbody>
          <% @mediaobject.group_exceptions.each do |group| %>
        <tr>
          <td><%= check_box_tag 'groups[remove]', group %>
          <%= group %></td>
        </tr>
      <% end %>
      </tbody>
    <% end %>
    
      <% unless @mediaobject.user_exceptions.empty? %>
      <thead>
        <tr>
          <td rowspan="2">Users</td>
        </tr>
      </thead>
        <tbody>
          <% @mediaobject.user_exceptions.each do |user| %>
        <tr>
          <td><%= check_box_tag 'users[remove]', user %>
          <%= user %></td>
        </tr>
      <% end %>
      </tbody>
    <% end %>
    </table>

        <%= text_field_tag :value %>
        <%= select_tag :scope, options_for_select(['Group', 'User']) %>
        <br />
        <%= submit_tag 'Update' %>
    <% end %>
 
</div>

    <%= vid.actions do |actions| %>
      <%= render "workflow_buttons", form: vid %>
    <% end %>
  <%- end -%>
<% end %>
