<% if flash[:error] %><div class="alert alert-error"><%= flash[:error] %></div><% end %>
<h3>Access control</h3>
<p class="whitespace">Some short blurb explaining what the point of access controls are]</p>

<h4>Default access</h4>
<%= twitter_bootstrap_form_for @mediaobject, 
      html: { 
	class: "form-horizontal",
    	id: 'access_control_form' } do |vid| %>
    <%= hidden_field_tag :step, @active_step %>
    <%= vid.hidden_field :pid %>

    <%= label_tag :access do %>
      <%= radio_button_tag :access, 'public', (@mediaobject.access == 'public') %>
      This resource should be accessible to the general public without having to register
    <% end %>

    <%= label_tag :access do %>
      <%= radio_button_tag :access, 'restricted', (@mediaobject.access == 'restricted') %>
      Only registered users should have access to this resource
    <% end %>

    <%= label_tag :access do %>
      <%= radio_button_tag :access, 'private', (@mediaobject.access == 'private') %>
      Only I should be able to see this resource

    <h4>Additional groups</h4>
    <p>Members of these groups will have read access to the item regardless of the default above.</p>

<h4>Additional users</h4>
<p>Users below will have read access to the item regardless of the default.</p>

    <%= vid.actions do |actions| %>
      <%= render "workflow_buttons", form: vid %>
    <% end %>
  <%- end -%>
<% end %>
