<%#
Copyright 2011-2023, The Trustees of Indiana University and Northwestern
  University.  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.

You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed
  under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
  CONDITIONS OF ANY KIND, either express or implied. See the License for the
  specific language governing permissions and limitations under the License.
---  END LICENSE_HEADER BLOCK  ---
%>
<!-- contents for add_to_playlist modal form ---->
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Add <%= scope=='master_file'? 'Section' : 'Item'%> to Playlist</h4>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
      <form id="add_to_playlist_form" action="<%= add_to_playlist_media_object_path(@media_object) %>"
        accept-charset="UTF-8" data-remote="true" method="post">
        <input type="hidden" name="post[masterfile_id]" value="<%= masterfile_id %>" />
        <div class="form-group">
          <label for="playlist">Playlist</label>
          <% @add_playlist_item_playlists = Playlist.where(user: current_user).sort_by(&:title) %>
          <%= collection_select(:post, :playlist_id, @add_playlist_item_playlists, :id, :title, {}, {id: 'add-to-playlist-playlist-id', class: "form-control form-model", style: 'width:100%;'}) %>
        </div>
        <div class="form-group">
          <label>Playlist Item Scope</label>

          <div class="form-check">
            <label>
              <input type="radio" value="section" name="post[playlistitem_scope]" id="playlistitem_scope_section"
                checked="true">
              Create single item for
              <%= 'each ' if scope != 'master_file' %>section<%= " (#{stream_label_for(MasterFile.find(masterfile_id))})" if scope == 'master_file' %>
            </label>
          </div>
          <div class="form-check">
            <label>
              <input type="radio" value="structure" name="post[playlistitem_scope]" id="playlistitem_scope_structure">
              Create multiple items from subsections, if available
            </label>
          </div>

        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline" data-dismiss="modal">Close</button>
      <input type="submit" form="add_to_playlist_form" name="commit" value="Add to Playlist" class="btn btn-primary"
        id="playlistitem_submit">
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->

<script type="text/javascript">
  $('#add-to-playlist-playlist-id').select2({
    dropdownParent: $('#add-to-playlist-modal')
  });
</script>
