<%#
Copyright 2011-2022, The Trustees of Indiana University and Northwestern
  University.  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.

You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed
  under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
  CONDITIONS OF ANY KIND, either express or implied. See the License for the
  specific language governing permissions and limitations under the License.
---  END LICENSE_HEADER BLOCK  ---
%>
<% if can? :update, @media_object %>
  <div class="col-sm-5 mb-3">
    <p>
      <ul class="unstyled" style="display: none;">
        <li>
          <% if @media_object.published? %>
          <span class="label label-success">Published</span> Authorized users can view the item</li>
        <% else %>
        <span class="label label-important">Unpublished</span> Users cannot view the item</li>
        <% end %>
        <li>
          <% unless @media_object.discover_groups.include? "nobody" %>
          <span class="label label-success">Visible</span> Users can search for the item</li>
        <% else %>
        <span class="label label-important">Hidden</span> Users cannot search for the item</li>
        <% end %>
      </ul>
    </p>
    <div id="administrative_options">
      <%= link_to 'Edit', edit_media_object_path(@media_object), class: 'btn btn-primary' %>

      <% if @media_object.published? %>
      <% if can?(:unpublish, @media_object) %>
      <%= link_to 'Unpublish', update_status_media_object_path(@media_object, status:'unpublish'), method: :put, class: 'btn btn-outline' %>
      <% end %>
      <% else %>
      <%= link_to 'Publish', update_status_media_object_path(@media_object, status:'publish'), method: :put, class: 'btn btn-outline' %>
      <% end %>

      <%# This might not be the best approach because it makes accidental
              deletion possible just by following a link. Need to revisit when
              extra cycles are available %>

      <% if can? :destroy, @media_object %>
      <%= link_to 'Delete', confirm_remove_media_object_path(@media_object), class: 'btn btn-link' %>
      <% end %>

      <% if Settings.intercom.present? and can? :intercom_push, @media_object %>
      <%= button_tag(Settings.intercom['default']['push_label'], class: 'btn btn-outline', data: {toggle:"modal", target:"#intercom_push"}) %>
      <%= render "intercom_push_modal" %>
      <% end %>
    </div>
  </div>
<% end %>
