<% if flash[:error] %><div class="alert alert-error"><%= flash[:error] %></div><% end %>

<%= twitter_bootstrap_form_for @mediaobject, 
    html: { 
      class: "form-horizontal",
      id: 'basic_metadata_form' } do |vid| %>
  <%= hidden_field_tag :step, @active_step %>
  <%= vid.fieldset "Required fields", id: 'required_fields' do %>    
  
    <%= vid.text_field :title, "Title", class: 'span12', value: @mediaobject.title.first %>
    <%= vid.text_field :creator, "Creator", class: 'span12',
      value: @mediaobject.creator.first %>
    <%= vid.text_field :created_on, "Created on", class: 'span12',
      value: @mediaobject.created_on.first %>
    <%= vid.text_area :abstract, "Summary", class: 'span12', rows: 6,
      value: @mediaobject.abstract.first %>
  <% end %>
  
  <%= vid.fieldset "Related people", id: 'related_people' do %>
        <% (0..3).each do |i| %>
          <% value = @mediaobject.contributor[i] || '' %>
          <%= vid.text_field :contributor, "Contributor", class: 'span12',
            value: value  %>
        <% end %>
    
        <% (0..2).each do |i| %>
          <% value = @mediaobject.publisher[i] || '' %>
          <%= vid.text_field :publisher, "Publisher", class: 'span12',
            value: value  %>
        <% end %>
  <% end %>

  <%= vid.fieldset "Related items", id: 'related_items' do %>    
        <% (0..2).each do |i| %>
          <% value = @mediaobject.relatedItem[i] || '' %>
          <%= vid.text_field :relatedItem, "-", class: 'span12', 
            disabled: 'disabled', value: value  %>
        <% end %>
  <% end %>
  
  <%= vid.fieldset "Keywords", id: 'keywords' do %>    
    <%= vid.text_field :genre, "Genre", class: 'span12',
      value: @mediaobject.genre.first %>
        <% (0..2).each do |i| %>
          <% value = @mediaobject.time[i] || '' %>
          <%= vid.text_field :time, "Key time periods", class: 'span12', 
            value: value  %>
        <% end %>
        <% (0..2).each do |i| %>
          <% value = @mediaobject.place[i] || '' %>
          <%= vid.text_field :place, "Important locations", class: 'span12', 
            value: value  %>
        <% end %>
        <% (0..2).each do |i| %>
          <% value = @mediaobject.subject[i] || '' %>
          <%= vid.text_field :subject, "Subject(s)", class: 'span12', 
            value: value  %>
        <% end %>
  <% end %>

 <%= vid.actions do |actions| %>
   <%= link_to "Back to #{HYDRANT_STEPS.previous(@active_step).title}",
        edit_media_object_path(@mediaobject, 
          step: HYDRANT_STEPS.previous(@active_step).step),
          id: 'previous_screen',
          class: 'btn',
          name: 'previous_screen' %>
    <%= vid.submit "Continue to #{HYDRANT_STEPS.next(@active_step).title}" %>
  <% end %>
<% end %>
