<% if flash[:error] %><div class='alert alert-error'><%= flash[:error] %></div><% end %>

<%= form_for @mediaobject, html: { class: 'form-vertical', id: 'basic_metadata_form' } do |media| %>
  <%= hidden_field_tag :step, @active_step %>
  
  <%# This is not very DRY for a first pass but that can come once it shows some promise %>
  <!-- Title field -->
  <div class="control-group">
    <%= media.label :title do %>
      <a href='http://wiki.dlib.indiana.edu' target: '_help' data-tooltip="#title_tooltip">Title *</a> 
    <% end %>
    <div class="collapse form-tooltip span8" id="title_tooltip">
      <%= render 'media_objects/tooltips/title_field' %>
    </div>
    <%= media.text_field :title, class: 'span8' %>
  </div>

    <%# vid.text_fields :creator, 'Main contributor(s) *', class: 'span8', dynamic: true, value: @mediaobject.creator %>
    <%# vid.text_field :date_issued, 'Date *', class: 'span8' %>
    <%# vid.text_field :date_created, 'Creation date', class: 'span8' %>
    <%# vid.text_area :abstract, 'Description', class: 'span8', rows: 6 %>

    <%# vid.text_fields :contributor, 'Contributor(s)', class: 'span8', dynamic: true, value: @mediaobject.contributor %>
    <%# vid.text_fields :publisher, 'Publisher(s)', class: 'span8', dynamic: true, minimum_fields: 3, value: @mediaobject.publisher %>
    <%# vid.text_fields :genre, 'Genre(s)', class: 'span8', dynamic: true, value: @mediaobject.genre %>

    <%# vid.text_fields :topical_subject, 'Subject(s)', class: 'span8', dynamic: true, value: @mediaobject.topical_subject %>
    <%# vid.text_fields :temporal_subject, 'Time period(s)', class: 'span8', minimum_fields: 2, dynamic: true, value: @mediaobject.temporal_subject %>
    <%# vid.text_fields :geographic_subject, 'Location(s)', class: 'span8', minimum_fields: 2, dynamic: true, value: @mediaobject.geographic_subject %>
    
    <%# vid.text_fields :collection, 'Collection(s)', class: 'span8', dynamic: true, minimum_fields: 3, value: @mediaobject.collection %>
    <div class="form-actions">
      <%= render 'workflow_buttons', form: media %>
    </div>  
<% end %>

<% content_for :page_scripts do %>
  <%= javascript_include_tag 'dynamic_fields' %>
<script>
  $().ready(function() {
    DynamicFields.initialize();

    /* 
     * Disable the default action for tooltips if the Javascript for the
     * inline tip is able to work. Since we know that these will have additional
     * data attributes there is no need for another class hook
     */
     $('a[data-tooltip]').each(function() {
       $(this).removeAttr('href');
     });

     $('a[data-tooltip]').click(function(event) {
       event.preventDefault();

       $('#title_tooltip').toggleClass('in');
     });
  });
</script>
<% end %>

