<%#
Copyright 2011-2014, The Trustees of Indiana University and Northwestern
  University.  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.

You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed 
  under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
  CONDITIONS OF ANY KIND, either express or implied. See the License for the 
  specific language governing permissions and limitations under the License.
---  END LICENSE_HEADER BLOCK  ---
%>
<% if flash[:error].present? %>
  <div class='alert alert-danger' style='display: inline-table;'><%= flash[:error] %></div>
<% end %>

<p>Fields followed by an asterisk (*) are required.</p>
<%= form_for @mediaobject, html: { class: 'form-vertical', id: 'basic_metadata_form' } do |media| %>
  <%= hidden_field_tag :step, @active_step %>
  
  <%# This is not very DRY for a first pass but that can come once it shows some promise %>
  <%= render partial: 'text_field', 
             locals: {media: media, field: :title, 
                      options: {required: true, tooltip: true}} %>

  <%# This clearly needs to be refactored once it works right and there is 
      proper test coverage %>
  <%= render partial: 'text_fields',
             locals: {media: media, field: :creator,
                      count: [1, @mediaobject.creator.length].max,
                      text_label: 'Main contributor(s)', 
                      options: {required: true, tooltip: true, dynamic: true}} %>
                    
  <%= render partial: 'text_field', 
             locals: {media: media, field: :date_issued,
                      text_label: 'Publication date',
                      options: {tooltip: true, required: true}} %>

  <%= render partial: 'text_field', 
             locals: {media: media, field: :date_created,
                      text_label: 'Creation date',
                      options: {tooltip: true}} %>

  <%= render partial: 'text_area', 
             locals: {media: media, field: :abstract,
                      text_label: 'Summary',
                      options: {tooltip: true}} %>

  <%= render partial: 'text_fields',
             locals: {media: media, field: :contributor,
                      count: [1, @mediaobject.contributor.length].max,
                      text_label: 'Contributor(s)', 
                      options: {tooltip: true, dynamic: true}} %>

  <%= render partial: 'text_fields',
             locals: {media: media, field: :publisher,
                      count: [1, @mediaobject.publisher.length].max,
                      text_label: 'Publisher(s)', 
                      options: {tooltip: true, dynamic: true}} %>

  <%= render partial: 'text_fields',
             locals: {media: media, field: :genre,
                      count: [1, @mediaobject.genre.length].max,
                      text_label: 'Genre(s)', 
                      options: {tooltip: true, dynamic: true}} %>
  <%= render partial: 'text_fields',
             locals: {media: media, field: :topical_subject,
                      count: [1, @mediaobject.topical_subject.length].max,
                      text_label: 'Subject(s)', 
                      options: {tooltip: true, dynamic: true}} %>
  <%= render partial: 'text_fields',
             locals: {media: media, field: :temporal_subject,
                      count: [1, @mediaobject.temporal_subject.length].max,
                      text_label: 'Time period(s)', 
                      options: {tooltip: true, dynamic: true}} %>
  <%= render partial: 'text_fields',
             locals: {media: media, field: :geographic_subject,
                      count: [1, @mediaobject.geographic_subject.length].max,
                      text_label: 'Location(s)', 
                      options: {tooltip: true, dynamic: true}} %>
  <%= render partial: 'text_field',
             locals: {media: media, field: :permalink,
                      text_label: 'Permalink', 
                      options: {tooltip: true}} %>

  <%= render 'workflow_buttons', form: media %>
<% end %>

<% content_for :page_scripts do %>
  <%= javascript_include_tag 'dynamic_fields' %>
  <script>
    DynamicFields.initialize();
  </script>
<% end %>
