<% if flash[:error] %><div class="alert alert-error"><%= flash[:error] %></div><% end %>

<%= twitter_bootstrap_form_for @mediaobject, 
    html: { 
      class: "form-horizontal",
      id: 'basic_metadata_form' } do |vid| %>
  <%= vid.fieldset "Resource descripton", id: 'basic_metadata' do %>    
    <%= vid.hidden_field :pid %>
  
    <%= vid.text_field :title, "Title", class: 'span12', value: @mediaobject.title.first %>
    <%= vid.text_field :creator, "Creator", class: 'span12',
      value: @mediaobject.creator.first %>
    <%= vid.text_field :created_on, "Created on", class: 'span12',
      value: @mediaobject.created_on.first %>
    <%= vid.text_area :abstract, "Summary (optional)", class: 'span12', rows: 6,
      value: @mediaobject.abstract.first %>

    <%= vid.actions do |actions| %>
      <%= link_to "Back to Manage file(s)",
            edit_media_object_path(@mediaobject, 
              step: @workflow_steps.previous(@active_step)),
            id: 'previous_screen',
            class: 'btn',
            name: 'previous_screen' %>
      <%= vid.submit "Continue to Structure" %>
    <% end %>
  <%- end -%>
<% end %>
