<% if flash[:error] %><div class="alert alert-error"><%= flash[:error] %></div><% end %>

<%= twitter_bootstrap_form_for @mediaobject, 
    html: { 
      class: "form-horizontal",
      id: 'basic_metadata_form' } do |vid| %>
  <%= hidden_field_tag :step, @active_step %>
  <%= vid.hidden_field :pid %>
  <%= vid.fieldset "Required fields", id: 'required_fields' do %>    
  
    <%= vid.text_field :title, "Title", class: 'span12', value: @mediaobject.title.first %>
    <%= vid.text_field :creator, "Creator", class: 'span12',
      value: @mediaobject.creator.first %>
    <%= vid.text_field :created_on, "Created on", class: 'span12',
      value: @mediaobject.created_on.first %>
    <%= vid.text_area :abstract, "Summary", class: 'span12', rows: 6,
      value: @mediaobject.abstract.first %>
  <% end %>
  
  <%= vid.fieldset "Related people", id: 'related_people' do %> 
    <%= vid.text_field :contributor, 
        "Contributor(s)", 
        class: 'span12 form-controls',
        values: @mediaobject.contributor.first %>
    <%= vid.text_field :publisher, "Publisher(s)", class: 'span12 form-controls',
      value: @mediaobject.publisher.first %>
  <% end %>

  <%= vid.fieldset "Related items", id: 'related_items' do %>    
    <%= vid.text_field :relatedItem, "Related items", class: 'span12 form-controls',
      value: @mediaobject.relatedItem.first %>
  <% end %>
  
  <%= vid.fieldset "Keywords", id: 'keywords' do %>    
    <%= vid.text_field :genre, "Genre", class: 'span12',
      value: @mediaobject.genre.first %>
    <%= vid.text_field :temporal, "Key time periods", class: 'span12 form-controls',
      value: @mediaobject.temporal.first %>
    <%= vid.text_field :spatial, "Key places", class: 'span12 form-controls',
      value: @mediaobject.spatial.first %>
    <%= vid.text_field :subject, "Subjects", class: 'span12 form-controls',
      value: @mediaobject.subject.first %>
  <% end %>

 <%= vid.actions do |actions| %>
   <%= link_to "Back to #{HYDRANT_STEPS.previous(@active_step).title}",
        edit_media_object_path(@mediaobject, 
          step: HYDRANT_STEPS.previous(@active_step).step),
          id: 'previous_screen',
          class: 'btn',
          name: 'previous_screen' %>
    <%= vid.submit "Continue to #{HYDRANT_STEPS.next(@active_step).title}" %>
  <% end %>
<% end %>
