<%#
Copyright 2011-2013, The Trustees of Indiana University and Northwestern
  University.  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.

You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed 
  under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
  CONDITIONS OF ANY KIND, either express or implied. See the License for the 
  specific language governing permissions and limitations under the License.
---  END LICENSE_HEADER BLOCK  ---
%>
<div id="dropbox_modal" class="modal hide fade big-modal" tabindex="-1" role="dialog" aria-labelledby="dropbox_modal_label">
  <%= form_tag(master_files_path) do -%>
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    </div>
    <div class="modal-body">
      <%= render partial: "dropbox_file_navigator", locals: {file_set: @dropbox_files} %>
    </div>
    <div class="modal-footer">
      <p style="clear:both">
        <% if can? :destroy, @mediaobject.collection %>
          <%= hidden_field_tag 'collection_id', @mediaobject.collection.id %>
          <%= link_to 'Remove Selected Files', bulk_delete_dropbox_index_path, class: 'btn btn-danger pull-left remove-selected-files' %>
        <% end %>
        <%= button_tag "Close", type: "button", class: "btn", 'data-dismiss'=>'modal' %>
        <%= button_tag "Attach Selected Files", class: "btn", donot_advance: true %>
      </p>
      <span class="checkbox inline fileupload-exists">
        <%= check_box_tag(:workflow, 'skip_transcoding', false ) %>
        <%= label_tag(:skip_transcoding) do %>
          <div style="font-size: inherit;" class="tooltip-help" 
            data-title="<%= "something" %>" data-tooltip="#skip-transcoding-dropbox-tooltip">
            Skip transcoding                    
          </div>
        <% end %>
      </span>

      <div class="collapse form-tooltip equal-height" id="skip-transcoding-dropbox-tooltip">
        <button class="close">&times;</button>
         <p><%= t("file_upload_tip.skip_transcoding").html_safe %></p>
      </div>
    </div>
  <% end %>
</div>
