 		      <tr class="active-<%=file[:available]%>">
                        <td class='checkbox'><%= check_box_tag "dropbox[#{index}][id]", file[:id], false, :disabled => !file[:available] %></td>
                        <td class='name'><%= file[:name] %></td>
                        <td><%= file[:size].is_a?(String) ? file[:size] : number_to_human_size(file[:size]) %></td>
                        <td><%= file[:modified].strftime('%Y-%m-%d %H:%M:%S') %></td>
  		        <td>
  		          <% case file[:media_type]
  		             when /^audio/ %>
	    		       <i class="icon-volume-up"></i>
  		          <% when /^video/ %>
	    		       <i class="icon-film"></i>
	    		  <% else %>
			       <i class="icon-question-sign"></i>
  		          <% end %>
  		        </td>
                        <td><%= file[:media_type] %></td>
         	 	    </tr>
  
