<li class="<%= class_for_step(@mediaobject, step.step) %>"> 
    <% if active %>
      <%= link_to edit_media_object_path(@mediaobject, step: step.step) do %>
        <strong><%= step.title %></strong>
      <% end %>
    <% else %>
      <strong><%= step.title %></strong>
    <% end %>
    <p><%= step.summary %></p>
</li>
