<div class="row">
  <div class="span8" id="left_column">
    <section id="player">
      <% if @currentStream.present? and @currentStream.succeeded? %>
        <%= stylesheet_link_tag "mediaelement_rails/mediaelementplayer" =%>   
        <%= stylesheet_link_tag "mediaelement-qualityselector/mep-feature-qualities" =%>   

        <video controls width="550" height="309" id="video-tag" poster="<%= @currentStreamInfo[:poster_image] %>" preload="true">
          <% @currentStreamInfo[:stream_flash].each do |flash| %>
            <source src="<%= flash[:url] %>" data-quality="<%= flash[:quality] %>" data-plugin-type="flash" type="video/rtmp"/>
          <% end %>
          <% @currentStreamInfo[:stream_hls].each do |hls| %>
            <source src="<%= hls[:url] %>" data-quality="<%= hls[:quality] %>" data-plugin-type="native" type="application/vnd.apple.mpegURL"/>
          <% end %>
        </video>
      <% end %>
    </section>
    <%= render 'video_player' %>
    <%= render partial: 'sections', 
        locals: {mediaobject: @mediaobject,
                 sections: @masterFiles,
                 activeStream: @currentStream} %>

    <%= render 'permalink' %>
  </div>

  <div class="span4" id="right-column">
    <div id="metadata_container" class="">
      <section id="metadata"><%= render "metadata_display" %></section>
    </div>
  </div>

</div>

<% content_for :title do %>
  Preview -
  <% unless @mediaobject.title.blank? %>
    <%= @mediaobject.title %> (<%= @mediaobject.pid %>)
  <% else %>
    <%= @mediaobject.pid %>
  <% end %>
<% end %>

<% content_for :page_scripts do %>
  <%= javascript_include_tag :jquery =%>
  <%= javascript_include_tag "mediaelement_rails/mediaelement-and-player" =%>
  <%= javascript_include_tag 'switch_streams' %> 
  <%= javascript_include_tag 'mediaelement-qualityselector/mep-feature-qualities' %> 

  <script>
    currentPlayer = new MediaElementPlayer('#video-tag', 
        { mode: 'auto_plugin',
          features: ['playpause','current','progress','duration','qualities','volume','fullscreen']
        });
  </script>
<% end %>
