<%#
Copyright 2011-2013, The Trustees of Indiana University and Northwestern
  University.  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.

You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed 
  under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
  CONDITIONS OF ANY KIND, either express or implied. See the License for the 
  specific language governing permissions and limitations under the License.
---  END LICENSE_HEADER BLOCK  ---
%>
<div class="row">
  <div class="span8" id="left_column">
    <section id="player" style="width: 100%">
      <% if @currentStream.present? and @currentStream.succeeded? %>
        <%= stylesheet_link_tag "mediaelement_rails/mediaelementplayer" =%>   
        
        <% if @currentStreamInfo[:is_video] %>
          <video class="mejs-avalon" controls width="450" height="309" style="width: 100%; height: 100%" id="video-tag" poster="<%= @currentStreamInfo[:poster_image] %>" preload="true">
            <% @currentStreamInfo[:stream_flash].each do |flash| %>
              <source src="<%= flash[:url] %>" data-quality="<%= flash[:quality] %>" data-plugin-type="flash" type="video/rtmp"/>
            <% end %>
            <% @currentStreamInfo[:stream_hls].each do |hls| %>
              <source src="<%= hls[:url] %>" data-quality="<%= hls[:quality] %>" data-plugin-type="native" type="application/vnd.apple.mpegURL"/>
            <% end %>
          </video>
        <% else %>
          <audio class="mejs-avalon" controls style="width: 100%;" id="video-tag">
            <% @currentStreamInfo[:stream_flash].each do |flash| %>
              <source src="<%= flash[:url] %>" data-quality="<%= flash[:quality] %>" data-plugin-type="flash" type="audio/rtmp"/>
            <% end %>
            <% @currentStreamInfo[:stream_hls].each do |hls| %>
              <source src="<%= hls[:url] %>" data-quality="<%= hls[:quality] %>" data-plugin-type="native" type="application/vnd.apple.mpegURL"/>
            <% end %>
          </audio>
        <% end %>
      <% end %>
    </section>
    <%= render 'video_player' %>
    <%= render partial: 'sections', 
        locals: {mediaobject: @mediaobject,
                 sections: @masterFiles,
                 activeStream: @currentStream} %>

    <%= render 'permalink' %>
  </div>

  <div class="span4" id="right-column">
    <div id="metadata_container" class="">
      <section id="metadata"><%= render "metadata_display" %></section>
    </div>
  </div>

</div>

<% content_for :title do %>
  Preview -
  <% unless @mediaobject.title.blank? %>
    <%= @mediaobject.title %> (<%= @mediaobject.pid %>)
  <% else %>
    <%= @mediaobject.pid %>
  <% end %>
<% end %>

<% content_for :page_scripts do %>
  <%= javascript_include_tag "mediaelement_rails/mediaelement-and-player" =%>
  <%= javascript_include_tag 'switch_streams' %> 
  <%= javascript_include_tag 'mediaelement-qualityselector/mep-feature-qualities' %> 
  <%= javascript_include_tag 'me-thumb-selector' %>
  <%= javascript_include_tag 'mediaelement-skin-avalon/mep-feature-responsive' %>

  <%= stylesheet_link_tag "mediaelement-qualityselector/mep-feature-qualities" =%>   
  <%= stylesheet_link_tag 'me-thumb-selector' %>
  <%= stylesheet_link_tag "mediaelement-skin-avalon/mejs-skin-avalon" =%>

  <%
    features = ['playpause','current','progress','duration','volume','qualities']
    features << 'thumbnailSelector' if can? :edit, @mediaobject
    features.concat ['fullscreen','responsive']
  %>

  <script>
    currentPlayer = new MediaElementPlayer('#video-tag', 
        { mode: 'auto_plugin',
          pluginPath: <%= asset_path('mediaelement_rails/').inspect.html_safe %>,
          usePluginFullScreen: false,
          thumbnailSelectorUpdateURL: '/update-url',
          thumbnailSelectorEnabled: true,
          features: <%=features.inspect.html_safe%>,
          audioHeight: 50
        });
  </script>
<% end %>
