<div class="row">
  <div class="span8" id="left_column">
      <%= render 'video_player' %>
      <%= render partial: 'sections', 
        locals: {mediaobject: @mediaobject,
                 sections: @masterFiles,
                 activeStream: @currentStream} %>

  <%= render 'permalink' %>
  </div>

  <div class="span4" id="right-column">
    <div id="metadata_container" class="">
      <section id="metadata"><%= render "metadata_display" %></section>
    </div>
  </div>

</div>

<% content_for :title do %>
  Preview -
  <% unless @mediaobject.title.blank? %>
  <%= @mediaobject.title %> (<%= @mediaobject.pid %>)
  <% else %>
    <%= @mediaobject.pid %>
  <% end %>
<% end %>

<% content_for :page_scripts do %>
  <%# Since there are no streams if @currentStream is nil then don't bother including any of the following content %>
  <%= javascript_include_tag 'switch_streams' %>
  <%= javascript_include_tag 'swfobject' %>
  <%= javascript_include_tag 'avalonplayer' %>

  <% if @currentStream.present? and @currentStream.succeeded? %>
  <script>
    $().ready(function() {
      if ($("#nojs").length > 0) {
        currentPlayer = AvalonPlayer.init($('#player'), 
                   { hls: <%= @currentStreamInfo[:stream_hls].to_json.html_safe %>,
                     poster: "<%= @currentStreamInfo[:poster_image] %>", 
                     mediaPackageId: "<%= @currentStreamInfo[:mediapackage_id] %>", 
                     flash: <%= @currentStreamInfo[:stream_flash].to_json.html_safe %> });
      }
    });
  </script>
  <% end %>
<% end %>
