<%#
Copyright 2011-2025, The Trustees of Indiana University and Northwestern
  University.  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.

You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed
  under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
  CONDITIONS OF ANY KIND, either express or implied. See the License for the
  specific language governing permissions and limitations under the License.
---  END LICENSE_HEADER BLOCK  ---
%>

<% content_for :additional_head_content do %>
  <link rel="alternative" type="application/json+oembed" href="<%= "#{oembed_url(format: 'json', url: share_link_for(@currentStream))}" %>" />
  <link rel="alternative" type="application/xml+oembed" href="<%= "#{oembed_url(format: 'xml', url: share_link_for(@currentStream))}" %>" />
<% end %>

<% @poster_url = request.base_url + @currentStreamInfo[:poster_image] unless @currentStreamInfo[:poster_image].nil? %>
<% @page_type = @currentStreamInfo[:is_video] ? 'video' : 'audio' %>
<% can_stream = lending_enabled?(@media_object) ? current_user && @media_object.current_checkout(current_user.id).present? : true %>

<% in_progress = show_progress?(@masterFiles) %>
<div class="row">
  <div class="col-sm-12">
    <%= render 'workflow_progress' %>
  </div>
  <div class="col-sm-12 mb-2">
    <%= render 'administrative_links' %>
    <% if current_ability.can? :edit, @media_object %>
      <% if lending_enabled?(@media_object) %>
        <%= render 'thumbnail' if can_stream %>
      <% else %>
        <%= render 'thumbnail' %>
      <% end %>
    <% end %>
  </div>
  <div class="col-sm-12">
    <%= react_component("MediaObjectRamp",
      {
        urls: { base_url: request.protocol + request.host_with_port, fullpath_url: request.fullpath },
        sections_count: @media_object.sections.size,
        title: { content: render('title') },
        share: { canShare: (will_partial_list_render? :share), content: lending_enabled?(@media_object) ? (render('share') if can_stream) : render('share') },
        timeline: { canCreate: (current_ability.can? :create, Timeline), content: lending_enabled?(@media_object) ? (render('timeline') if can_stream) : render('timeline') },
        playlist: { canCreate: (current_ability.can? :create, Playlist), tab: render('add_to_playlist') },
        cdl: { enabled: lending_enabled?(@media_object), can_stream: can_stream, embed: render('embed_checkout'), destroy: render('destroy_checkout') },
        has_files: @media_object.supplemental_files.present? || @media_object.sections_with_rendering_files?([nil, 'caption']),
        has_transcripts: @media_object.sections_with_files(tag: 'transcript').present?
      }
    ) %>
  </div>
</div>

<% content_for :page_scripts do %>
  <script>
    // When viewing video on smaller devices scroll to page content to fully
    // display the video player
    $(document).ready(function () {
      const mediaObjectId = <%= @media_object.id.to_json.html_safe %>;
      const sectionIds = <%= @media_object.section_ids.to_json.html_safe %>;
      const sectionShareInfos = <%= @media_object.section_share_infos.to_json.html_safe %>;
      const transcriptSections = <%= @media_object.sections_with_files(tag: 'transcript').to_json.html_safe %>;

      // Enable action buttons and token refresh after derivative is loaded
      setInterval(initPlayerListeners, 500);
      function initPlayerListeners() {
        let player = document.getElementById('iiif-media-player');
        if (player) {
          addActionButtonListeners(player, mediaObjectId, sectionIds, sectionShareInfos);
          initM3U8Reload(player);
        }
      } 

      let scrollInterval = setInterval(autoScroll, 500);
      function autoScroll () {
        const isVideo = <%= @currentStream ? @currentStreamInfo[:is_video] : false %>;
        const player = document.getElementsByTagName('video');
        if(isVideo && player?.length > 0) {
          const screenHeight = screen.height;
          const playerHeight = player[0].style.height.replace(/[^-\d\.]/g, '');
          if(screenHeight - playerHeight < 200) {
            $('html, body').animate({
                scrollTop: $('#user-util-collapse').offset().top
            }, 1000);
          }
          clearInterval(scrollInterval);
        }
      }

      let timeCheck = setInterval(initTranscriptCheck, 500);
      function initTranscriptCheck() {
        let player = document.getElementById('iiif-media-player');
        if(player) {
          addPlayerEventListeners(player, () => {
            clearInterval(timeCheck);
          });
        }
      }

      function addPlayerEventListeners(player) {
        if (player && player.player != undefined) {
          player.player.ready(() => {
            let canvasindex = player.dataset['canvasindex'];
            transcriptCheck(canvasindex);
            setColumnHeights();
          });
        }
      }

      /*
        Set tabbed nav column height based on the content
      */
      function setColumnHeights() {
        let activeTab = $('.tab-pane.active.show');
        let tabsPanel = $('.ramp--tabs-panel');
        // When the active tab is transcripts, check the transcript content height to
        // check there is overflowing content to set the column height. This is handled
        // seperately because the height check in the else block doesn't identify this since
        // since this content is set dynamically based on user selection in dropdown menu. 
        if(activeTab.hasClass('ramp--transcripts_tab')) {
          let transcriptContent = $('.transcript_content');
          if(transcriptContent[0].scrollHeight > transcriptContent[0].clientHeight) {
            activeTab[0].style.height = 'unset';
          }
        } else {
          // Compare the active tab's scrollHeight and tab panel's height to identify overflowing content.
          // And set tab height to either 'unset' or 'fit-content' accordingly.
          if (activeTab[0].scrollHeight > tabsPanel[0].clientHeight) {
            activeTab[0].style.height = 'unset';
          } else {
            activeTab[0].style.height = 'fit-content';
          }
        }
      }

      function transcriptCheck(canvasindex) {
        let sectionId = sectionIds[canvasindex];
        let transcriptTab = document.evaluate('//a[text()="Transcripts"]', document, null, XPathResult.FIRST_ORDERED_NODE_TYPE, null).singleNodeValue;
        let detailTab = document.evaluate('//a[text()="Details"]', document, null, XPathResult.FIRST_ORDERED_NODE_TYPE, null).singleNodeValue;

        if(!transcriptSections.includes(sectionId)) {
          // If transcript tab is the active tab when it is hidden, the tab goes away but the box still displays
          // the missing transcript file message. Force change over to a different tab to avoid this case.
          if(transcriptTab) {
            if (transcriptTab.getAttribute('aria-selected') === "true") { detailTab.click(); }
            transcriptTab.style.display = 'none';
            transcriptTab.classList.add("disabled");
          }
        } else if (transcriptSections.includes(sectionId) && transcriptTab.style.display === 'none') {
          transcriptTab.style.display = '';
          transcriptTab.classList.remove("disabled");
        }
      }
    });
</script>
<% end %>
