<%#
Copyright 2011-2023, The Trustees of Indiana University and Northwestern
  University.  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.

You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed
  under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
  CONDITIONS OF ANY KIND, either express or implied. See the License for the
  specific language governing permissions and limitations under the License.
---  END LICENSE_HEADER BLOCK  ---
%>

<% content_for :additional_head_content do %>
  <link rel="alternative" type="application/json+oembed" href="<%= "#{oembed_url(format: 'json', url: share_link_for(@currentStream))}" %>" />
  <link rel="alternative" type="application/xml+oembed" href="<%= "#{oembed_url(format: 'xml', url: share_link_for(@currentStream))}" %>" />
<% end %>

<% @poster_url = request.base_url + @currentStreamInfo[:poster_image] unless @currentStreamInfo[:poster_image].nil? %>
<% @page_type = @currentStreamInfo[:is_video] ? 'video' : 'audio' %>
<% can_stream = lending_enabled?(@media_object) ? current_user && @media_object.current_checkout(current_user.id).present? : true %>

<% in_progress = show_progress?(@masterFiles) %>
<div class="row">
  <div class="col-sm-8">
    <%= render 'workflow_progress' %>
  </div>
  <div class="<%= in_progress || !@currentStream ? 'col-sm-4' : 'col-sm-12' %>">
    <%= react_component("Ramp",
      {
        base_url: request.protocol+request.host_with_port,
        mo_id: @media_object.id,
        master_files_count: @media_object.master_files.size,
        title: { content: render('title') },
        admin_links: { canUpdate: (current_ability.can? :update, @media_object), content: render('administrative_links') },
        share: { canShare: (will_partial_list_render? :share), content: lending_enabled?(@media_object) ? (render('share') if can_stream) : render('share') },
        timeline: { canCreate: (current_ability.can? :create, Timeline), content: lending_enabled?(@media_object) ? (render('timeline') if can_stream) : render('timeline') },
        thumbnail: { canCreate: (current_ability.can? :edit, @media_object), content: lending_enabled?(@media_object) ? (render('thumbnail') if can_stream) : render('thumbnail') },
        playlist: { canCreate: (current_ability.can? :create, Playlist), content: lending_enabled?(@media_object) ? (render('playlist') if can_stream) : render('playlist') },
        in_progress: in_progress,
        cdl: { enabled: lending_enabled?(@media_object), can_stream: can_stream, embed: render('embed_checkout'), destroy: render('destroy_checkout') }
      }
    ) %>
  </div>
</div>

<% content_for :page_scripts do %>
  <script>
    // When viewing video on smaller devices scroll to page content to fully
    // display the video player
    $(document).ready(function () {
      let scrollInterval = setInterval(autoScroll, 500);

      function autoScroll () {
        const isVideo = <%= @currentStream ? @currentStreamInfo[:is_video] : false %>;
        const player = document.getElementsByTagName('video');
        if(isVideo && player?.length > 0) {
          const screenHeight = screen.height;
          const playerHeight = player[0].style.height.replace(/[^-\d\.]/g, '');
          if(screenHeight - playerHeight < 200) {
            $('html, body').animate({
                scrollTop: $('#user-util-collapse').offset().top
            }, 1000);
          }
          clearInterval(scrollInterval);
        }
      }
    });
</script>
<% end %>
