<%#
Copyright 2011-2023, The Trustees of Indiana University and Northwestern
  University.  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.

You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed
  under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
  CONDITIONS OF ANY KIND, either express or implied. See the License for the
  specific language governing permissions and limitations under the License.
---  END LICENSE_HEADER BLOCK  ---
%>

<%#
This view file goes with the custom 'Add To Playlist' MediaElement 4 plugin.
%>
<% content_for :page_scripts do %>
  <%= javascript_include_tag 'select2.min' %>
  <%= stylesheet_link_tag 'select2.min' %>
<% end %>

<% # Get users playlists %>
<% @add_playlist_item_playlists = Playlist.where(user: current_user).sort_by(&:title) %>

<div id="add_to_playlist_alert" class="mejs-form-alert alert" style="display: none;">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <p id="add_to_playlist_result_message"></p>
</div>
<div id="add_to_playlist" class="mejs-form-wrapper" data-has-playlists="<%= !@add_playlist_item_playlists.empty? %>" style="display: none;">
  <h3>Add to playlist:</h3>
  <% unless @add_playlist_item_playlists.empty? %>
    <%= form_tag do %>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <%= label_tag(:playlist_item_title, "Title") %>
            <%= text_field_tag(:playlist_item_title, nil, class:"form-control form-model") %>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <%= label_tag(:playlist_id, "Playlist") %>
            <%= collection_select(:post, :playlist_id, @add_playlist_item_playlists, :id, :title, { :selected => @add_playlist_item_playlists.first.id }, {class: "form-control form-model", style: 'width:100%;'}) %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <%= label_tag(:playlist_item_start, "Start") %>
            <%= text_field_tag(:playlist_item_start, nil, class:"form-control form-model") %>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <%= label_tag(:playlist_item_end, "End") %>
            <%= text_field_tag(:playlist_item_end, nil, class:"form-control form-model") %>
          </div>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag(:playlist_item_description, "Description") %>
        <%= text_area_tag(:playlist_item_description, nil, class:"form-control form-model") %>
      </div>
      <div class="form-group text-right">
        <%= button_tag("Add", type:"button", id:"add_playlist_item_submit", class:"btn btn-primary add_playlist_item_submit") %>
        <%= button_tag("Cancel", type:"button", id:"add_playlist_item_cancel", class:"btn btn-outline add_playlist_item_cancel") %>
      </div>
    <% end %>
  <% end %>
  <% if @add_playlist_item_playlists.empty? %>
    <span class='add_playlist_item_playlists_no_playlists_message'>You have no playlists, <%= link_to('create a playlist.', new_playlist_path) %></span>
  <% end %>
</div>

<!-- new playlist modal form --->
<div class="modal fade" id="add-playlist-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Create Playlist</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <%= form_for(Playlist.new, remote: true, format: 'json', html: { id: 'playlist_form', class: 'playlist_actions' }) do |f| %>
          <div class="form-group">
            <%= f.label "Name" %>
            <%= f.text_field :title, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :comment, 'Description' %>
            <%= f.text_area :comment, class: 'form-control' %>
          </div>
          <div class="form-group playlist-visibility-form-group">
            <%= label_tag nil, t("playlist.visibility") %>
            <label>
              <%= f.radio_button(:visibility, Playlist::PUBLIC) %>
              <%= human_friendly_visibility Playlist::PUBLIC %>
            </label>
            <label class="ml-2">
              <%= f.radio_button(:visibility, Playlist::PRIVATE) %>
              <%= human_friendly_visibility Playlist::PRIVATE %>
            </label>
          </div>
          <div class="form-group text-right">
            <%= f.submit id: 'new_playlist_submit', class: 'btn btn-primary', value: t("playlist.create.action") %>
          </div>
        </div><!-- /.modal-body -->
      <% end # form_for playlist_form%>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
