<div id="metadata_header">
        <% unless @mediaobject.title.blank? %>
      <h2>
        <%= @mediaobject.title %>
      <% else %>
        <%= @mediaobject.pid %>
      <% end %>
      </h2>
        <% if not @currentStream.blank? and 
          @masterFiles.length >= 2 %>
         <h3 id="stream_label"><%= @currentStream.label %></h3>
        <% end %>
     </div>
    
<dl id="creation_metadata">
  <%= display_metadata('Creator', @mediaobject.creator, 'Not provided') %>
  <%= display_metadata('Date', @mediaobject.date_issued, 'Not provided') %>
  <%= display_metadata('Summary', @mediaobject.abstract, 'No summary available') %>
  <%= display_metadata('Contributor', @mediaobject.contributor) %>
  <%= display_metadata('Publisher', @mediaobject.publisher) %>
  <%= display_metadata('Genre', @mediaobject.genre) %>
  <%= display_metadata('Key time periods', @mediaobject.temporal_subject) %>
  <%= display_metadata('Important locations', @mediaobject.geographic_subject) %>
  <%= display_metadata('Subjects', @mediaobject.subject) %>
  <%= display_metadata('Collection', @mediaobject.collection) %>
</dl>
