<div id="metadata_header">
        <% unless @mediaobject.title.blank? %>
      <legend>
        <%= @mediaobject.title %>
      <% else %>
        <%= @mediaobject.pid %>
      <% end %>
      </legend>
     </div>
    
<dl id="creation_metadata">
  <%= display_metadata('Main contributor', @mediaobject.creator, 'Not provided') %>
  <%= display_metadata('Date', @mediaobject.date_issued, 'Not provided') %>
  <% unless @mediaobject.abstract.blank? %>
  <dt>Summary</dt>
  <dd>
    <pre><%= @mediaobject.abstract %></pre>
  </dd>
  <% end %>
  <%= display_metadata('Contributor', @mediaobject.contributor) %>
  <%= display_metadata('Publisher', @mediaobject.publisher) %>
  <%= display_metadata('Genre', @mediaobject.genre) %>
  <%= display_metadata('Subject', @mediaobject.subject) %>
  <%= display_metadata('Time period', @mediaobject.temporal_subject) %>
  <%= display_metadata('Location', @mediaobject.geographic_subject) %>
  <%= display_metadata('Collection', @mediaobject.collection) %>
</dl>
<% if can? :inspect, @mediaobject %>
  <%= link_to 'View Raw Metadata', inspect_media_object_path(@mediaobject.pid, 'descMetadata'), :target => 'blank', :class => "btn btn-small" %>
<% end %>
