<%#
Copyright 2011-2015, The Trustees of Indiana University and Northwestern
  University.  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.

You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed 
  under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
  CONDITIONS OF ANY KIND, either express or implied. See the License for the 
  specific language governing permissions and limitations under the License.
---  END LICENSE_HEADER BLOCK  ---
%>
<div id="metadata_header">
  <legend>
    <% unless @mediaobject.title.blank? %>
      <%= @mediaobject.title %>
    <% else %>
      <%= @mediaobject.pid %>
    <% end %>
    <%= "/ #{@mediaobject.statement_of_responsibility}" if @mediaobject.statement_of_responsibility.present? %>
  </legend>
</div>
    
<dl id="creation_metadata">
  <%= display_metadata('Main contributor', @mediaobject.creator, 'Not provided') %>
  <%= display_metadata('Date', combined_display_date(@mediaobject), 'Not provided') %>
  <% unless @mediaobject.abstract.blank? %>
  <dt>Summary</dt>
  <dd>
    <pre><%= @mediaobject.abstract %></pre>
  </dd>
  <% end %>
  <%= display_metadata('Contributor', @mediaobject.contributor) %>
  <%= display_metadata('Publisher', @mediaobject.publisher) %>
  <%= display_metadata('Genre', @mediaobject.genre) %>
  <%= display_metadata('Subject', @mediaobject.subject) %>
  <%= display_metadata('Time period', @mediaobject.temporal_subject) %>
  <%= display_metadata('Location', @mediaobject.geographic_subject) %>
  <%= display_metadata('Collection', @mediaobject.collection.name) %>
  <%= display_metadata('Unit', @mediaobject.collection.unit) %>
  <%= display_metadata('Language', display_language(@mediaobject)) %>
  <%= display_metadata('Terms of Use', @mediaobject.terms_of_use) %>
  <%= display_metadata('Physical Description', @mediaobject.physical_description) %>
  <%= display_metadata('Related Item', display_related_item(@mediaobject)) %>
  <%= display_metadata('Notes', display_notes(@mediaobject)) %>
  <%= display_metadata('Other Identifier', display_other_identifiers(@mediaobject)) %>

</dl>
<% if can? :inspect, @mediaobject %>
  <%= link_to 'View Raw Metadata', inspect_media_object_path(@mediaobject.pid, 'descMetadata'), :target => 'blank', :class => "btn btn-default btn-small" %>
  <%= link_to 'View Fedora Objects', tree_media_object_path(@mediaobject.pid), :id => 'show_object_tree', :target => 'blank', :class => "btn btn-default btn-small" %>
  <div id="object_tree" data-src="<%=tree_media_object_path(@mediaobject.pid)%>">
  </div>
<% end %>
