<%#
Copyright 2011-2022, The Trustees of Indiana University and Northwestern
  University.  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.

You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed
  under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
  CONDITIONS OF ANY KIND, either express or implied. See the License for the
  specific language governing permissions and limitations under the License.
---  END LICENSE_HEADER BLOCK  ---
%>
<div id="metadata_header">
  <ul class="nav nav-tabs">
    <li class="nav-item"><a href="#details-tab" data-toggle="tab" class="nav-link active">Details</a></li>
    <% if @media_object.supplemental_files.present? || @masterFiles.any? { |section| section.supplemental_files.present? } %>
      <li class="nav-item"><a href="#files-tab" data-toggle="tab" class="nav-link">Files</a></li>
    <% end %>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="details-tab">
      <dl id="creation_metadata">
        <%= display_metadata('Date', combined_display_date(@media_object), 'Not provided') %>
        <%= display_metadata('Main contributor', @media_object.creator) %>
        <% unless @media_object.abstract.blank? %>
        <dt>Summary</dt>
        <dd>
          <pre><%= @media_object.abstract %></pre>
        </dd>
        <% end %>
        <%= display_metadata('Contributor', @media_object.contributor) %>
        <%= display_metadata('Publisher', @media_object.publisher) %>
        <%= display_metadata('Genre', @media_object.genre) %>
        <%= display_metadata('Subject', @media_object.subject) %>
        <%= display_metadata('Time period', @media_object.temporal_subject) %>
        <%= display_metadata('Location', @media_object.geographic_subject) %>
        <%= display_metadata('Collection', display_collection(@media_object)) %>
        <%= display_metadata('Unit', display_unit(@media_object)) %>
        <%= display_metadata('Language', display_language(@media_object)) %>
        <%= display_rights_statement(@media_object) %>
        <%= display_metadata('Terms of Use', @media_object.terms_of_use) %>
        <%= display_metadata('Physical Description', @media_object.physical_description) %>
        <%= display_metadata('Related Item', display_related_item(@media_object)) %>
        <%= display_metadata('Notes', display_notes(@media_object)) %>
        <%= display_metadata('Other Identifier', display_other_identifiers(@media_object)) %>
        <% if can? :inspect, @media_object %>
          <%= display_metadata('Comments', gather_all_comments(@media_object, @masterFiles)) %>
          <dt>Raw Metadata</dt>
          <dd>
            <%= link_to(inspect_media_object_path(@media_object.id, 'descMetadata'), target: 'blank') do %>
              View MODS XML <span class="fa fa-external-link"></span>
            <% end %>
          </dd>
        <% end %>
      </dl>
    </div>

    <% if @media_object.supplemental_files.present? || @masterFiles.any? { |section| section.supplemental_files.present? } %>
      <div class="tab-pane" id="files-tab">
        <%= render 'supplemental_files' %>
      </div>
    <% end %>
  </div>

  <div class="card mb-4">
    <div class="card-header">
      <h3 class="card-title">
        Access Restrictions
      </h3>
    </div>
    <div class="card-body">
      <%= @media_object.access_text %> <br />
      Lending Period: <%= ActiveSupport::Duration.build(@media_object.lending_period).to_day_hour_s %>
    </div>
  </div>

  <% if can? :inspect, @media_object %>
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">
        <%= link_to 'Fedora Objects', "#object_tree", :id => 'show_object_tree', role: "button", "data-toggle":"collapse", "aria-expanded": "false", "aria-controls": "object_tree" %>
      </h3>
    </div>
    <div class="card-body collapse" id="object_tree" data-src="<%=tree_media_object_path(@media_object.id)%>"></div>
  </div>
  <% end %>

</div>
