    <div class="row-fluid whitespace">
      <div class="span12">
      <% unless @mediaobject.title.blank? %>
        <h2><%= @mediaobject.title %></h2>
      <% else %>
        <h2><%= @mediaobject.pid %></h2>
      <% end %>
     </div>
    </div>
    
    <div class="row-fluid whitespace">
      <section id="player">
          <% unless @masterFiles.nil? %>
            <%= render partial: "modules/video_player",
              locals: {stream: @currentStream.derivatives.first.url.first,
                     mimetype: @currentStream.derivatives.first.streaming_mime_type,
                     mediapackage_id: @currentStream.mediapackage_id} %>
        <h3>Section(s)</h3>
            <ul class="unstyled">
              <% @masterFiles.each do |master| %>
                <li><%= link_to edit_media_object_path @mediaobject, {step: 'preview', content: master.pid} do %><%= master.label %><% end %>
                   (<%= number_to_human_size(master.size.first) %>)
                </li>
              <% end %>
            </ul>
            <% else %>
              <div class="well">
                <p>No sections have been defined for this resource</p>
              </div>
            <% end %>
      </section>  

      <section id="metadata" class="whitespace">
        <h3>Metadata</h3>
         <%= render "modules/metadata_display" %>
      </section>
    </div>

  <div class="row-fluid">
    <div class="span8">
      <%= twitter_bootstrap_form_for @mediaobject, html: { class: "form-horizontal"} do |vid| %>
        <%= render "workflow_buttons", form: vid %>
      <% end %>
    </div>
  </div>
</div>
  
