    <div class="row-fluid whitespace">
      <div class="span12">
      <% unless @mediaobject.title.empty? %>
        <h2><%= @mediaobject.title.first %></h2>
      <% else %>
        <h2><%= @mediaobject.pid %></h2>
      <% end %>
     </div>
    </div>
    
    <div class="row-fluid whitespace">
      <section id="player">
        <dl>
          <dt>Media files</dt>
          <dd>
            <% unless @masterfiles.nil? %>
              <ul>
                <% @masterfiles.each do |masterfile| %>
                <li><a href="<%= master_file_path(masterfile) %>"><%= masterfile.label %></a></li>
                <% end %>
              </ul>
            <% else %>
              <div class="well">
                <p>Media is still being processed</p>
              </div>
            <% end %>
          </dd>
        </dl>
      </section>  
      <section id="metadata"><%= render "modules/metadata_display" %></section>
    </div>

  <div class="row-fluid">
    <div class="span8">
      <%= twitter_bootstrap_form_for @mediaobject, html: { class: "form-horizontal"} do |vid| %>
        <%= link_to "Back to #{HYDRANT_STEPS.previous(@active_step).title}", 
                    edit_media_object_path(@mediaobject, step: HYDRANT_STEPS.previous(@active_step).step), class: "btn" %>
        <%= hidden_field_tag :step, @active_step %>
        <%= vid.submit "Publish this item" %>
      <% end %>
    </div>
  </div>
</div>
  
