    <div class="row-fluid whitespace">
      <div class="span12">
        <h2>
      <% unless @mediaobject.title.blank? %>
        <%= @mediaobject.title %>
        <% if not @currentStream.blank? %>
         -- <%= @currentStream.label %>
        <% end %>
      <% else %>
        <%= @mediaobject.pid %>
      <% end %>
      </h2>
     </div>
    </div>
    
    <div class="row-fluid whitespace">
      <section id="player">        
        <% if @masterFiles.blank? %>
          <div class="alert">
            <p>No media is associated with this item</p>
          </div>
        <% else if @currentStream.derivatives.blank? %>
          <div class="alert <%= @currentStream.status_code == 'FAILED' ? 'alert-error' : 'alert-info' %>">

            <h4>Conversion Process</h4>
            <br/>
            <p><%= @currentStream.status_description %></p>
            <div class="progress progress-striped active">
              <div class="bar" style="width: <%= @currentStream.percent_complete %>%;"></div>
            </div>
          </div>
        <% else %>
          <div id="nojs">
            <%# TODO : Come up with a more user friendly error message %>
            <noscript>You don't have Javascript</noscript>
          </div>
        <% end %>
      </section>

    <div class="row-fluid whitespace">
      <% unless @masterFiles.empty? %>
        <section>
        <h3>Section(s)</h3>
            <ul class="unstyled">
              <% @masterFiles.each do |master| %>
              <li>
                <%# If the label has not been set use the file name as a default %>
                <%=
                  link_to stream_label_for(master),
                    edit_media_object_path(@mediaobject, 
                      {content: master.pid,
                       step: 'preview'}),
                    data: {segment: master.pid},
                    class: (master.pid == @currentStream.pid ? 'current-stream' : nil)
                %>
                (<%= number_to_human_size(master.file_size) %>)
              </li>
              <% end %>
            </ul> 
        <% end %>
      </section>  
    <% end %>

      <section id="metadata" class="whitespace">
        <h3>Metadata</h3>
         <%= render "media_objects/metadata_display" %>
      </section>
    </div>

  <div class="row-fluid">
    <div class="span8">
      <%= twitter_bootstrap_form_for @mediaobject, html: { class: "form-horizontal"} do |vid| %>
        <%= render "workflow_buttons", form: vid %>
      <% end %>
    </div>
  </div>
</div>
  
<% content_for :page_scripts do %>
  <%# Since there are no streams if @currentStream is nil then don't bother including any of the following content %>
  <%= javascript_include_tag 'swfobject' %>
  <%= javascript_include_tag 'avalonplayer' %>

  <script>
    $(function(){
      if ($("#nojs").length > 0) {
        currentPlayer = avalonPlayer("#player",
                   { hls: <%= @currentStreamInfo[:stream_hls].to_json.html_safe %>,
                     poster: "<%= @currentStreamInfo[:poster_image] %>", 
                     flash: <%= @currentStreamInfo[:stream_flash].to_json.html_safe %>,
                     mediaPackageId: "<%= @currentStreamInfo[:mediapackage_id] %>" });
      }
    })
  </script>
<% end %>
