<%#
Copyright 2011-2024, The Trustees of Indiana University and Northwestern
  University.  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.

You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed
  under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
  CONDITIONS OF ANY KIND, either express or implied. See the License for the
  specific language governing permissions and limitations under the License.
---  END LICENSE_HEADER BLOCK  ---
%>
<% unless ModsDocument::IDENTIFIER_TYPES && ModsDocument::NOTE_TYPES && ModsDocument::RIGHTS_STATEMENTS %>
  <% raise Avalon::VocabularyNotFound.new "Rights statements, Identifier types, or Note types vocabulary not found." %>
<% end %>

<div id="resource_description_content">
  <p class="text-muted">Fields followed by an asterisk (*) are required.</p>
  <%= form_for @media_object, html: { class: 'form-vertical', id: 'resource-description' } do |form| %>
  <%= hidden_field_tag :step, @active_step %>

  <%= render partial: 'text_field',
             locals: {form: form, field: :bibliographic_id,
                      options: {display_label: 'Bibliographic ID',
                                primary_hash_key: :id,
                                secondary_hash_key: :source,
                                dropdown_field: :bibliographic_id_label,
                                dropdown_options: ModsDocument::IDENTIFIER_TYPES,
                                extra_classes: Avalon::BibRetriever.configured? ? 'import-button' : nil}} %>

  <%= render partial: 'text_field',
             locals: {form: form, field: :title,
                      options: {required: true}} %>

  <%= render partial: 'text_field',
             locals: {form: form, field: :date_issued,
                      options: {display_label: 'Publication date'}} %>

  <%= render partial: 'text_field',
             locals: {form: form, field: :creator,
                      options: {display_label: 'Main contributor(s)', multivalued: true}} %>

  <%= render partial: 'text_field',
             locals: {form: form, field: :date_created,
                      options: {display_label: 'Creation date'}} %>

  <%= render partial: 'text_area',
             locals: {form: form, field: :abstract,
                      options: {display_label: 'Summary'}} %>

  <%= render partial: 'text_field',
             locals: {form: form, field: :contributor,
                      options: {multivalued: true}} %>

  <%= render partial: 'text_field',
             locals: {form: form, field: :publisher,
                      options: {multivalued: true}} %>

  <%= render partial: 'text_field',
             locals: {form: form, field: :language,
                      options: {multivalued: true,
                                autocomplete_model: 'languageTerm',
                                autocomplete_validate: false,
                                autocomplete_display_key: :text,
                                autocomplete_id_key: :code,
                                data:{testid:'resource-description-language'}}} 
                                %>

  <%= render partial: 'text_field',
             locals: {form: form, field: :physical_description,
                      options: {display_label: "Physical Description",
                                multivalued: true}} %>

  <%= render partial: 'text_field',
             locals: {form: form, field: :series,
                      options: {display_label: "Series",
                                multivalued: true,
                                autocomplete_model: 'mediaObject',
                                autocomplete_validate: false}} %>

  <%= render partial: 'text_field',
             locals: {form: form, field: :related_item_url,
                      options: {display_label: 'Related Item(s)',
                                multivalued: true,
                                primary_label: 'URL',
                                primary_key: :url,
                                secondary_label: 'Label',
                                secondary_key: :label,
                                secondary_field: :related_item_label}} %>

  <%= render partial: 'text_field',
             locals: {form: form, field: :genre,
                      options: {display_label: 'Genre(s)', multivalued: true}} %>
  <%= render partial: 'text_field',
             locals: {form: form, field: :topical_subject,
                      options: {display_label: 'Subject(s)', multivalued: true}} %>
  <%= render partial: 'text_field',
             locals: {form: form, field: :temporal_subject,
                      options: {display_label: 'Time period(s)', multivalued: true}} %>
  <%= render partial: 'text_field',
             locals: {form: form, field: :geographic_subject,
                      options: {display_label: 'Location(s)', multivalued: true}} %>
  <%= render partial: 'text_field',
             locals: {form: form, field: :permalink,
                      options: {}} %>
  <%= render partial: 'dropdown_field',
             locals: {form: form, field: :rights_statement,
                      options: {display_label: 'Rights Statement',
                                dropdown_options: ModsDocument::RIGHTS_STATEMENTS}} %>
  <%= render partial: 'text_area',
             locals: {form: form, field: :terms_of_use,
                      options: {display_label: 'Terms of Use'}} %>
  <%= render partial: 'text_field',
             locals: {form: form, field: :other_identifier,
                      options: {display_label: 'Other Identifier(s)',
                                multivalued: true,
                                primary_hash_key: :id,
                                secondary_hash_key: :source,
                                dropdown_field: :other_identifier_type,
                                dropdown_options: ModsDocument::IDENTIFIER_TYPES}} %>
  <%= render partial: 'text_area',
             locals: {form: form, field: :table_of_contents,
                      options: {multivalued: true,
                                display_label: 'Table of Contents'}} %>
  <%= render partial: 'text_area',
             locals: {form: form, field: :note,
                      options: {multivalued: true,
                                display_label: 'Note(s)',
                                primary_hash_key: :note,
                                secondary_hash_key: :type,
                                dropdown_field: :note_type,
                                dropdown_options: ModsDocument::NOTE_TYPES }} %>
  <% end %>
  <%= render 'workflow_buttons', form: 'resource-description' %>
</div>
