<%#
Copyright 2011-2014, The Trustees of Indiana University and Northwestern
  University.  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.

You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed 
  under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
  CONDITIONS OF ANY KIND, either express or implied. See the License for the 
  specific language governing permissions and limitations under the License.
---  END LICENSE_HEADER BLOCK  ---
%>

<ul class="nav nav-tabs share-tabs">
  <li class="active"><a href="#link-tab" data-toggle="tab">Share this resource</a></li>
  <li><a href="#embed-tab" data-toggle="tab">Embed</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="link-tab">
    <p class="muted">Copy the link below to share this resource</p>
    <form role="form">
      <div class="form-group">
        <label for="link-object">Item</label>
        <input type="text" class="col-md-5 form-control" id="link-object" value="<%= share_link_for(@mediaobject) %>" onClick="this.select();" readonly="readonly">
      </div>
      <div class="form-group">
        <label for="link-section">Section</label>
        <% if @currentStream.present? %>
          <input type="text" class="col-md-5 form-control" id="link-section" value="<%= share_link_for(@currentStream) %>" onClick="this.select();" readonly="readonly">
        <% else %>
          <p class="muted"> <%= I18n.t('media_object.empty_share_section_permalink_notice') %> </p>
        <% end %>
      </div>
    </form>
  </div>
  
  <div class="tab-pane" id="embed-tab">
    <% if @currentStream.present? %>
      <p class="muted">Copy the text below to embed this resource</p>
      <textarea class="col-md-6" rows="3" id="embed-part" onClick="this.select();" readonly="readonly">
        <%= @currentStream.embed_code(MasterFile::EMBED_SIZE[:medium], { urlappend: '/embed' }) %>
      </textarea>
    <% else %>
      <p class="muted"> <%= I18n.t('media_object.empty_share_link_notice') %> </p>
    <% end %>
  </div>
</div>

<% content_for :page_scripts do %>

<script>
  $(document).ready(function() {
    $(document).on('streamswitch', function(e, stream_info){
      var shareLink = $('a.current-stream').data('share-link')
      $('#link-section').val(shareLink);
      if (stream_info != null) {
        $('#embed-part').text(stream_info.embed_code);
      }
    });
    $('.share-tabs a').click(function (e) {
      e.preventDefault();
      $(this).tab('show');
    });
  })
</script>

<% end %>
