<% if section=='tab-content' %>

    <div class="tab-pane" id="link-tab">
      <p class="muted">Copy the link below to share this resource</p>
      <form role="form">
        <div class="form-group">
          <label for="link-object">Item</label>
          <input type="text" class="col-md-5 form-control" id="link-object" value="<%= share_link_for(@mediaobject) %>" placeholder="<%= share_link_for(@mediaobject) %>" onClick="this.select();" readonly="readonly">
        </div>
        <div class="form-group">
          <label for="share-link-section">Section</label>
          <% if @currentStream.present? %>
          <input type="text" class="col-md-5 form-control" id="share-link-section" value="<%= share_link_for(@currentStream) %>" placeholder="<%= share_link_for(@currentStream) %>" onClick="this.select();" readonly="readonly">
          <% else %>
          <p class="muted"> <%= I18n.t('media_object.empty_share_section_permalink_notice') %> </p>
          <% end %>
        </div>
      </form>
    </div>

<% elsif section=='share-tabs' %>

    <li><a href="#link-tab" data-toggle="tab">Share this resource</a></li>

<% end %>
