<%#
Copyright 2011-2024, The Trustees of Indiana University and Northwestern
  University.  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.

You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed
  under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
  CONDITIONS OF ANY KIND, either express or implied. See the License for the
  specific language governing permissions and limitations under the License.
---  END LICENSE_HEADER BLOCK  ---
%>

<p class="text-muted">Drag files to reorder them.</p>

<% if @masterFiles.blank? %>
  <div class="well">There are no media files</div>
<% else %>
  <div id="mediaobject_structure">
    <ul class="header">
      <li>Type</li>
      <li>Section label</li>
      <li>File name</li>
      <li>Size</li>
      <li></li>
    </ul>
    <ul class="sortable">
      <% @masterFiles.each_with_index do |section, index| %>
      <li class="section" data-segment="<%= section.id %>">
        <ul class="fileinfo">
          <li>
            <% case section.file_format
                when 'Sound' %>
            <i class="fa fa-volume-up"></i>
            <% when 'Moving image' %>
            <i class="fa fa-film"></i>
            <% else %>
            <i class="fa fa-question-sign"></i>
            <% end %>
          </li>
          <li>
            <%= section.title.blank? ? '&#8212;'.html_safe : section.title %>
          </li>
          <li class="mediaobject-filename">
            <% if section.file_location.present? %>
            <%= truncate_center(File.basename(section.file_location.to_s), 50, 20) %>
            <% else %>
            -
            <% end %>
          </li>
          <li>
            <%= number_to_human_size(section.file_size) %>
          </li>
          <li>
            <button class="btn btn-outline btn-struct" type="button" data-toggle="collapse" data-target="#structure_<%= index %>" aria-expanded="false" aria-controls="structure_<%= index %>" data-testid="media-object-edit-structure-btn">
              Edit Structure
            </button>
          </li>
        </ul>
        <div id="structure_<%= index %>" class="collapse structure_tool">
          <div class="tool_actions">
            <span class="tool_label">Structure</span>
            <%= form_for section, :url => attach_structure_master_file_path(section.id), html: {method: "post"} do |form| %>
            <%= form.file_field :structure, id: "structure_#{index}_filedata", class: "filedata", style: "display:none;" %>
            <% item_label=html_escape(stream_label_for(section)) %>
            <% stream_url=hls_manifest_master_file_url(section.id, quality: 'auto') %>
            <div class="btn-toolbar">
              <label class="btn btn-primary btn-struct mr-1 file-upload-label" for="structure_<%= index %>_filedata"><%= section.structuralMetadata.present? ? 'Replace' : 'Upload'%></label>
              <% if section.structuralMetadata.valid? %>
                <%= react_component("ReactButtonContainer", {canvasIndex: index, mediaObjectID: @media_object.id, masterFileID: section.id, baseURL: request.protocol+request.host_with_port, initStructure: section.structuralMetadata.as_json}, html_options={ class: 'react-button-container' }) %>
              <% else %>
                <%= react_component("ReactButtonContainer", {canvasIndex: index, mediaObjectID: @media_object.id, masterFileID: section.id, baseURL: request.protocol+request.host_with_port, initStructure: { label: "#{item_label}", type: "div", items: [] }}, html_options={ class: 'react-button-container' }) %>
              <% end %>
              <button type="button" class="btn btn-primary btn-struct mr-1" value="Advanced Edit" data-toggle="modal"
                data-target="#advanced_edit_structure_<%= index %>">Advanced Edit</button>
              <% if section.structuralMetadata.present? %>
                <%= link_to 'Remove', structure_master_file_path(section.id), method: :delete, class: 'btn btn-danger btn-struct btn-confirmation', data: {placement: 'top'} %>
              <% end %>
            </div>
            <% end %>
          </div>
          <div class="structure_view"></div>
          <div style="margin-top: 5px; font-style: italic;">
            Note: Any edits made with the Edit Structure tool will not be reflected here or in the Advanced Edit tool
            until this page is refreshed.
          </div>
        </div>
      </li>
      <% end %>
    </ul>
  </div>
  <br class="clear" />
  <%= bootstrap_form_for @media_object do |media| %>
  <%= render "workflow_buttons" %>
<% end %>

<% @masterFiles.each_with_index do |section, index| %>
<% default_structure="<Item label='#{html_escape(stream_label_for(section))}'></Item>" %>
<div id="advanced_edit_structure_<%= index %>" class="structure_edit modal fade" data-backdrop="static"
  data-submit_url="<%= attach_structure_master_file_path(section.id) %>">
  <div class="modal-dialog modal-xl" style="width:65%">
    <div class="modal-content col-md-12">
      <div class="modal-header">
        <h4 class="modal-title">Advanced Edit Structure</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body structure_edit col-md-12" style="height:40vh">
        <textarea rows=20 class="col-md-12 original_textarea" id="structure_<%= index %>"
          style="visibility:hidden"><%= section.structuralMetadata.valid? ? section.structuralMetadata.to_xml : default_structure %></textarea>
      </div>
    </div>
  </div>
</div>
<% end %>
<% end %>

<% content_for :page_scripts do %>
<script>
  function htmlDecode(value) {
    return $('<div/>').html(value).text();
  }

  function parse_structure(xml, index) {
    var $xml = $($.parseXML(xml));
    var $item = $xml.find("Item");
    if ($item.length) {
      if ($item.children().length) return "<span>" + $item.attr('label') + "</span><ul>" + parse_section($item.first(),
        index)[0] + "</ul>";
      else return "<span>" + (index + 1) + ". " + $item.attr('label') + "</span>";
    } else return "";
  }

  function parse_section(node, index) {
    var contents = '';
    var tracknumber;
    var nodecontents;
    if (node.children().length) {
      tracknumber = 0;
      $.each(node.children(), function (index, node) {
        nodecontents = parse_node(node, tracknumber);
        contents += nodecontents[0];
        tracknumber = nodecontents[1];
      });
    } else {
      nodecontents = parse_node(node.first, index);
      contents = nodecontents[0];
      tracknumber = nodecontents[1];
    }
    return [contents, tracknumber];
  }

  function parse_node(node, tracknumber) {
    if (node.nodeName.toUpperCase() == "DIV") {
      var contents = ''
      $.each($(node).children(), function (index, node) {
        var nodecontents = parse_node(node, tracknumber);
        contents += nodecontents[0];
        tracknumber = nodecontents[1];
      });
      return ["<li>" + $(node).attr('label') + "</li><li><ul>" + contents + "</ul></li>", tracknumber];
    } else if ($.inArray(node.nodeName.toUpperCase(), ['SPAN', 'ITEM']) != -1) {
      tracknumber += 1;
      return ["<li class='stream-li'>" + tracknumber + ". " + $(node).attr('label') + "</li>", tracknumber];
    } else {
      return ["", tracknumber];
    }
  }

  $('.filedata').change(function () {
    $(this).closest('form').submit();
  });

  function populate_structure_preview(index) {
    $xmltextarea = $('#advanced_edit_structure_' + index).find('textarea.original_textarea');
    $('#structure_' + index).find('.structure_view').html(parse_structure(htmlDecode($xmltextarea.html()), index));
  }

  function attach_structure_response(r) {
    if (r['flash'] && r['flash'].length) {
      msg = ''
      for (var i = 0; i < r['flash'].length; i++) {
        for (var j = 0; j < r['flash'][i][1].length; j++) {
          msg += r['flash'][i][1][j] + '<br/>';
        }
      }
      return msg;
    } else {
      modal = $(`.structure_edit[data-submit_url='${$(this)[0].url}']`)
      modal.find('textarea.original_textarea').html(r['structure']);
      section_index = parseInt(modal.attr('id').split('_').pop());
      populate_structure_preview(section_index);
      modal.modal('hide');
    }
  }

  var extractor = new Xsd2Json('avalon_structure.xsd', {
    'schemaURI': '/',
    'rootElement': 'item'
  });
  $('.structure_edit.modal').on('shown.bs.modal', function () {
    modal = $(this);
    if (modal.find('.xml_editor_container').length > 0) return;

    te = modal.find('.original_textarea').first();
    te.xmlEditor({
      schema: extractor.getSchema(),
      floatingMenu: false,
      confirmExitWhenUnsubmitted: false,
      loadSchemaAsychronously: false,
      xmlEditorLabel: 'Graphical',
      textEditorLabel: 'Raw XML',
      containerElement: {
        element: modal.find('.modal-body').first(),
        fixedHeight: true,
      },
      submitButtonConfigs: [{
        url: $(this).data('submit_url'),
        responseHandler: attach_structure_response,
        label: 'Save and Exit',
        cssClass: 'btn btn-primary section_edit_submit',
      }],
      defaultView: 'text',
    });
  });
</script>
<% end %>
