          <% if section.supplemental_files.present? %>
            <% files=tag.empty? ? supplemental_files.select { |sf| sf.tags.empty? } : supplemental_files.select { |sf| sf.tags.include?(tag) } %>
            <div class="file_view">
              <% files.each do |file| %>
                <div class="row" data-file-id="<%= file.id %>" data-masterfile-id="<%= section.id %>" >
                    <span name="label_<%= section.id + "_" + file.id.to_s %>" class="display-item"><%= file.label %></span>
                    <%= form_for :supplemental_file, url: object_supplemental_file_path(section, file), remote: true,
                          html: { method: "put", class: "supplemental-file-form edit-item", id: "form-#{file.id}" },
                          data: { file_id: file.id, masterfile_id: section.id } do |form| %>
                        <div class="col-sm-6 col-xs-6">
                          <div class="form-group">
                            <%= form.text_field :label, id: "supplemental_file_input_#{section.id}_#{file.id}", value: file.label %>
                          </div>
                        </div>
                        <div class="col-sm-6 col-xs-6">
                          <div class="btn-toolbar">
                            <%= button_tag name: 'save_label', :class => "btn btn-default btn-xs edit-item" do %>
                              <i class="fa fa-check" title="Save"></i> <span class="sm-hidden">Save</span>
                            <% end %>
                            <%= button_tag name: 'cancel_edit_label', class:'btn btn-danger btn-xs edit-item outline_on', type: 'button' do%>
                              <i class="fa fa-times" title="Cancel"></i> <span class="sm-hidden">Cancel</span>
                            <% end %>
                          </div>
                        </div>
                    <% end %>
                    <small class="visible-inline" name="flash-message-<%= section.id %>-<%= file.id %>"></small>
                    <div class="btn-toolbar">
                      <%# Update button %>
                      <%= button_tag name: 'edit_label', class:'btn btn-default btn-xs edit_label display-item outline_on pull-right', type: 'button' do %>
                        <i class="fa fa-edit" title="Edit"></i> <span class="sm-hidden">Edit</span>
                      <% end %>
                      <%= link_to("Remove", object_supplemental_file_path(section, file), title: 'Remove', method: :delete, class: "btn btn-danger btn-xs file-remove") %>
                    </div>
                </div>
              <% end %>
            </div>
          <% end %>