      <div id="files_<%= index %>" class="section_files_tool">
        <span class="tool_label"><%= label %></span>
        <%= form_for :supplemental_file, :url => object_supplemental_files_path(section), html: {method: "post"} do |form| %>
          <%= form.file_field :file, class: "filedata" %>
          <input type="button" class="btn btn-primary btn-xs" onclick="$('#files_<%= index %> .filedata').click();"
            value="Upload" />
        <% end %>
        <div class="file_view">
          <% section.supplemental_files.each do |file| %>
            <div class="row" data-file-id="<%= file.id %>" data-masterfile-id="<%= section.id %>" data-file-label="<%= file.label %>">
              <div class="col-sm-6">
                <span name="label_<%= section.id + "_" + file.id.to_s %>" class="display-item"><%= file.label %></span>
                <input name="label_<%= section.id + "_" + file.id.to_s %>" type="text" class="form-control edit-item outline_on" value="<%= file.label %>">
              </div>
              <div class="col-sm-6">
                <div class="btn-toolbar">
                  <%# Update button %>
                  <%= button_tag name: 'edit_label', class:'btn btn-default btn-xs edit_label display-item outline_on pull-right', type: 'button' do %>
                    <i class="fa fa-edit" title="Edit"></i> <span class="sm-hidden">Edit</span>
                  <% end %>
                  <%# Save button %>
                  <%= button_tag name: 'save_label', class:'btn btn-default btn-xs edit-item outline_on pull-right', type: 'button' do%>
                    <i class="fa fa-check" title="Save"></i> <span class="sm-hidden">Save</span>
                  <% end %>
                  <%# Cancel button %>
                  <%= button_tag name: 'cancel_edit_label', class:'btn btn-danger btn-xs edit-item outline_on', type: 'button' do%>
                    <i class="fa fa-times" title="Cancel"></i> <span class="sm-hidden">Cancel</span>
                  <% end %>
                  <%= link_to("Remove", object_supplemental_file_path(section, file), title: 'Remove', method: :delete, class: "btn btn-danger btn-xs file-remove") %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>