<%#
Copyright 2011-2014, The Trustees of Indiana University and Northwestern
  University.  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.

You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed 
  under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
  CONDITIONS OF ANY KIND, either express or implied. See the License for the 
  specific language governing permissions and limitations under the License.
---  END LICENSE_HEADER BLOCK  ---
%>
<!-- <%= field.to_s.humanize %> field -->
  <div class="form-group <% if options[:multivalued] %>multivalued<% end %> <% if @mediaobject.errors[field].any? %>has-error<% end %>">
    <%= render partial: "modules/tooltip", locals: { form: form, field: field, tooltip: t("metadata_tip.#{field.to_s}"), options: options } %>
    <% if @mediaobject.errors[field].any? %>
      <%= content_tag :span, @mediaobject.errors[field].join(", "), class: 'help-block' %>
    <% end %>
    <% if options[:multivalued] %>
      <% values = @mediaobject.send(field) %>
      <% count = [1, values.length].max %>
      <% count.times do |i| %>
        <% value = values[i] %>
	<div class="input-group">
          <% if options[:dropdown_field] and value.kind_of?(Array) %>
	    <%= render partial: "dropdown_field", locals: {selected_value: value[0], options: options} %>
            <%= text_field_tag "media_object[#{field.to_s}][]", value[1] || '', class: 'form-control' %>
	  <% else %>
            <%= text_field_tag "media_object[#{field.to_s}][]", value || '', class: 'form-control' %>
	  <% end %>
        </div>
      <% end %>
    <% else %>
      <% if options[:dropdown_field] %>
        <% value = @mediaobject.send(field) %>
        <div class="input-group">
	  <%= render partial: "dropdown_field", locals: {selected_value: value[0], options: options} %>
          <%= text_field_tag "media_object[#{field.to_s}][]", value[1] || '', class: 'form-control' %>
        </div>
      <% else %>
        <%= form.text_field field, class: 'form-control' %>
      <% end %>
    <% end %>
  </div>
