<%#
Copyright 2011-2025, The Trustees of Indiana University and Northwestern
  University.  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.

You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed
  under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
  CONDITIONS OF ANY KIND, either express or implied. See the License for the
  specific language governing permissions and limitations under the License.
---  END LICENSE_HEADER BLOCK  ---
%>
<!-- <%= field.to_s.humanize %> field -->
  <div class="form-group <% if options[:multivalued] %>multivalued<% end %> <% if @media_object.errors[field].any? %>invalid-feedback<% end %>">
    <%= render partial: "modules/tooltip", locals: { form: form, field: field, tooltip: t("metadata_tip.#{field.to_s}"), error: @media_object.errors[field].any?, options: options } %>
    <% if @media_object.errors[field].any? %>
      <%= content_tag :span, @media_object.errors[field].join(", "), class: (@media_object.errors[field].any? ? 'form-text invalid-feedback' : 'form-text') %>
    <% end %>
    <% values = @media_object.send(field) || "" %>
    <% fieldarray = "" %>
    <% if options[:multivalued] %>
      <% fieldarray = "[]" %>
    <% else %>
      <% values = [values] %>
    <% end %>
    <% fieldname = "media_object[#{field.to_s}]#{fieldarray}" %>
    <% count = [1, values.length].max %>
    <% count.times do |i| %>
      <% value = values[i] %>
      <div class="input-group <%=options[:extra_classes]%>">
        <% if options[:autocomplete_model] and options[:autocomplete_model].present? %>
          <%= render partial: "typeahead_field", locals: {fieldname: fieldname, value: value, options: options} %>
        <% elsif options[:secondary_field] and options[:secondary_field].present? %>
          <%= render partial: "two_part_field", locals: {fieldname: fieldname, value: value, options: options} %>
        <% else %>
          <% if options[:dropdown_field] %>
            <%= render partial: "multipart_dropdown_field", locals: {selected_value: value.present? ? value[options[:secondary_hash_key]] : nil, options: options} %>
              <% value = value.present? ? value[options[:primary_hash_key]] : "" %>
          <% end %>
          <%= text_field_tag fieldname, value || '', class: (@media_object.errors[field].any? ? 'form-control is-invalid' : 'form-control'), data: { testid: "resource-description-#{field.to_s.dasherize}" } %>
        <% end %>
      </div>
    <% end %>
  </div>
