      <div id="transcripts_<%= section.id %>" class="section-transcripts section_files_tool">
        <span class="tool_label"><%= label %></span>
        <%= form_with model: section, :url => attach_transcripts_master_file_path(section.id), html: {method: "post"} do |form| %>
          <%= form.file_field :transcripts, class: "filedata" %>
          <input type="button" class="btn btn-primary" onclick="$('#transcripts_<%= section.id %> .filedata').click();"
            value="<%= section.transcripts.present? ? 'Replace' : 'Upload' %>" />
          <% if section.transcripts.present? %>
            <input type="submit" class="btn btn-danger" value="Remove" />
          <% end %>
        <% end %>
        <% if section.transcripts.present? %>
          <div class="file_view"><%= section.transcripts.original_name %></div>
        <% end %>
      </div>