<%#
Copyright 2011-2015, The Trustees of Indiana University and Northwestern
  University.  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.

You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed 
  under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
  CONDITIONS OF ANY KIND, either express or implied. See the License for the 
  specific language governing permissions and limitations under the License.
---  END LICENSE_HEADER BLOCK  ---
%>
<div class="container-fluid">
  <% if  @candidates.count == 0 || params[:id].empty? %>
    <div class="alert alert-danger">
      <% if params[:id].empty? %>
        <p>No items were selected.</p>
      <% else %>
        <p>You do not have sufficient rights to any other collections to reassign selected items.</p>
      <% end %>
    </div>
    <%= link_to 'Go back', :back, class: 'btn btn-default' %> 
  <% else %>
    <% params[:id] = Array(params[:id]) %>
    <%= form_tag reassign_collection_media_objects_path, method: 'put' do %>
      <%= hidden_field_tag 'previous_view', @previous_view %>
      <div class="row-fluid">
	<div class="alert">
	  <fieldset>
	    <legend>Assign Selected Items to Collection</legend>
	    <ul>
	      <% params[:id].each do |id| %>
                <% @mediaobject = MediaObject.find(id)  %>
	        <% if can? :update, @mediaobject  %>
                  <li><%= @mediaobject.title %> (<%= id %>) <%= hidden_field_tag 'id[]', id %></li>
	        <% else %>
                  <li><%= @mediaobject.title %> (<%= id %>): permission denied</li>
	        <% end %>
	      <% end %>
	    </ul>
	    <p>
	      Please select a new collection for selected items.
	    </p>
	    <%= select_tag :target_collection_id, options_from_collection_for_select(@candidates, "pid", "name") %>
	  </fieldset>
	</div>
      </div>
      <div class="row-fluid form-inline">
	<div class="form-group">
	  <%= submit_tag "Submit", class: "btn btn-default" %>
	  <%= link_to 'Cancel', :back, class: 'btn btn-default' %> 
	</div>
      </div>
    <% end %>
  <% end %>
</div>
