<div class="row-fluid">
  <div class="span3" id="left_column">
    <%= render "toggle_preview_mode" %>
    
    <% if can? :edit, @mediaobject %>
      <%= render "ingest_steps" %>
    <% end %>
  </div>
  
  <div id="main_body" class="offset1 span8">
    <div id="permalink" class="alert alert-success">
      <h4 class="alert-heading">Permalink</h4>
      <p>To share this item with others use the following canonical link</p>
      <address><%= link_to media_object_url(params[:id]), media_object_url(params[:id]) %></address>
    </div>

  <% if flash[:upload] %>
    <div id="upload_format" class="alert active">
      <p class="notice"><%= flash[:upload] %></p>
    </div>
  <% end %>

  <% if flash[:errors] %>
    <div id="errors_information" class="alert alert-error active">
     <p class="notice"><%= flash[:errors] %></p>
  </div>
  <% end %>
  
  <% if @workflow_steps.exists? params[:step] %>
    USING PARAMETER
    <%= render current_step_for params[:step] %>
  <% else %>
    USING DATABASE
    <%= render current_step_for @ingest_status.current_step %>
  <% end %>
</div>

<% content_for :title do %>
  Edit -
  <% unless @mediaobject.title.empty? %>
    <%= @mediaobject.title.first %> (<%= @mediaobject.pid %>)
  <% else %>
    <%= @mediaobject.pid %>
  <% end %>
<% end %>
