<%#
Copyright 2011-2025, The Trustees of Indiana University and Northwestern
  University.  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.

You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed
  under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
  CONDITIONS OF ANY KIND, either express or implied. See the License for the
  specific language governing permissions and limitations under the License.
---  END LICENSE_HEADER BLOCK  ---
%>
<% @page_title = t('media_objects.edit.title', :media_object_title => (@media_object.title || @media_object.id), :step_title => HYDRANT_STEPS.get_step(@active_step).title, :application_name => application_name) %>


<div class="row content-block">
  <div class="col-sm-3" id="sidebar">
    <%= render "ingest_steps" %>
    <%= render "remove_item" %>
  </div>

  <div id="main_body" class="col-sm-9">
    <h1 class="sr-only">Edit Media Object</h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <%= link_to @media_object.collection.name.present? ? @media_object.collection.name : 'Untitled collection', admin_collection_path(@media_object.collection.id) %>
      </li>
      <li class="breadcrumb-item"><%= @media_object.title.present? ? @media_object.title : 'Untitled item' %></li>
    </ol>

    <div class="page-title-wrapper">
      <h2 class="headline"><span class="sub-headline">Edit Media Object</span> >
        <%= HYDRANT_STEPS.get_step(@active_step).title %></h2>
    </div>

    <%= render current_step_for @active_step %>
  </div>
</div>
