<html>
  <head>
    <title><%= @mediaobject.title %> (<%= @mediaobject.pid %>)</title>
    
    <%= stylesheet_link_tag "application" %>
    <%= stylesheet_link_tag "avalon" %>
    
    <%= javascript_include_tag "application" %>
  </head>

  <body>
    <h1><%= @mediaobject.title %></h1>

    <%# Here comes the hack to HTTP live stream. This naively assumes that
        you are using a MP4 live stream instead of FLV. All of this needs to go
        into a helper method so the view is not so messy. %>
        <% format = case @currentStream.file_format
            when "Moving image"
             'video'
            when "Sound"
             'audio'
           else
             'other'
           end 
         
           stream = @currentStream.derivatives.first.streaming_url(true, format) %>
    
    <p>Loading <%= format %> stream from <%= stream %> </p>
    <video width="640" height="480" controls="controls" id="video_player">
      <source src="<%= stream %>" type="video/mp4" %>
      Your browser does not support HTML5 video (MPEG4)
    </video>

    <hr />
    <h2>Browser support for the &lt;video&gt; tag</h2>
    <table>
      <thead>
        <tr>
          <td>Format</td>
          <td>Supported?</td>
        <tr/>
        </thead>
        <tbody>
          <tr>
            <td>HTTP Live Streaming</td>
            <td id="hls"> - </td>
          </tr>  
          <tr>
            <td>H.264 MPEG4</td>
            <td id="x264"> - </td>
          </tr>
        </tbody>
    </table>
  </body>
  <script>
     v_element = document.getElementById('video_player');
     hls_value = v_element.canPlayType('application/vnd.apple.mpegurl');
     $('#hls').text(hls_value);

     x264_value = v_element.canPlay('video/mp4');
     $('x264').text(x264_value); 
  </script>
</html>
