<div class="row-fluid">
  <div class="span3" id="left_column">
    <% if can? :edit, @mediaobject %>
      <%= render "toggle_edit_mode" %>
      <%= render "withdraw_object", mediaobject: @mediaobject %>
    <% end %>
  </div>

  <div id="main_body" class="offset1 span8">
    <div class="row-fluid whitespace">
      <div class="span12">
        <% unless @mediaobject.title.blank? %>
      <h2><%= @mediaobject.title %></h2>
      <% else %>
        <h2><%= @mediaobject.pid %></h2>
      <% end %>
     </div>
    </div>
    
    <div class="row-fluid whitespace">
      <section id="player">        
        <% if @masterfiles.nil? || @masterfiles.count == 0 %>
          <div class="well">
            <p>No media is associated with this item</p>
          </div>
        <% else %>
          <%= render partial: "modules/video_player",
            locals: {stream: @masterfiles.first.derivatives.first.url.first,
                     mimetype: @masterfiles.first.derivatives.first.streaming_mime_type,
                     mediapackage_id: @masterfiles.first.mediapackage_id} %>
          <h3>Sections</h3>
              <ul class="unstyled">
                <% @masterfiles.each do |masterfile| %>
                <li><%= masterfile.label %> (<%= number_to_human_size(masterfile.size.first) %>)</li>
                <% end %>
              </ul>
        <% end %>
      </section>  
    </div>

    <div class="row-fluid whitespace">
      <h3>Resource description</h3>
      <section id="metadata"><%= render "modules/metadata_display" %></section>
    </div>
        
    <div class="row-fluid">
      <div id="permalink" class="alert alert-success">
      <h4 class="alert-heading">Permalink</h4>
      <p>To share this item with others use the following canonical link</p>
      <address><%= link_to media_object_url(@mediaobject.pid) %></address>
    </div>
  </div>
</div>

<% content_for :title do %>
  Preview -
  <% unless @mediaobject.title.blank? %>
  <%= @mediaobject.title %> (<%= @mediaobject.pid %>)
  <% else %>
    <%= @mediaobject.pid %>
  <% end %>
<% end %>
