<div class="row-fluid">
  <div class="span3" id="left_column">
    <% if can? :edit, @mediaobject %>
      <%= render "toggle_edit_mode" %>
      <%= render "conversion_status", master_files: @master_files %>
      <%= render "withdraw_object", mediaobject: @mediaobject %>
    <% end %>
  </div>

  <div id="main_body" class="offset1 span8">
    <div class="row-fluid whitespace">
      <div class="span12">
        <% unless @mediaobject.title.blank? %>
      <h2><%= @mediaobject.title %></h2>
      <% else %>
        <h2><%= @mediaobject.pid %></h2>
      <% end %>
     </div>
    </div>
    
    <div class="row-fluid whitespace">
      <section id="player">        
        <% if @masterfiles.nil? || @masterfiles.count == 0 %>
          <div class="well">
            <p>No media is associated with this item</p>
          </div>
        <% else %>
          <dl>
            <dt>Media files</dt>
            <dd>
              <ul>
                <% @masterfiles.each do |masterfile| %>
                <li><a href="<%= master_file_path(masterfile) %>"><%= masterfile.label %></a></li>
                <% end %>
              </ul>
            </dd>
          </dl>
        <% end %>
      </section>  

      <section id="metadata"><%= render "modules/metadata_display" %></section>
    </div>
    
    <div class="row-fluid">
      <div id="permalink" class="alert alert-success">
      <h4 class="alert-heading">Permalink</h4>
      <p>To share this item with others use the following canonical link</p>
      <address><%= link_to media_object_url(@mediaobject.pid) %></address>
    </div>
  </div>
</div>

<% content_for :title do %>
  Preview -
  <% unless @mediaobject.title.blank? %>
  <%= @mediaobject.title %> (<%= @mediaobject.pid %>)
  <% else %>
    <%= @mediaobject.pid %>
  <% end %>
<% end %>
