<% if flash[:error] %><div class="alert alert-error"><%= flash[:error] %></div><% end %>
<!-- <%= @video.nil? %> -->
<%= twitter_bootstrap_form_for @video, class: "form-horizontal",
    id: 'access_control_form' do |vid| %>
  <%= vid.fieldset "Access control", id: 'access_control' do %>    
    <%= vid.hidden_field :pid %>
    <%= hidden_field_tag 'step', 'access_control' %>
<!--<%= @video.access %>-->
    <%= radio_button_tag :access, 'public', checked: (@video.access == "public") %>
    <%= label_tag :access_public, 'Public' %>
    <%= radio_button_tag :access, 'restricted', checked: (@video.access == "restricted") %>
    <%= label_tag :access_restricted, 'Restricted' %>
    <%= radio_button_tag :access, 'private', checked: (@video.access == "private") %>
    <%= label_tag :access_private, 'Private' %>
  
    <%= vid.actions do |actions| %>
      <%= link_to "Back to resource description",
            edit_video_path(@video, step: 'basic_metadata'),
            id: 'previous_screen',
            class: 'btn',
            name: 'previous_screen' %>
      <%= vid.submit "Preview and publish" %>
    <% end %>
  <%- end -%>
<% end %>
