<% if flash[:error] %><div class="alert alert-error"><%= flash[:error] %></div><% end %>

<%= twitter_bootstrap_form_for @video, class: "form-horizontal",
    id: 'basic_metadata_form' do |vid| %>
  <%= vid.fieldset "Basic metadata", id: 'basic_metadata' do %>    
    <%= vid.hidden_field :pid %>
    <%= hidden_field_tag 'step', 'basic_metadata' %>
  
    <%= vid.text_field :title, "Title", class: 'span12', value: @video.title.first %>
    <%= vid.text_field :creator, "Creator", class: 'span12',
      value: @video.creator.first %>
    <%= vid.text_field :created_on, "Created on", class: 'span12',
      value: @video.created_on.first %>
    <%= vid.text_area :abstract, "Summary (optional)", class: 'span12', rows: 6,
      value: @video.abstract.first %>

    <%= vid.actions do |actions| %>
      <%= link_to "Back to file upload",
            edit_video_path(@video, step: 'file_upload'),
            id: 'previous_screen',
            class: 'btn',
            name: 'previous_screen' %>
      <%= vid.submit "Save and finish" %>
    <% end %>
  <%- end -%>
<% end %>
