<div class="row-fluid">
  <div class="span3" id="left_column">
    <%= render "video_assets/upload_status", files: @file_assets %>
    <%= render "videos/withdraw_object", document: @document %>
  </div>

  <div id="main_body" class="offset1 span7">
    <div id="permalink" class="alert alert-success">
      <h4 class="alert-heading">Permalink</h4>
      <p>To share this resource with others use the following canonical link</p>
      <address><%= link_to catalog_url(params[:id]), catalog_url(params[:id]) %></address>
    </div>

    <%= render "video_assets/video_assets_form" %> 
    <%= render "videos/publication_form" %> 
  </div>
</div>

