<%= form_tag(hydra_asset_path(:asset_id=>params[:id]), :method => "PUT", :class => "step", id: 'publication_history_form') do -%>
  <p id="title_field" class="fedora-text-field">
    <%= fedora_field_label("descMetadata", [:title], "Title<span class=\"required-note\">Required</span>".html_safe) %>
    <%= fedora_text_field(@document_fedora,"descMetadata", [:title], :multiple=>false, :required=>true) %>
  </p>

  <p id="doc_field" class="fedora-text-field">
    <%= fedora_field_label("descMetadata", [:creator], "Creator<span class=\"required-note\">Required</span>".html_safe) %>
    <%= fedora_text_field(@document_fedora,"descMetadata", [:creator], :multiple=>false, :required=>true) %>
  </p>

  <p id="doc_field" class="fedora-text-field">
    <%= fedora_field_label("descMetadata", [:created_on], "Date of creation") %>
    <%= fedora_text_field(@document_fedora,"descMetadata", [:created_on], :multiple=>false, :required=>false) %>
  </p>

  <div class="all-steps-actions">
    <button id="all_save_continue" name="all_save_continue">Save and Continue Editing</button>
    <button id="all_save_finish" name="all_save_finish">Save and Finish</button>
  </div>
<%- end -%>
