<div class="row-fluid">
  <div class="span3" id="left_column">
    <% if can? :edit, @video %>
    <%= render "conversion_status", files: @video_assets %>
    <%= render "withdraw_object", video: @video %>
    <% end %>
  </div>
  
  <div id="main_body" class="offset1 span8">
    <div id="permalink" class="alert alert-success">
      <h4 class="alert-heading">Permalink</h4>
      <p>To share this item with others use the following canonical link</p>
      <address><%= link_to video_url(params[:id]), video_url(params[:id]) %></address>
    </div>

  <%
   # Switch based on the current step to display the appropriate content. A
   # richer version down the road might show all at once and use some clever
   # Javascript to do accordion style on the fly switching. For now keep it 
   # simple and without any extra functionality %>
   <% case params[:step]
     when 'file_upload' -%>
       <%= render 'file_upload' %>
   <% when 'basic_metadata' %>
       <%= render 'basic_metadata' %>
   <% when 'optional_metadata' %>
       <%= render 'optional_metadata' %>
   <% else %>
       <%= render 'file_upload' %>
   <% end %>
</div>

<% content_for :breadcrumbs do %>
  <% links = [{label: 'Home', link: root_path}, {label: params[:id], link: ''}] %>
  <%= render "modules/breadcrumbs" %>
<% end %>
