<div class="row-fluid">
  <div class="span3" id="left_column">
    <%= render "conversion_status", files: @file_assets %>
    <%= render "withdraw_object", video: @video %>
  </div>

  <div id="main_body" class="offset1 span7">
    <div id="permalink" class="alert alert-success">
      <h4 class="alert-heading">Permalink</h4>
      <p>To share this resource with others use the following canonical link</p>
      <address><%= link_to video_url(@video.pid) %></address>
    </div>
    
    <h2><% unless @video.descMetadata.title.empty? %><%= @video.descMetadata.title[0] %><% end %></h2>
    <%= render "modules/video_player" %>
    <section id="metadata">
      <%= render "modules/metadata_display" %>
    </section>
</div>
