<div class="row-fluid">
  <div class="span3" id="left_column">
  </div>

  <div id="main_body" class="offset1 span8">
    <div class="row-fluid whitespace">
      <div class="span12">
        <h2>
    		  <% unless @masterfile.label.blank? %>
                <%= @masterfile.label %>
          <% else %>
            <%= @masterfile.url %>
          <% end %>
        </h2>
     </div>
    </div>
    
    <div class="row-fluid whitespace">
      <section id="player">
        <% unless @masterfile.derivatives.empty? %>
          <%= render partial: "modules/video_player",
            locals: {stream: @masterfile.derivatives.first.url.first,
                     mimetype: @masterfile.derivatives.first.streaming_mime_type,
                     mediapackage_id: @masterfile.mediapackage_id} %>
        <% else %>
          <div class="well">
            <p>This media is still being processed</p>
            <div class="progress progress-success progress-striped active">
              <div class="bar" style="width: <%# @masterfile.percent_complete %>50%"></div>
            </div>
          </div>
        <% end %>
      </section>  
    </div>
    
    <div class="row-fluid">
      <div class="alert">
        <p>Return to <%= link_to @mediaobject.title, media_object_path(@mediaobject.pid) %></p>
      </div>
      
      <div id="permalink" class="alert alert-success">
      <h4 class="alert-heading">Permalink</h4>
      <p>To share this item with others use the following canonical link</p>
      <address><%= link_to master_file_url(@masterfile.pid) %></address>
      </div>
    </div>
  </div>
</div>

<% content_for :title do %>
  Preview -
  <% unless @mediaobject.title.blank? %>
    <%= @mediaobject.title %> (<%= @mediaobject.pid %>)
  <% else %>
    <%= @mediaobject.pid %>
  <% end %>
<% end %>
