<%#
Copyright 2011-2020, The Trustees of Indiana University and Northwestern
  University.  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.

You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed
  under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
  CONDITIONS OF ANY KIND, either express or implied. See the License for the
  specific language governing permissions and limitations under the License.
---  END LICENSE_HEADER BLOCK  ---
%>
<% can_update = can?( :update_access_control, object) %>

<% if can_update %>

<%= bootstrap_form_for object, html: { id: 'access_control_form'}  do |vid| %>
<%= hidden_field_tag :step, @active_step %>

<div class="panel panel-default item-discovery">
  <div class="panel-heading">
    <h3 class="panel-title">Item discovery</h3>
  </div>
  <div class="panel-body">
    <div class="form-group">
      <div class="checkbox">
        <%= label_tag :hidden do %>
        <%= check_box_tag :hidden, '1', (hidden) %>
        Hide this item from search results
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default item-access">
  <div class="panel-heading">
    <h3 class="panel-title">Item access</h3>
  </div>
  <div class="panel-body">
    <div class="form-group">
      <div class="radio">
        <label>
          <%= radio_button_tag :visibility, 'public', (@visibility == 'public') %>
          Available to the general public
        </label>
      </div>
      <div class="radio">
        <label>
          <%= radio_button_tag :visibility, 'restricted', (@visibility == 'restricted') %>
          Logged in users only
        </label>
      </div>
      <div class="radio">
        <label>
          <%= radio_button_tag :visibility, 'private', (@visibility == 'private') %>
          Collection staff only
        </label>
      </div>
    </div>
  </div>
</div>

<%= render modal[:partial], modal_title: modal[:title] if defined? modal %>

<% end #form_for %>

<% else %>

<%= bootstrap_form_for object, html: { id: 'access_control_form'}  do |vid| %>
<%= hidden_field_tag :step, @active_step %>

<div class="panel panel-default item-discovery">
  <div class="panel-heading">
    <h3 class="panel-title">Item discovery</h3>
  </div>
  <div class="panel-body">
    <div class="form-group">
      <%= hidden ? "Item is hidden from search results" :
        "Item is not hidden from search results" %>
    </div>
  </div>
</div>

<div class="panel panel-default item-access">
  <div class="panel-heading">
    <h3 class="panel-title">Item access</h3>
  </div>
  <div class="panel-body">
    <div class="form-group">
      Item is viewable by
      <%= case @visibility
          when "public"
            "the general public"
          when "restricted"
            "logged in users only"
          when "private"
            "collection staff only"
          end %>
    </div>
  </div>
</div>

<% end #form_for %>

<% end %>

<div class="panel panel-default special-access">
  <div class="panel-heading">
    <h3 class="panel-title">Assign special access</h3>
  </div>
  <div class="panel-body">
    <%= render "modules/access_object", object: object,
          access_object: "user", members: @users, leases: @user_leases,
          autocomplete_model: 'user',
          input_disabled: !can_update %>
    <%= render "modules/access_object", object: object,
          access_object: "group", members: @groups, leases: @group_leases,
          dropdown_values: [@addable_groups, 'name', 'name'],
          input_disabled: !can_update %>
    <%= render "modules/access_object", object: object,
          access_object: "class", members: @virtual_groups, leases: @virtual_leases,
          autocomplete_model: 'externalGroup',
          display_helper: :vgroup_display,
          input_disabled: !can_update %>
    <%= render "modules/access_object", object: object,
          access_object: "ipaddress", members: @ip_groups, leases: @ip_leases,
          input_disabled: !can_update %>
  </div>
</div>
