<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav nav-pills">
        <li class="span1"><%= link_to 'Home', root_url %></li>
        <li class="divider-vertical"></li>
        <li class="span2">
          <% unless current_user.nil? %>
            <%= link_to 'Add new resource', new_video_path %>
          <% else %>
            <%= link_to 'Add new resource', new_user_session_path %>
          <% end %>
        </li>
        <li class="divider-vertical"></li>
        <li class="span1"><%= link_to 'Browse', catalog_index_path %></li>
        <li class="span1"><%= link_to 'Search', catalog_index_path %></li>
        <li class="divider-vertical"></li>
        <li class="span1"><%= link_to 'Help', catalog_index_path %></li>
      </ul>
    </div>
  </div>
</div>
