
<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav nav-pills">
        <li><%= link_to 'Home', root_url %></li>
        <li class="divider-vertical"></li>
        <li>
          <%= link_to 'Add new item', new_video_path %>
        </li>
        <li class="divider-vertical"></li>
        <li><%= link_to 'Browse items', search_index_path %></li>
        <li class="divider-vertical"></li>
        <li><%= link_to 'Contact us', comments_path %></li>
        <% if can? :manage, Admin::Group %>
          <li class="divider-vertical"></li>
          <li><%= link_to 'Manage Policy', admin_index_path %>
        <% end %>
      </ul>
      <%= form_tag search_index_path, 
         method: 'post',  
         id: "search_form",
         class: "navbar-search pull-right" do %>
         <%= text_field_tag :q, params[:q], placeholder: 'Search' %>
       <% end %>
    </div>
  </div>
</div>
