
<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav nav-pills">
        <li><%= link_to 'Home', root_url %></li>
        <li class="divider-vertical"></li>
        <li><%= link_to 'Browse', catalog_index_path(search_field: 'all_fields', utf8: '✓', q: '') %></li>
        <% if can? :create, MediaObject %>
          <li><%= link_to 'Create', new_media_object_path %></li>
        <% end %>

        <% if can? :manage, Admin::Group %>
          <li><%= link_to 'Manage Policy', 
             admin_index_path,
             html: {target: '_admin'} %>
        <% end %>
      </ul>
      <ul class="pull-right">
       <%= form_tag catalog_index_path,
           method: 'get',
           id: 'navbar-search-form',
           class: 'navbar-search pull-right' do %>
<input type="hidden" name="search_field" value="all_fields"/>
         <%= text_field_tag :q, params[:q], :placeholder => t('blacklight.search.form.q'), :class => "search_q q", :id => "q"%>
        <button type="submit" class="btn btn-primary search-btn" id="search">
          <span class="submit-search-text">Search</span>
          <i class="icon-search icon-white"></i>
        </button>
      <% end %>
      </ul>
    </div>
  </div>
</div>
