<div class="well">
    <% unless @video.descMetadata.abstract.nil? or @video.descMetadata.abstract.empty? %>
      <p><%= @video.descMetadata.abstract[0] %></p>
    <% end %>
</div>

<h3>Basic Metadata</h3>
<dl id="creation_metadata" class="dl-horizontal">
  <dt>Creator</dt>
  <dd><%= @video.descMetadata.creator.first %></dd>

  <% unless @video.descMetadata.format.nil? %>
  <dt>Format</dt>
  <dd><%= @video.descMetadata.format.first %></dd>
  <% end %>

  <dt>Created on</dt>
  <dd><%= @video.descMetadata.created_on.first %></dd>
  
</dl>

<% if can? :edit, @video %>
  <%= link_to "Edit metadata", edit_video_path(@video, step: 'basic_metadata'), class: "btn" %>
<% end %>

