<%#
Copyright 2011-2022, The Trustees of Indiana University and Northwestern
  University.  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.

You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed
  under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
  CONDITIONS OF ANY KIND, either express or implied. See the License for the
  specific language governing permissions and limitations under the License.
---  END LICENSE_HEADER BLOCK  ---
%>
<%# Override of samvera-persona view partial to update table display %>
<%= render partial: 'index_title' %>

<div class="card users-invite mb-3">
  <div class="card-header">
      <%= t('.invite_users') %>
  </div>

  <div class="card-body">
    <% @user ||= User.new %>
    <%= form_for(:user, url: main_app.user_invitation_path, html: { method: :post , class: 'simple-form form-inline'}) do |f| %>
      <%= render "devise/shared/error_messages", resource: @user %>

      <% @user.class.invite_key_fields.each do |field| -%>
        <div class="form-group mr-2">
          <%= f.label field, t('.invite_users'), for: field, class: 'col-form-label font-weight-bold required' %>
          <%= f.text_field field, class: 'form-control ml-2 required' %>
        </div>
      <% end -%>

      <%= f.submit t('.add'), class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>


<div class="users-listing">
  <table id="users-table" class="table table-striped datatable">
    <thead>
      <tr>
        <th><%= t('.id_label') %></th>
        <th><%= t('.email_label') %></th>
        <th> <%= t('.role_label') %></th>
        <th><%= t('.access_label') %></th>
        <th><%= t('.status_label') %></th>
        <% if User.column_names.include? 'provider' %>
          <th><%= t('.auth_label') %></th>
        <% end %>
        <th data-orderable="false"><%= t('.action_label') %></th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>

<% content_for :page_scripts do %>
  <script>
    $(document).ready( function () {
      $('#users-table').DataTable({
        processing: true,
        serverSide: true,
        dom: '<"dataTableToolsTop"lf><"dataTableBody"t><"dataTableToolsBottom"ip>',
        autoWidth: true,
        ajax: {
          url: '/persona/users/paged_index',
          type: 'POST'
        },
        order: [ <%= "[#{session[:users_sort][0]}, '#{session[:users_sort][1]}']".html_safe if session[:users_sort] %>
      ],
      "columns": [
        null,
        null,
        null,
        null,
        null,
        null,
        { className: "text-right"}
      ]
    }).on('draw', function () {
      window.apply_button_confirmation()
    });
    });
  </script>
<% end %>
