<%#
Copyright 2011-2022, The Trustees of Indiana University and Northwestern
  University.  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.

You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed
  under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
  CONDITIONS OF ANY KIND, either express or implied. See the License for the
  specific language governing permissions and limitations under the License.
---  END LICENSE_HEADER BLOCK  ---
%>
<%# Override of samvera-persona view partial to update table display %>
<%= render partial: 'index_title' %>

<div class="panel panel-default users-invite">
  <div class="panel-heading">
      <%= t('.invite_users') %>
  </div>

  <div class="panel-body">
    <% @user ||= User.new %>
    <%= form_for(:user, url: main_app.user_invitation_path, html: { method: :post , class: 'simple-form form-inline pull-left'}) do |f| %>
      <%= render "devise/shared/error_messages", resource: @user %>

      <% @user.class.invite_key_fields.each do |field| -%>
        <div class="form-group">
          <%= f.label field, t('.invite_users'), for: field, class: 'control-label required' %>
          <%= f.text_field field, class: 'form-control required' %>
        </div>
      <% end -%>

      <%= f.submit t('.add'), class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>


<div class="users-listing">
  <table id="users-table" class="table table-striped datatable">
    <thead>
      <tr>
        <th><%= t('.id_label') %></th>
        <th><%= t('.email_label') %></th>
        <th><%= t('.role_label') %></th>
        <th><%= t('.access_label') %></th>
        <th><%= t('.status_label') %></th>
        <% if User.column_names.include? 'provider' %>
          <th><%= t('.auth_label') %></th>
        <% end %>
        <th data-orderable="false"><%= t('.action_label') %></th>
      </tr>
    </thead>
    <tbody>
      <% @presenter.users.each do |user| %>
        <% last_accessed=@presenter.last_accessed(user).getutc.iso8601 %>
        <tr>
          <td><%= link_to user.username, main_app.edit_persona_user_path(user) %></td>
          <td><%= link_to user.email, main_app.edit_persona_user_path(user) %></td>
          <td><% roles = @presenter.user_roles(user) %>
              <ul><% roles.each do |role| %>
                <li><%= role %></li>
                <% end %>
              </ul>
          </td>
          <td data-order=<%= last_accessed %>>
            <%# in the case that a user is created who never signs in, this is necessary %>
            <relative-time datetime="<%= last_accessed %>" title="<%= @presenter.last_accessed(user).to_formatted_s(:standard) %>">
              <%= @presenter.last_accessed(user).to_formatted_s(:long_ordinal) %>
            </relative-time>
          </td>
          <td><%= user.accepted_or_not_invited? ? t('.status.active') : t('.status.pending') %></td>
          <% if user.has_attribute?(:provider) %>
            <td>
              <%= user.provider %>
            </td>
          <% end %>
          <td>
            <% if user.has_attribute?(:provider) && !user.provider.nil? %>
              <span class="text-muted" data-toggle="tooltip" title="Edit user is unavailable because this user is single sign on"><%= t('.edit') %>&nbsp;|&nbsp;</span>
            <% else %>
              <%= link_to t('.edit'), main_app.edit_persona_user_path(user) %>&nbsp;|&nbsp;
            <% end %>
            <%= link_to t('.become'), main_app.impersonate_persona_user_path(user.id), method: :post %>&nbsp;|&nbsp; 
            <%= link_to t('.delete'), main_app.persona_user_path(user), class: 'btn btn-danger btn-xs action-delete', method: :delete, data: { confirm: t('.destroy.confirmation', user: user.email) } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<% content_for :page_scripts do %>
  <script>
    $(document).ready( function () {
      $('#users-table').DataTable({
        dom: '<"dataTableToolsTop"lf><"dataTableBody"t><"dataTableToolsBottom"ip>',
        autoWidth: true
      });
    });
  </script>
<% end %>
