
<h1>Policies</h1>



<h5><%= link_to 'ERA Audio+Video Content Policy', '#content-policy'%></h5>
<h5><%= link_to 'Digital Preservation Statement for ERA Audio+Video', '#digital-preservation'%></h5>
<h5><%= link_to 'ERA Audio+Video Take-Down Policy', '#take-down-policy'%></h5>
<h5><%= link_to 'Metadata Quality Policy', '#metadata-quality' %></h5>
<h5><%= link_to 'University of Alberta ERA Deposit and Distribution Agreement', '#era-agreement'%></h5>




<h1 id="content-policy">ERA Audio+Video Content Policy</h1>
<p>ERA  Audio + Video, an added feature of ERA preserves and makes accessible audiovisual materials related to the teaching and research activities at the University of Alberta. Undergraduate student work must be vetted by a Faculty or Department, or through consultation with the Digital Repository Services Librarian, before deposit in ERA. Currently, materials deposited to ERA Audio + Video must be done using our <%=link_to 'mediated deposit service', deposit_path%>. We can provide support in determining licensing and publisher permissions, and advice on media preservation and conversion. 

Materials that may be deposited to ERA Audio + Video include, but are not limited to:
<ul>
<li>Commercial audio and video files used for instructional purposes, such as course reserves accessed by students through eClass or items streamed for classroom viewing.</li>
<li>Instructional audio and video files where copyright is owned by the creator (e.g. videos of course lectures, conference talks, etc.)</li>
<li>Research materials, where the copyright is owned by the creator (such as field recordings, documentaries, experimental videos, etc.)</li>
</ul>

Please contact us <a href="/contact">Contact Us</a> for more information about depositing in ERA.
</p>


<h1 id="digital-preservation">Digital Preservation Statement for ERA Audio+Video</h1>
<p>UAL employs a number of strategies to ensure the preservation of digital material within ERA. Preservation is about more than just keeping a backup copy. It requires a commitment to monitoring and actively maintaining the content so that future generations will be able to find, discover and use today’s digital material regardless of changes to formats and technologies.   Our strategies are informed by relevant standards and community best practices. For more information please visit Technologies and Partnerships <a href="/technology">Technology and Partnerships</a>.
</p>

<h1 id="take-down-policy">ERA Audio+Video Take-Down Policy</h1>
<p>
The removal of an item from ERA Audio+Video once it is deposited is generally discouraged. However, items will be temporarily taken down under the following scenarios until a determination is made to either restore or permanently remove the item: 
<ul>
<li>A copyright dispute emerges requiring investigation.</li> 
<li>There is disagreement among multiple copyright holders over whether the item should be placed in ERA.</li>
Items will be removed immediately if: 
<li>We become aware of any illegal activity facilitated by an item in ERA. An ERA item is used for internet nuisance activity by a user, such as to spam others.</li>

</p>

<h1 id="metadata-quality">Metadata Quality Policy</h1>
<p>Detailed policy and practice workflows exist to ensure that ERA metadata is of the highest possible quality. Metadata already within ERA may undergo enhancement on an ad-hoc or project basis. This allows for optimum collation, dissemination, and preservation of ERA content. Contact <a href="mailto:eraadmi@ualberta.ca">eraadmi@ualberta.ca</a> for more information.
</p>

<h1 id="era-agreement">University of Alberta ERA Deposit and Distribution Agreement</h1>
<p>By accepting this agreement, you (the author or copyright right owner or designate) grant to the University of Alberta the non-exclusive rights to reproduce, translate (as defined below), and/or distribute your submission (including the abstract) worldwide in print and electronic format and in any medium, including but not limited to audio or video. Access to your submission via ERA will be governed by the specific terms (Creative Commons, etc.) you indicate, and you will remain free to revise these terms of access.

You agree that the University of Alberta may, without changing the content, translate the submission to any medium or format for the purpose of preservation.

You also agree that the University of Alberta may keep more than one copy of this submission for purposes of security, backup and preservation.

You represent and warrant that the submission is your original work and/or that you have the right to grant the rights contained in the license. You also represent that your submission does not, to the best of your knowledge, infringe upon anyone’s copyright.

If the submission contains material for which you do not hold copyright, you represent that you have obtained the unrestricted permission of the copyright owner to grant the University of Alberta the rights required by this agreement, and that such third-party owned material is clearly identified and acknowledged within the text of content of the submission.

IF THE SUBMISSION IS BASED UPON WORK THAT HAS BEEN SPONSORED OR SUPPORTED BY AN AGENCY OR ORGANIZATION OTHER THAN THE UNIVERSITY OF ALBERTA, YOU REPRESENT THAT YOU HAVE FULFILLED ANY RIGHT OF REVIEW OR OTHER OBLIGATIONS REQUIRED BY THE AGREEMENT WITH SUCH SPONSOR.

The University of Alberta will clearly identify your name(s) as the author(s) or owner(s) of the submission, and will not make any alteration, other than as allowed by this agreement, to your submission.

If you have questions about this agreement please contact <a href="mailto:erahelp@ualberta.ca">erahelp@ualberta.ca</a>.
</p>
</div>

