<%= remotipart_response do %>
  alert(upload_format);
  
	<% if @video_assets.count > 0 %>
		$('#uploader').html(
			'<legend>File Upload</legend>'
			+ '<a href="/<%= @video_assets.first.descMetadata.identifier[0]%>"><%= @video_assets.first.descMetadata.title[0]%></a>'
			+ '<span id="file_status"> (<%= @video_assets.first.descMetadata.description[0] %>)</span>'
			+ '<%= button_to("Delete", "/hydra/assets/#{@video_assets.first.pid}/file_assets/#{@video_assets.first.pid}?container_id=#{@container_id}", :confirm => "Are you sure you want to delete this file?", :method => :delete, :class => "delete-button") %>'
		);
	<% else %>
		alert('Wrong file format, please reupload an audio/video file');
	<% end %>
<% end %>
