<h2>Avalon Media System feedback</h2>
<p>A @comment has been submitted through the system</p>
<hr />
<dl>
  <dt>From</dt>
  <dd><%= @comment.name %> (<<%= @comment.email %>>)</dd>

  <dt>Subject</dt>
  <dd><%= @comment.subject %></dd>

  <dt>Comment</dt>
  <dd><%= @comment.comment %></dd>
  
  <dt>Recieved</dt>
  <dd><%= DateTime.now %>
</dl>
