<%#
Copyright 2011-2025, The Trustees of Indiana University and Northwestern
  University.  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.

You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed
  under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
  CONDITIONS OF ANY KIND, either express or implied. See the License for the
  specific language governing permissions and limitations under the License.
---  END LICENSE_HEADER BLOCK  ---
%>
<% # main container for facets/limits menu -%>
<% if has_facet_values? facet_field_names(groupname) %>
<div id="facets<%= "-#{groupname}" unless groupname.nil? %>" class="facets sidenav">

  <div class="top-panel-heading card-header">
    <button type="button" class="navbar-toggler facets-toggle float-right desktop-hidden" data-toggle="collapse" href="#facet-panel<%= "-#{groupname}" unless groupname.nil? %>-collapse" aria-expanded="true" >
      <span class="navbar-toggler-icon"></span>
    </button>

  <h2>
  	<%= groupname.blank? ? t('blacklight.search.facets.title') : t("blacklight.search.facets-#{groupname}.title", default: groupname.titleize) %>
  </h2>
    </div>

  <div id="facet-panel<%= "-#{groupname}" unless groupname.nil? %>-collapse" class="collapse facet-group">
  <%= render_facet_partials facet_field_names(groupname) %>
</div>
</div>
<% end %>
