   <div id="sidebar" class="span3">
     <div><%= render "modules/my_items" %></div>
     <div><%= render "modules/activity_stream" %></div>
   </div>
   <div id="main_content" class="offset1 span7">
     <div class="row"><%= render 'flash_msg' %></div>  
     <div class="row"><%= render 'search_form' %></div>
     <div class="row"><%= render 'home_text' %></div> 
   </div>
  
<% content_for :title do %>Home<% end %>
