<% if flash[:notice].present? %>
<div class="span9 clearfix" id="alerts">
  <div class="alert alert-success"><%= flash[:notice] %></div>  
</div>
<% end %>

<div id="featured_content" class="row-fluid">
  <h2>Sample Content</h2>

  <figure class="span3">
  <%= link_to '#', class: 'thumbnail' do %><%= image_tag "Nutcracker-Ballet.png", alt: "Featured Collection" %><% end %>
    <figcaption>Featured Collection</figcaption>
  </figure>
   <figure class="span3">
    <a href="#" class="thumbnail"><%= image_tag "Charlie-McCarthy.png", alt: "Featured Video" %></a>
    <figcaption>Featured Video</figcaption>
  </figure>
    <figure class="span3">
    <a href="#" class="thumbnail"><%= image_tag "Chucky-Lou.png", alt: "Featured Audio" %></a>
    <figcaption>Featured Audio</figcaption>
  </figure>
</div>

<div class="row">
  <div class="span9">
    <h4>Using the System</h4>
    <p>Avalon houses audio and video collections. Use the search box, or browse using the terms on the left side to discover content. Some content is only available when you sign in.  Sign in with your ID and passphrase.  </p>
  </div>
</div> <!-- end .row -->
