<div id="main_content_container" >

  <% unless has_search_parameters? %>
    <%# if there are no input/search related params, display the "home" partial -%>
    <%= render 'home' %>
  <% else %>
    <div id="sidebar" class="span3 hidden-phone">
      <%= render 'constraints' %> 
      <%= render 'facets' %>
    </div><!--/well -->

    <div id="content" class="span7">   
      <% @page_title = t('blacklight.search.title', :application_name => application_name) %>
      <% extra_head_content << render_opensearch_response_metadata.html_safe %>
      <div><%= render :partial => 'search_form' %></div> 
      <div><%= render 'sort_and_per_page' %></div> 
      
      <% if params[:q].present? %>      
      <div id="search_terms">
        <h4>Search results for keyword '<%= params[:q].html_safe %>'</h4>
      </div>
      <% end %>
      
      <div><%# render :partial => 'did_you_mean' %></div>
      <div><%= render :partial => 'document_list' %></div>
      <div><%= render 'results_pagination' %></div>
    </div>
  <% end %>
</div>

