<div class="row">
  <div class="span3" id="left_column">
    <% if can? :edit, @mediaobject %>
      <%= render "media_objects/toggle_edit_mode" %>
      <%= render "media_objects/withdraw_object", mediaobject: @mediaobject %>
    <% else %>&nbsp;    
    <% end %>
  </div>

  <div id="main_content_container" class="offset1 span8">
    <div class="row whitespace">
      <div>
        <% unless @mediaobject.title.blank? %>
      <h2>
        <%= @mediaobject.title %>
      <% else %>
        <%= @mediaobject.pid %>
      <% end %>
      </h2>
        <% if not @currentStream.blank? and 
          @masterFiles.length >= 2 %>
         <h3 id="stream_label"><%= @currentStream.label %></h3>
        <% end %>
     </div>
    </div>
    
    <div class="row whitespace">
      <section id="player">        
        <% if @masterFiles.blank? %>
          <div class="alert">
            <p>No media is associated with this item</p>
          </div>
        <% else if @currentStream.derivatives.blank? %>
          <div class="alert <%= @currentStream.status_code == 'FAILED' ? 'alert-error' : 'alert-info' %>">
            <h4>Conversion Process</h4>
            <br/>
            <p><%= @currentStream.status_description %></p>
            <div class="progress">
              <div class="bar" style="width: <%= @currentStream.percent_complete.first %>%;"></div>
            </div>
          </div>
        <% else %>
          <%= render partial: "modules/video_player",
            locals: {stream: @currentStream.derivatives.first.url.first,
                   mimetype: @currentStream.derivatives.first.streaming_mime_type,
                   mediapackage_id: @currentStream.mediapackage_id} %>
        <%# End of the block if media does exist %>
        <% end %>
        <% end %>
      </section>  
    </div>

    <div class="row whitespace">
          <h3>Sections</h3>
          <ul class="unstyled" id="section_links">
            <% @masterFiles.each do |master| %>
              <li>
                <%# If the label has not been set use the file name as a default %>
                <%=
                  link_to stream_label_for(master),
                    media_object_path(@mediaobject, {content: master.pid}),
                    data: {segment: master.pid},
                    class: (master.pid == @currentStream.pid ? 'current-stream' : nil)
                %>
                (<%= number_to_human_size(master.size.first) %>)
              </li>
              <% end %>
          </ul>
    </div>
    
    <div class="row whitespace">
      <h3>Resource description</h3>
      <section id="metadata"><%= render "modules/metadata_display" %></section>
    </div>
        
    <div class="row">
      <div id="permalink" class="alert alert-success">
      <h4 class="alert-heading">Permalink</h4>
      <p>To share this item with others use the following canonical link</p>
      <address><%= link_to media_object_url(@mediaobject.pid) %></address>
    </div>
  </div>
</div>

<% content_for :title do %>
  Preview -
  <% unless @mediaobject.title.blank? %>
  <%= @mediaobject.title %> (<%= @mediaobject.pid %>)
  <% else %>
    <%= @mediaobject.pid %>
  <% end %>
<% end %>

<% content_for :page_scripts do %>
  <%= javascript_include_tag 'switch_streams' %>
<% end %>
