<%#
Copyright 2011-2015, The Trustees of Indiana University and Northwestern
  University.  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.

You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed 
  under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
  CONDITIONS OF ANY KIND, either express or implied. See the License for the 
  specific language governing permissions and limitations under the License.
---  END LICENSE_HEADER BLOCK  ---
%>
<% unless flash.empty? %>
  <div class="alert alert-danger"><%= flash[:alert] %></div>
<% end %>

<h2>Login to ERA Audio+Video</h2>
<p class="login-instruct">ERA Audio+Video is now a <a href="https://ist.ualberta.ca/services/ccid-passwords/campus-computing-id">CCID</a> (Campus Computing ID) enabled service. If you have a CCID please use it to log in to ERA.</p>
<h3>Do you have a University of Alberta CCID (Campus Computing ID)?</h3>
<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%- if provider.to_s == "shibboleth" %>
      <div class="col-sm-8 col-sm-offset-2">
        <%= link_to "Yes, I have a CCID",(omniauth_authorize_path(resource_name, provider)), :class => "btn btn-ccid" %>
      </div>
    <%- elsif provider.to_s == "identity" %>
      <div class="col-sm-4 col-sm-offset-4">
        <a href="#" class="btn btn-noccid">NO, I do not have a CCID</a>
        <div id="era-login">
        <p>
          <strong>Don&rsquo;t have a CCID?</strong>
          <%= link_to "Create an account", new_identity_path %> or login below.
        </p>
        <%= form_tag "/users/auth/identity/callback" do %>
          <div class="field">
             <%= label_tag :auth_key, "Email" %><br>
             <%= text_field_tag :auth_key %>
          </div>
          <div class="field">
            <%= label_tag :password %><br>
            <%= password_field_tag :password %>
          </div>
          <div class="actions"><%= submit_tag "Login" %></div>
        <% end %>
        </div>
      </div>
    <% end -%>
  <% end -%>
<% end -%>
