<%#
Copyright 2011-2023, The Trustees of Indiana University and Northwestern
  University.  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.

You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed
  under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
  CONDITIONS OF ANY KIND, either express or implied. See the License for the
  specific language governing permissions and limitations under the License.
---  END LICENSE_HEADER BLOCK  ---
%>
<% visible_providers = devise_mapping.omniauthable? && Avalon::Authentication::VisibleProviders.present? %>
<div class="omniauth-form container">
  <% if visible_providers %>
    <h3 id='sign-in-select' align='center'>Select Sign In Method</h3>
    <div id='sign-in-buttons'>
      <%- Avalon::Authentication::VisibleProviders.each do |visible| %>
        <%= link_to OmniAuth::Utils.camelize(visible[:provider]), omniauth_authorize_path(resource_name, visible[:provider]), class: 'btn btn-primary' %>
      <% end -%>

      <a href='javascript:;' data-trigger='show-email' class='btn btn-primary'>Email / Password</a>
    </div>
  <% else %>
    <h3 id='sign-in-select' align='center'>Sign In</h3>
  <% end %>

  <div <%= visible_providers ? "class=hidden" : "" %> id='email-box'>
    <%= bootstrap_form_for resource, as: resource_name, url: session_path(resource_name, admin: true, email: true) do |f| %>

      <div class="form-group">
        <%= f.text_field :login, autofocus: true, autocomplete: "username" %>
      </div>

      <div class="form-group">
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="form-group">
          <%= f.check_box :remember_me %>
        </div>
      <% end -%>

      <div class="actions form-group">
        <%= f.submit "Connect", class: 'btn btn-primary' %>
      </div>
    <% end %>
    <p align='center' class='devise-links'>
      <%= render "devise/shared/links" %>
      <span class='devise-link'><a <%= visible_providers ? "href=javascript:; data-trigger=show-email" : "href=/" %>>Cancel</a></span>
    </p>

  </div>
</div>
