<p id="notice"><%= notice %></p>

<h1>Checkouts</h1>

<div class="Checkout-index">
  <% if Checkout.returned_checkouts(current_user.id).count > 0 or current_user.groups.include? 'administrator' %>
    <%= render "inactive_checkout" %>
  <% end %>

  <table id="checkouts-table" class="table table-striped datatable">
    <thead>
      <tr>
        <% if current_user.groups.include? 'administrator' %>
          <th>User</th>
        <% end %>
        <th>Media object</th>
        <th>Checkout time</th>
        <th>Return time</th>
        <th>Time remaining</th>
        <th data-orderable="false">
          <% if Checkout.checkouts(current_user.id).count > 1 or current_user.groups.include? 'administrator' %>
              <%= link_to 'Return All', main_app.checkouts_path , class: 'btn btn-primary btn-xs', method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </th>
      </tr>
    </thead>

    <tbody>
      <% @checkouts.each do |checkout| %>
        <tr>
          <% if current_user.groups.include? 'administrator' %>
            <td><%= checkout.user.user_key %></td>
          <% end %>
          <td><%= link_to checkout.media_object.title, main_app.media_object_url(checkout.media_object) %></td>
          <td><%= checkout.checkout_time.to_s(:long_ordinal) %></td>
          <td><%= checkout.return_time.to_s(:long_ordinal) %></td>
          <td><%= distance_of_time_in_words(checkout.return_time - DateTime.current) %></td>
          <td>
            <% if checkout.return_time > DateTime.current %>
              <%= link_to 'Return', checkout, class: 'btn btn-danger btn-xs', method: :delete, data: { confirm: 'Are you sure?' } %>
            <% else %>
              <%= link_to 'Checkout', checkout, class: 'btn btn-primary btn-xs', method: :post %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<% content_for :page_scripts do %>
  <script>
    $(document).ready( function () {
      $('#checkouts-table').DataTable({
        dom: '<"dataTableToolsTop"lf><"dataTableBody"t><"dataTableToolsBottom"ip>',
        autoWidth: true
      });
    });
  </script>
<% end %>
