<%#
Copyright 2011-2023, The Trustees of Indiana University and Northwestern
  University.  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.

You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed
  under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
  CONDITIONS OF ANY KIND, either express or implied. See the License for the
  specific language governing permissions and limitations under the License.
---  END LICENSE_HEADER BLOCK  ---
%>
<h1>Checkouts</h1>

<div class="Checkout-index">
  <% if Checkout.returned_for_user(current_user.id).any? || current_ability.is_administrator? %>
    <%= render "inactive_checkout" %>
  <% end %>

  <table id="checkouts-table" class="table table-striped datatable">
    <thead>
      <tr>
        <% if current_ability.is_administrator? %>
          <th>User</th>
        <% end %>
        <th>Media object</th>
        <th>Checkout time</th>
        <th>Return time</th>
        <th>Time remaining</th>
        <th data-orderable="false">
          <% if Checkout.active_for_user(current_user.id).count > 1 || current_ability.is_administrator? %>
              <%= link_to 'Return All', main_app.return_all_checkouts_path , class: 'btn btn-primary btn-xs', method: :patch, data: { confirm: 'Are you sure you want to return all items?' } %>
          <% end %>
        </th>
      </tr>
    </thead>

    <tbody>
      <% @checkouts.each do |checkout| %>
        <tr>
          <% if current_ability.is_administrator? %>
            <td><%= checkout.user.user_key %></td>
          <% end %>
          <td><%= link_to checkout.media_object.title, main_app.media_object_url(checkout.media_object) %></td>
          <td><span data-utc-time="<%= checkout.checkout_time.iso8601 %>" /></td>
          <td><span data-utc-time="<%= checkout.return_time.iso8601 %>" /></td>
          <td><%= distance_of_time_in_words(checkout.return_time - DateTime.current) %></td>
          <td>
            <% if checkout.return_time > DateTime.current %>
              <%= link_to 'Return', return_checkout_url(checkout), class: 'btn btn-outline btn-xs', method: :patch %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<% content_for :page_scripts do %>
  <script>
    $(document).ready( function () {
      $('#checkouts-table').DataTable({
        dom: '<"dataTableToolsTop"lf><"dataTableBody"t><"dataTableToolsBottom"ip>',
        autoWidth: true
      });
    });
  </script>
<% end %>
