<%#
Copyright 2011-2025, The Trustees of Indiana University and Northwestern
  University.  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.

You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed
  under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
  CONDITIONS OF ANY KIND, either express or implied. See the License for the
  specific language governing permissions and limitations under the License.
---  END LICENSE_HEADER BLOCK  ---
%>
<% if can?(:update_access_control, object) %>
<%= bootstrap_form_for object, html: { id: 'cdl_form' }  do |vid| %>
  <% if Avalon::Configuration.controlled_digital_lending_enabled? && object.is_a?(Admin::Collection) %>
    <div class="card enable-cdl" data-testid="collection-enable-cdl-card">
      <div class="card-header">
        <h3 class="card-title">Controlled Digital Lending </h3>
      </div>
      <div class="card-body">
        <div class="mb-3">
          <div class="form-check">
            <%= label_tag :cdl do %>
            <%= check_box_tag :cdl, '1', (cdl), data: { testid: 'cdl-enable-checkbox' }%>
            Enable controlled digital lending for this collection
            <% end %>
          </div>
        </div>
        <%= hidden_field_tag :save_field, "cdl" %>
        <%= submit_tag "Save Setting", class: "btn btn-primary", form: 'cdl_form', data:{testid: 'cdl-save-setting'} %>
      </div>
    </div>
  <% end %>
<% end %>

<%= bootstrap_form_for object, html: { id: 'lending_form' }  do |vid| %>
  <% if lending_enabled?(object) %>
    <div class="card item-lending-period" data-testid="collection-item-lending-period-card">
      <div class="card-header">
        <h3 class="card-title">Item lending period</h3>
      </div>
      <div class="card-body">
        <div class="mb-3">
          <%=  render partial: "modules/tooltip", locals: { form: vid, field: :lending_period, tooltip: t("access_control.#{:lending_period}"), options: {display_label: (t("access_control.#{:lending_period}label")+'*').html_safe} } %><br />
          <% d, h = (lending_period/3600).divmod(24) %>
          <div class='row'>
            <div class="col-1">
              <label class="col-form-label" for="add_lending_period_days">
                <span data-title="Days">Days</span>
              </label>
              <%= text_field_tag "add_lending_period_days", d ? d : 0, class: 'form-control' , data: { testid: 'add-lending-period-days' }%>
            </div>
            <div class="col-1">
              <label class="col-form-label" for="add_lending_period_hours">
                <span data-title="Hours">Hours</span>
              </label>
              <%= text_field_tag "add_lending_period_hours", h ? h : 0, class: 'form-control' %>
            </div>
          </div>
        </div>
        <%= hidden_field_tag :save_field, "lending_period" %>
        <%= hidden_field_tag :overwrite, false %>
        <%= submit_tag "Save Setting", class: "btn btn-primary", form: 'lending_form', data:{testid: 'lending-period-save-setting'}%>
        <%= submit_tag "Apply to All Existing Items", name: "apply_to_existing", class: "btn btn-outline", data: { confirm: I18n.t('access_control.apply_to_all_warning') % [object.media_objects.count], testid: 'lending-period-apply-to-all' }, form: 'lending_form' %>
      </div>
    </div>
  <% end %>
<% end %>

<% else %>

  <% if lending_enabled?(object) %>
    <div class="card item-access">
      <div class="card-header">
        <h3 class="card-title">Item lending period</h3>
      </div>
      <div class="card-body">
        <div class="mb-3">
          Item is available to be checked out for
          <%= ActiveSupport::Duration.build(lending_period).to_day_hour_s %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
