          <% if can? "update_#{title}s".to_sym, @collection %>
            <%= text_field_tag "new_#{title}", nil, class: "span9", onkeydown: "if (event.keyCode == 13) {event.preventDefault(); document.getElementById('add_#{title}').click()}" %>
            <%= submit_tag "Add", name: "add_#{title}", id: "add_#{title}", class: "btn" %>
          <% end %>

          <table class="table table-striped">
            <% unless @collection.send("#{title}s".to_sym).empty? %>
            <tbody>
              <% @collection.send("#{title}s".to_sym).each do |user| %>
              <tr>
                <td>
                  <%= label_tag do %>
                    <%= user %>
                  <% end %>
                </td>
              <% if can? "update_#{title}s".to_sym, @collection %>
                <td>
                  <%= link_to "×", 
                              polymorphic_path(@collection, "remove_#{title}".to_sym => user),
                              method: :put, class: "close" %>
                </td>
              <% end %>
              </tr>
              <% end %>
            </tbody>
            <% end %>
          </table>
