<%#
Copyright 2011-2014, The Trustees of Indiana University and Northwestern
  University.  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.

You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed 
  under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
  CONDITIONS OF ANY KIND, either express or implied. See the License for the 
  specific language governing permissions and limitations under the License.
---  END LICENSE_HEADER BLOCK  ---
%>
<% content_for :title do %>
  Collections
<% end %>

<div class='container-fluid'>
  <% unless @collections.empty? %>
    <h2>My Collections</h2>

    <table class='table table-striped'>
      <tbody>
      <% @collections.to_a.each do |collection| %>
        <tr>
          <td> <%= link_to collection.name, admin_collection_path(collection) %> </td>
          <td> <%= link_to(pluralize(collection.media_objects.size, 'item'), catalog_index_path('f[collection_ssim][]' => collection.name)) %>
							<% unpublishedCount = MediaObject.find("collection_ssim" => collection.name, 'workflow_published_sim' => "Unpublished").count%>
							<% if unpublishedCount > 0 %>
									<%=link_to("(#{unpublishedCount} unpublished)", catalog_index_path('f[collection_ssim][]' => collection.name, 'f[workflow_published_sim][]' => "Unpublished")) %>
							<% end %>
					</td>
          <td> <%= pluralize(collection.managers.size, 'manager') %> </td>
          <td> <%= collection.description %> </td>
          <td>
            <% if can?(:destroy, collection) %>
              <%= link_to('Delete', remove_admin_collection_path(collection), class: 'btn btn-xs btn-danger') %>
            <% else %>
              &nbsp;
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <%= link_to('Create Collection', new_admin_collection_path, remote: true, modal: true, class: 'btn btn-primary') unless cannot? :create, Admin::Collection %>
  <% else %>
    <div class="hero-unit">
      <h2>You don't have any collections yet</h2>

      <% if can? :create, Admin::Collection %>
        <p>Would you like to create one?</p>
        <div class="whitespace"></div>
        <p>
          <%= link_to('Create Collection', new_admin_collection_path, remote: true, modal: true, class: 'btn btn-primary btn-large')  %>
        </p>
      <% else %>
        <p>You'll need to be assigned to one</p>
      <% end %>

    </div>
  <% end %>

</div>


<% content_for :page_scripts do %>
  <script>
    new ModalLogic()
  </script>
<% end %>
