<div class='container'>
  <table class='table'>
    <tbody>
    <% @collections.to_a.each do |collection| %>
      <tr>
        <td> <%= link_to collection.name, admin_collection_path(collection) %> </td>
        <td> <%= pluralize(collection.media_objects.size, 'item') %> </td>
        <td> <%= pluralize(collection.managers.size, 'manager') %> </td>
        <td> <%= collection.description %> </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= link_to('Create Collection', new_admin_collection_path, remote: true, modal: true, class: 'btn btn-primary') unless cannot? :create, Admin::Collection %>
</div>


<% content_for :page_scripts do %>
  <script>
    new ModalLogic()
  </script>
<% end %>
