<%#
Copyright 2011-2020, The Trustees of Indiana University and Northwestern
  University.  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.

You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed
  under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
  CONDITIONS OF ANY KIND, either express or implied. See the License for the
  specific language governing permissions and limitations under the License.
---  END LICENSE_HEADER BLOCK  ---
%>
<% content_for :page_scripts do %>
<%= javascript_include_tag 'select2.min' %>
<%= stylesheet_link_tag 'select2.min' %>
<script type="text/javascript">
  $('#target_collection_id').select2();
</script>
<% end %>

<div class="row" style="padding-top: 3rem;">
  <div class="col-md-8 col-md-offset-2">
    <%
    item_count = "#{@objects.count} #{'item'.pluralize(@objects.count)}"
    content_pronoun = @objects.count > 1 ? 'them' : 'it'
  %>

    <% if @collection.dropbox_object_count > 0 %>
      <div class="alert alert-warning">
        <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
        <span>There are <%= @collection.dropbox_object_count %> files in this collection's <b>Dropbox</b> that will be deleted when this collection is deleted.</span>
      </div>
    <% end %>

    <% if @collection.media_objects.count == 0 or @candidates.count > 0 %>
      <div class="alert alert-danger">
        <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
        <span>Are you certain you want to remove the collection <b><%=@collection.name%></b>?</span>
      </div>

      <%= bootstrap_form_for @collection, method: :delete do |f| %>
      <% if @objects.count > 0 %>

      <h2>Reassign Existing Items</h2>
      <p>
        <b><%=@collection.name%></b> currently contains <%=item_count%>. Before you can
        delete it, you must select a new collection to move <%=content_pronoun%>
        into.
      </p>
      <div class="form-group">
        <%= select_tag :target_collection_id, options_from_collection_for_select(@candidates, "id", "name"), class: "form-control" %>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.submit 'Yes, I am sure', class: 'btn btn-danger' %>
      <%= link_to 'No, go back', admin_collections_path, class: 'btn btn-default' %>
    </div>
    <% end %>
    <% else %>
    <div class="alert alert-danger">
      The collection "<%=@collection.name%>" cannot be deleted. It contains <%=item_count%>,
      but you do not have sufficient rights to any other collections to reassign <%=content_pronoun%>.
    </div>
    <%= link_to 'Go back', :back, class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
