<%#
Copyright 2011-2020, The Trustees of Indiana University and Northwestern
  University.  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.

You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed
  under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
  CONDITIONS OF ANY KIND, either express or implied. See the License for the
  specific language governing permissions and limitations under the License.
---  END LICENSE_HEADER BLOCK  ---
%>
<% @current_playlist_item = @playlist_item %>
<% @current_clip = AvalonClip.find(@current_playlist_item.clip_id) %>
<% @current_masterfile = MasterFile.find(@current_playlist_item.clip.source.split('/').last) %>
<% @current_mediaobject = MediaObject.find(@current_masterfile.media_object_id) %>
<div id="metadata_header">
  <h3>
    <%= link_to master_file_path(@current_masterfile.id) do %>
      <% unless @current_masterfile.title.blank? %>
        <%= @current_masterfile.title %>
      <% else %>
        <%= @current_masterfile.id %>
      <% end %>
    <% end %>
    from
    <%= link_to media_object_path(@current_mediaobject) do %>
      <% unless @current_mediaobject.title.blank? %>
        <%= @current_mediaobject.title %>
      <% else %>
        <%= @current_mediaobject.id %>
      <% end %>
      <%= "/ #{@current_mediaobject.statement_of_responsibility}" if @current_mediaobject.statement_of_responsibility.present? %>
    <% end %>
  </h3>
</div>

<dl id="creation_metadata">
  <%= display_metadata('Date', combined_display_date(@current_mediaobject), 'Not provided') %>
  <%= display_metadata('Main contributor', @current_mediaobject.creator) %>
  <% unless @current_mediaobject.abstract.blank? %>
  <dt>Summary</dt>
  <dd>
    <pre><%= @current_mediaobject.abstract %></pre>
  </dd>
  <% end %>
  <%= display_metadata('Contributor', @current_mediaobject.contributor) %>
  <%= display_metadata('Publisher', @current_mediaobject.publisher) %>
  <%= display_metadata('Genre', @current_mediaobject.genre) %>
  <%= display_metadata('Subject', @current_mediaobject.subject) %>
  <%= display_metadata('Time period', @current_mediaobject.temporal_subject) %>
  <%= display_metadata('Location', @current_mediaobject.geographic_subject) %>
  <%= display_metadata('Collection', @current_mediaobject.collection.name) %>
  <%= display_metadata('Unit', @current_mediaobject.collection.unit) %>
  <%= display_metadata('Language', display_language(@current_mediaobject)) %>
  <%= display_rights_statement(@current_mediaobject) %>
  <%= display_metadata('Terms of Use', @current_mediaobject.terms_of_use) %>
  <%= display_metadata('Physical Description', @current_mediaobject.physical_description) %>
  <%= display_metadata('Related Item', display_related_item(@current_mediaobject)) %>
  <%= display_metadata('Notes', display_notes(@current_mediaobject)) %>
  <%= display_metadata('Other Identifier', display_other_identifiers(@current_mediaobject)) %>

</dl>
