<%#
Copyright 2011-2022, The Trustees of Indiana University and Northwestern
  University.  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.

You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed
  under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
  CONDITIONS OF ANY KIND, either express or implied. See the License for the
  specific language governing permissions and limitations under the License.
---  END LICENSE_HEADER BLOCK  ---
%>
<!---Modal for copy timeline button -->
<div id="copy-timeline-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Copy Timeline</h4>
        <button type="button" class="close" data-dismiss="modal" aria-lable="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_for(Timeline.new, remote: true, format: 'json',
          html: {id: 'copy-timeline-form', class: 'form-horizontal' },
          :url => { :action => "duplicate" }) do |f| %>
          <%= hidden_field_tag 'old_timeline_id' %>
          <%= hidden_field_tag 'with_refresh', with_refresh %>
          <%= hidden_field_tag 'token' %>
          <div class="row form-group">
            <%= f.label "Name", class: 'col-sm-2 control-label' %>
            <div class="col-sm-10"><%= f.text_field :title, class: 'form-control' %></div>
          </div>
          <h5 id="title_error" class="error text-danger" style="display:none;">Name is required</h5>
          <div class="row form-group">
            <%= f.label :description, 'Description', class: 'col-sm-2 control-label' %>
            <div class="col-sm-10"><%= f.text_area :description, class: 'form-control', rows: '4' %></div>
          </div>
          <div class="row form-group">
            <%= label_tag nil, t("timeline.visibility"), class: 'col-sm-2 control-label' %>
            <div class="col-sm-10">
              <label class="radio-inline">
                <%= f.radio_button(:visibility, Timeline::PUBLIC) %>
                <%= timeline_human_friendly_visibility Timeline::PUBLIC %>
              </label>
              <label class="radio-inline">
                <%= f.radio_button(:visibility, Timeline::PRIVATE) %>
                <%= timeline_human_friendly_visibility Timeline::PRIVATE %>
              </label>
              <label class="radio-inline">
                <%= f.radio_button(:visibility, Timeline::PRIVATE_WITH_TOKEN) %>
                <%= timeline_human_friendly_visibility Timeline::PRIVATE_WITH_TOKEN %>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="btn-group">
                <%= f.submit id: 'copy-timeline-submit',
                  class: 'btn btn-default outline_on', value: t("timeline.create.action") %>

                <%= f.submit id: 'copy-timeline-submit-edit',
                  class: 'btn btn-primary outline_on', value: t("timeline.create_and_edit.action") %>
              </div>
            </div>
          </div>
        <% end # form_for timeline_form%>
      </div>
    </div>
  </div>
</div>
