<%#
Copyright 2011-2022, The Trustees of Indiana University and Northwestern
  University.  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.

You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed
  under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
  CONDITIONS OF ANY KIND, either express or implied. See the License for the
  specific language governing permissions and limitations under the License.
---  END LICENSE_HEADER BLOCK  ---
%>
<div id="timeline_edit_div" class="container">
  <%= form_for(@timeline, html: { id: 'timeline_form', class: 'timeline_actions' }) do |f| %>
  <div class="form-row form-group">
    <%= f.label "Name", class: 'col-sm-2 font-weight-bold' %>
    <div class="col-sm-10"><%= f.text_field :title, class: (@timeline.errors[:title].any? ? 'is-invalid form-control' : 'form-control') %></div>
  </div>
  <div class="form-row form-group">
    <%= f.label :description, 'Description', class: 'col-sm-2 font-weight-bold' %>
    <div class="col-sm-10"><%= f.text_area :description, class: 'form-control', rows: '4' %></div>
  </div>
  <div class="form-row form-group">
    <%= label_tag nil, t("timeline.visibility"), class: 'col-sm-2 font-weight-bold' %>
    <div class="col-sm-10">
      <label>
        <%= f.radio_button(:visibility, Timeline::PUBLIC, class: 'm-1') %>
        <%= timeline_human_friendly_visibility Timeline::PUBLIC %>
      </label>
      <label class="ml-2">
        <%= f.radio_button(:visibility, Timeline::PRIVATE, class: 'm-1') %>
        <%= timeline_human_friendly_visibility Timeline::PRIVATE %>
      </label>
      <label class="ml-2">
        <%= f.radio_button(:visibility, Timeline::PRIVATE_WITH_TOKEN, class: 'share-timeline m-1') %>
        <%= timeline_human_friendly_visibility Timeline::PRIVATE_WITH_TOKEN %>
      </label>
      <p class="text-info visibility-help-text" style="padding-top:5px;font-style:italic;">
        <%= timeline_visibility_description @timeline.visibility %>
      </p>
      <div id="timeline_token_row" class="row container collapse <%= 'show' if @timeline.visibility=='private-with-token' %>" style="margin-top:9px;">
        <div class="col-sm-9">
          <div class="input-group">
            <input type="text" class="form-control" id="timeline-share-link" value="<%= access_token_url(@timeline) %>" placeholder="<%= access_token_url(@timeline) %>" onClick="this.select();" readonly="readonly">
            <span class="input-group-append" id="timeline-share-btn-result">
              <%= button_tag "Copy", id: 'timeline-share-btn', class: "btn btn-success", form: 'timeline_new_link_form' %>
            </span>
          </div>
        </div>
        <div class="col-sm-3">
          <%= button_tag "Get new link", id: 'get-new-link', form: 'timeline_new_link_form',
            class: 'btn btn-success', data: { 'timeline_id': @timeline.id } %>
        </div>
      </div>
    </div>
  </div>
  <% if Avalon::Authentication.lti_configured? %>
    <div id="timeline_lti_share" class="form-row form-group collapse <%= 'show' if @timeline.visibility != 'private' %>">
      <%= label_tag nil, 'LTI URL', class: 'col-sm-2 font-weight-bold' %>

      <div class="col-sm-10">
        <p class="text-info" style="padding-top:5px;font-style:italic;">
          Copy the link below to share this timeline via LTI
        </p>
        <div class="row container" style="margin-top:9px;">
          <div class="col-xs-9">
            <div class="input-group">
              <input type="text" class="form-control" id="timeline-lti-share-link" value="<%= lti_share_url_for(@timeline) %>" placeholder="<%= lti_share_url_for(@timeline) %>" onClick="this.select();" readonly="readonly">
              <span class="input-group-append" id="timeline-lti-share-btn-result">
                <%= button_tag "Copy", id: 'timeline-lti-share-btn', class: "btn btn-success", form: 'timeline_new_link_form' %>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <div class="form-row form-group">
    <%= label_tag nil, t("timeline.tags.label"), class: 'col-sm-2 font-weight-bold' %>
    <div class="col-sm-10">
      <%= render partial:'tag_form' %>
    </div>
  </div>
  <div class="form-row form-group">
    <%= label_tag nil, t("timeline.source_link"), class: 'col-sm-2 font-weight-bold' %>
    <div class="col-sm-10">
      <div style="padding: 7px 0 7px 0">
        <a href=<%= @timeline.source %>><%= @timeline.source %></a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-offset-2 col-sm-10">
      <div>
        <%= f.submit id: 'submit-timeline-form', class: 'btn btn-primary', value: t("timeline.#{params[:action]}.action") %>
        <a id="timeline-edit-cancel" class="btn btn-outline" href="/timelines">Cancel</a>
      </div>
    </div>
  </div>
  <% end # form_for timeline_form%>
</div>
