<%#
Copyright 2011-2025, The Trustees of Indiana University and Northwestern
  University.  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.

You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed
  under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
  CONDITIONS OF ANY KIND, either express or implied. See the License for the
  specific language governing permissions and limitations under the License.
---  END LICENSE_HEADER BLOCK  ---
%>
<% if current_user.nil? %>
  <%= link_to 'Please login to view your timelines.', new_user_session_path %>
<% end %>
<% unless current_user.nil? %>
  <% timelines = Timeline.where(user_id: current_user.id) %>
  <div class="container-fluid">
    <div class="Timeline-index">
      <div class="page-title-wrapper">
        <div class="row">
          <div class="col-sm-6">
            <h1 class="page-title">Timelines <small>(<%= timelines.size %> total)</small></h1>
          </div>
          <div class="<% if !timelines.empty? %>col-sm-6 text-end<% end %>">
            <div class="create-buttons">
              <% if Settings['variations'].present? %>
                <%= form_tag(import_variations_timeline_timelines_path, method:"post", enctype:"multipart/form-data", style:"display:inline") do %>
                  <input type="file" name="Filedata" class="filedata" style="visibility:hidden; display:inline; width:0;" />
                  <input type="button" class="btn btn-primary" id="variations_import" onclick="$(this).closest('form').find('.filedata').click();" value="Import Variations Timeline" />
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div>
        <% unless timelines.empty? %>
          <%= react_component("TimelinesTable", { props: { 
              url: '/timelines/paged_index', 
              tags: current_user.timeline_tags,
            }
          }) %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<%= render partial: 'copy_timeline_modal', locals: { with_refresh: true } %>

