<%#
Copyright 2011-2022, The Trustees of Indiana University and Northwestern
  University.  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.

You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed
  under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
  CONDITIONS OF ANY KIND, either express or implied. See the License for the
  specific language governing permissions and limitations under the License.
---  END LICENSE_HEADER BLOCK  ---
%>
<% if current_user.nil? %>
  <%= link_to 'Please login to view your timelines.', new_user_session_path %>
<% end %>
<% unless current_user.nil? %>
  <% timelines = Timeline.where(user_id: current_user.id) %>
  <div class="container-fluid">
    <div class="Timeline-index">
      <div class="page-title-wrapper">
        <div class="row">
          <div class="col-sm-6">
            <h1 class="page-title">Timelines <small>(<%= timelines.size %> total)</small></h1>
          </div>
          <div class="<% if !timelines.empty? %>col-sm-6 text-right<% end %>">
            <div class="create-buttons">
              <% if Settings['variations'].present? %>
                <%= form_tag(import_variations_timeline_timelines_path, method:"post", enctype:"multipart/form-data", style:"display:inline") do %>
                  <input type="file" name="Filedata" class="filedata" style="visibility:hidden; display:inline; width:0;" />
                  <input type="button" class="btn btn-primary outline_on" id="variations_import" onclick="$(this).closest('form').find('.filedata').click();" value="Import Variations Timeline" />
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div>
        <% unless timelines.empty? %>
          <div class="tag_filter_container">
            Filter: <select name="tag_filter" class="tag_filter form-control input-sm" style="width:auto">
              <option value="" selected="selected"></option>
              <% current_user.timeline_tags.each do |tag| %>
                <option value="<%= tag %>"><%= tag %></option>
              <% end %>
            </select>
          </div>
          <table id="Timelines" class="table table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Visibility</th>
                <th>Last Updated</th>
                <th>Tags</th>
                <th class="text-right" data-orderable="false">Actions</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
          <div> </div>
        <% end %>
      </div>
    </div>
  </div>
  <% unless timelines.empty? %>
  <% end %>
<% end %>

<%= render partial: 'copy_timeline_modal', locals: { with_refresh: true } %>

<% content_for :page_scripts do %>
  <script>
    $(document).ready( function () {
      $('#Timelines').DataTable({
        processing: true,
        serverSide: true,
        dom:'<"dataTableToolsTop"if><"dataTableBody"t><"dataTableToolsBottom"rlp>',
        autoWidth:true,
        ajax: {
          url: '/timelines/paged_index',
          type: 'POST'
        },
        order: [<%= "[#{session[:timeline_sort][0]}, '#{session[:timeline_sort][1]}']".html_safe if session[:timeline_sort] %>],
        "columns": [
          null,
          { render: function ( data, type, row ) {
              return data != null && type === 'display' && data.length > 150 ? data.substr( 0, 150 ) +'…' : data;
          }},
          null,
          null,
          null,
          { className: "text-right" }
        ]
      }).on( 'draw', function () {
        window.apply_button_confirmation()
        window.add_copy_button_event()
        // move the tag filter into the datatables layout
        $('.tag_filter_container').insertBefore('.dataTables_filter');
      });
    });

    $('.tag_filter').change(function() {
      $.fn.dataTable.tables( { api: true } ).columns(4).search( $(this).val() ).draw();
    })

    $( '.filedata' ).change(function() {
      $(this).closest('form').submit();
    });
  </script>
<% end %>

<%# link_to 'New Timeline', new_timeline_path %>
