<% if flash[:error] %><div class="alert alert-error"><%= flash[:error] %></div><% end %>

<%= twitter_bootstrap_form_for @unit, url: polymorphic_path([ @parent_name, @unit ]) do |f| %>
  
  <fieldset>
    <div class='control-group'>
      <%= f.text_field :name %>
    </div>

    <div class='control-group'>
      <%= label_tag  'manager_ids', 'Managers' %>
      <%= hidden_field_tag 'managers', :multiple %>
    </div>
    
    <div class='control-group'>
      <%= label_tag 'collection_ids', 'Collections' %>
      <%= hidden_field_tag 'unit[collection_ids]', :multiple %>
    </div>

    <hr/>
    <div class='control-group'>
      <%= link_to 'Cancel', :back, class: 'btn' %>
      <%= submit_tag params[:action] == 'edit' ? 'Update' : 'Save', class: "btn" %>
    </div>
  </fieldset>
<% end %>

<% content_for :page_scripts do %>
  <%= javascript_include_tag 'select_boxes' %>
  <script>
  $(document).ready(function(){
    var admin_user_search_path          = "<%= admin_user_search_path %>";
    var autocomplete_admin_collections_path  = "<%= autocomplete_admin_collections_path %>";

    var users_selected = <%= @unit.managers.map{|m| Avalon::UserSearch.format_autocomplete_entry( uid: m.uid, full_name: m.full_name, email: m.email )  }.to_json.html_safe %>;
    var collections_selected = <%= @unit.collections.map{|c| Select2::Autocomplete.as_json(c.id, c.name)}.to_json.html_safe %>;

    new UserSelectBox(admin_user_search_path, users_selected)
    new CollectionSelectBox('#unit_collection_ids', autocomplete_admin_collections_path, collections_selected)
  })
  </script>
<% end %>



