<%- document ||= @document -%>
<div>
  <h3>Group</h3>
  <dl class="defList">
      <%= get_data_with_label(document, "Discover Access:", 'discover_access_group_t', :default=>"private").html_safe %>
      <%= get_data_with_label(document, "Read & Download Access:", 'read_access_group_t', :default=>"private").html_safe %>
      <%= get_data_with_label(document, "Edit & Upload Access:", 'edit_access_group_t', :default=>"private").html_safe %>
  </dl>

  <h3>Individual</h3>
  <dl class="defList">
      <%= get_data_with_label(document, "Discover Access:", 'discover_access_t', :default=>"private").html_safe %>
      <%= get_data_with_label(document, "Read & Download Access:", 'read_access_t', :default=>"private").html_safe %>
      <%= get_data_with_label(document, "Edit & Upload Access:", 'edit_access_t', :default=>"private").html_safe %>
  </dl>
</div>
