<% if flash[:notice] %>
    <div class="alert"><%= flash[:notice] %></div>
<% end %>

<p>Please give us your comments or request edit access.</p>

<%= form_for @mail, :url => { :action => "create" } do |f| %>
  <p>
		<%= f.label :fullname %>
		<%= f.text_field :fullname, class: "span5" %>
	</p>
	<p>
		<%= f.label :email %>
		<%= f.text_field :email, class: "span5" %>
	</p>
  <p>
		<%= f.label :comment %>
		<%= f.text_area :comment, :size => "70x12", class: "span5" %>
	</p>
  <p><%= f.submit "Send", class: "btn" %></p>
	<%= f.text_field :nickname, class: "hidden" %>
<% end %>

