<%= form_for @mail, :url => { :action => "create" } do |f| %>
  <p><%= f.text_field :fullname %></p>
	<p><%= f.text_field :email %></p>
  <p><%= f.text_area :comment, :size => "60x12" %></p>
	<p><%= f.text_field :nickname, class: "hidden" %>
  <p><%= f.submit "Send" %></p>
<% end %>

