<%#
Copyright 2011-2017, The Trustees of Indiana University and Northwestern
  University.  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.

You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed
  under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
  CONDITIONS OF ANY KIND, either express or implied. See the License for the
  specific language governing permissions and limitations under the License.
---  END LICENSE_HEADER BLOCK  ---
%>

<script type="text/javascript">
window.onload = (function () {
	hljs.initHighlighting();
});
</script>

<ol class="breadcrumb">
  <li><%= link_to "Migration Report", admin_migration_report_path %></li>
  <li><%= link_to @class, admin_migration_report_by_class_path(class: @class) %></li>
  <li class="active"><%= params[:id]%></li>
</ol>

<% if @f4_pid.present? %>
  <% unless ["Derivative", "Lease"].include? @class %>
    <p>Migrated to <%= link_to objects_url(@f4_pid), objects_path(@f4_pid) %></p>
  <% else %>
    <p>Migrated to <%= @f4_pid %></p>
  <% end %>
<% end %>

<% if @f3_pid.present? %>
  <p>Migrated from <%=@f3_pid%></p>
<% end %>

<p><a href="#Fedora3">Fedora3 Datastreams</a></p>
<p><a href="#Fedora4">Fedora4 Properties</a></p>

<table class="table table-striped table-hover table-condensed">
  <tr>
    <th class="nowrap">Datastream</th>
    <th class="nowrap">Checksum</th>
    <th class="nowrap">Status</th>
    <th class="nowrap">Message</th>
  </tr>
  <% @statuses.each do |status| %>
    <tr>
      <td><%= status.datastream || '[main object]' %></td>
      <td><%= status.checksum || 'N/A' %></td>
      <td><%= status.status %></td>
      <td><%= status.log %></td>
    </tr>
  <% end %>
</table>
<% unless ["Bookmark", "AvalonClip", "AvalonMarker"].include? @class %>
  <p><%= link_to 'Full Report', admin_migration_report_report_path(id: params[:id]), target: 'migration_json'%></p>
<% end %>

<h2><a id="Fedora3">Fedora 3</a></h2>
<% if @f3_obj.present? %>
  <% @f3_obj.datastreams.each do |name, ds| %>
    <h3><%= name %></h3>
    <pre><code class="xml"><%= ds.content %></code></pre>
  <% end %>
<% end %>
<br/>
<br/>
<h2><a id="Fedora4">Fedora 4</a></h2>
<% if @f4_obj.present? %>
  <pre><%= @f4_obj.resource.dump(:ttl) %></pre>
  <!-- TODO print links to migration reports of anything linked via property with ns info:fedora/fedora-system:def/relations-external or dcterms:hasPart-->
  <% @f4_obj.serialize_attached_files.each do |label, file| %>
    <h3><%= label %></h3>
    <pre><%= file.content %></pre>
  <% end %>
<% end %>
