<%#
Copyright 2011-2022, The Trustees of Indiana University and Northwestern
  University.  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.

You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed
  under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
  CONDITIONS OF ANY KIND, either express or implied. See the License for the
  specific language governing permissions and limitations under the License.
---  END LICENSE_HEADER BLOCK  ---
%>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Group</h3>
      </div>
      <div class="panel-body">
        <%= bootstrap_form_for @group  do |f| %>

        <% if @group.class.name_is_static? @group.name %>
        <p><%= @group.name %></p>
        <% else %>
        <div class="form-group">
          <div class="input-group">
            <%= text_field_tag :group_name, "Group name", value: @group.name, class: 'form-control' %>
            <span class="input-group-btn">
              <%= button_tag "Save", type: "submit", class: "btn btn-primary" %>
              <%= link_to "Delete Group", admin_group_path(@group.name),
          method: :delete, confirm: "Deleted group cannot be recovered. Are you sure?",
          class: "btn btn-danger" %>
            </span>
          </div>
        </div>
        <% end %>
        <% end %>
      </div>
    </div>


  </div>

  <div class="col-md-6">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Group Members</h3>
      </div>

      <div class="panel-body">
        <%= bootstrap_form_for @group  do |f| %>
        <div class="form-group">
          <div class="input-group">
            <%= text_field_tag :new_user, nil, class: 'typeahead from-model form-control',
          data: { model: 'user' }, placeholder: 'Enter a username' %>
            <span class="input-group-btn">
              <%= button_tag "Add user", type: "submit", class: "btn btn-primary" %>
            </span>
          </div>
        </div>
        <% end %>

        <%= form_tag update_users_admin_group_path, method: :put do %>
        <table class="table table-striped">
          <thead>
            <tr>
              <th class="col-md-1"><input type="checkbox" class="select-groups"></th>
              <th class="col-md-10">Username</th>
              <th class="col-md-1"></th>
            </tr>
          </thead>
          <tbody>
            <% @group.users.each do |user| %>
            <tr>
              <td><%= check_box_tag "user_ids[]", user %></td>
              <td><%= user %></td>
              <td></td>
            </tr>
            <% end %>
          </tbody>
        </table>

        <%= hidden_field_tag 'id', @group.name %>
        <%= submit_tag "Remove members", :method => :delete, class: "btn btn-danger delete", disabled: true  %>

        <% end %>
      </div>
    </div>


  </div>
</div>



<% content_for :page_scripts do %>
<script>
  $('.select-groups').change(function () {
    $('input[id^=user_ids_]').prop('checked', $(this).is(':checked')).trigger('change');
  })

  $('input[id^=user_ids_]').change(function () {
    if ($(this).is(':checked')) {
      enableButtons();
    } else if ($(':checked').length == 0) {
      disableButtons();
    }
  })

  function enableButtons() {
    $('.delete').removeAttr('disabled');
  }

  function disableButtons() {
    $('.delete').attr('disabled', 'disabled');
  }
</script>
<% end %>
