<%#
Copyright 2011-2025, The Trustees of Indiana University and Northwestern
  University.  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.

You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed
  under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
  CONDITIONS OF ANY KIND, either express or implied. See the License for the
  specific language governing permissions and limitations under the License.
---  END LICENSE_HEADER BLOCK  ---
%>
<% @page_title = t('groups.title', :application_name => application_name) %>

<div class="page-title-wrapper">
  <h1>Manage Groups</h1>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="card mb-3">
      <div class="card-header">
        <h2 class="card-title">System Groups</h2>
      </div>
      <div class="card-body">
        <table class="table table-striped ">
          <thead>
            <tr>
              <th>Group Name</th>
              <th>Members#</th>
            </tr>
          </thead>
          <tbody>
            <% @default_groups.each do |group|%>
            <tr>
              <td><%= link_to_if can?(:manage, group), group.name, edit_admin_group_path(group) %></td>
              <td><%= group.users.count %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h2 class="card-title"> Additional Groups</h2>
      </div>
      <div class="card-body">
        <%= form_tag(admin_groups_path) do -%>
        <div class="form-group">
          <div class="input-group">
            <%= text_field_tag 'admin_group', nil, :placeholder => 'Enter group name here...', class: 'form-control' %>
            <span class="input-group-append">
              <%= button_tag 'Create Group', type: 'submit', class: 'btn btn-primary' %>
            </span>

          </div>
        </div>
        <% end -%>

        <%= form_tag update_multiple_admin_groups_path, method: :put do %>

        <table class="table table-striped">
          <thead>
            <tr>
              <th><input type="checkbox" class="select-groups"></th>
              <th>Group Name</th>
              <th>Members#</th>
            </tr>
          </thead>
          <tbody>
            <% @groups.each do |group|%>
            <tr>
              <td><%= check_box_tag "group_ids[]", group.name %></td>
              <td><%= link_to group.name, edit_admin_group_path(group) %></td>
              <td><%= group.users.count %></td>
            </tr>
            <% end %>
          </tbody>
        </table>

        <%= submit_tag "Delete Groups", method: :delete,
        confirm: "Deleted groups cannot be recovered. Are you sure?",
        class: "btn btn-danger delete", disabled: true %>
        <% end %>
      </div>
    </div>
  </div>
</div>


<% content_for :page_scripts do %>
<script>
  $('.close').click(function () {
    $(this).parent().remove();
  })

  $('.select-groups').change(function () {
    $('input[id^=group_ids_]').prop('checked', $(this).is(':checked')).trigger('change');
  })

  $('input[id^=group_ids_]').change(function () {
    if ($(this).is(':checked')) {
      enableButtons();
    } else if ($(':checked').length == 0) {
      disableButtons();
    }
  })

  function enableButtons() {
    $('#add-ability').removeClass('disabled');
    $('#remove-ability').removeClass('disabled');
    $('.delete').removeAttr('disabled');
  }

  function disableButtons() {
    $('#add-ability').addClass('disabled');
    $('#remove-ability').addClass('disabled');
    $('.delete').attr('disabled', 'disabled');
  }
</script>
<% end %>
