<%= stylesheet_link_tag 'http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css' %>
<h3> Collection Name Changed Notification </h3>
<%= link_to(@collection.name, @collection) %>
<hr/>

<dl class="dl-horizontal">
  <dt>Old name:</dt>
  <dd><%= @old_name %></dd>
  
  <dt>Updated by:</dt>
  <dd><%= mail_to(@updater.email, @updater.username) %></dd>
  
  <dt>Description:</dt>
  <dd><%= @collection.description.present? ? @collection.description : '(empty)'%></dd>
  
  <dt>Unit:</dt>
  <dd><%= @collection.unit %></dd>

  <dt>Dropbox Path:</dt>
  <dd><%= @collection.dropbox_absolute_path %></dd>
</dl>
