<%#
Copyright 2011-2025, The Trustees of Indiana University and Northwestern
  University.  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.

You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed
  under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
  CONDITIONS OF ANY KIND, either express or implied. See the License for the
  specific language governing permissions and limitations under the License.
---  END LICENSE_HEADER BLOCK  ---
%>
<!---Modal for copy playlist button -->
<div id="copy-playlist-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= form_for(Playlist.new, remote: true, format: 'json',
          html: {id: 'copy-playlist-form' },
          :url => { :action => "duplicate" }) do |f| %>
      <%= hidden_field_tag 'old_playlist_id' %>
      <%= hidden_field_tag 'with_refresh', with_refresh %>
      <%= hidden_field_tag 'token' %>

      <div class="modal-header">
        <h4 class="modal-title">Copy Playlist</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="form-group">
          <%= f.label "Name", class: "font-weight-bold" %>
          <%= f.text_field :title, class: 'form-control', required: true %>
        </div>
        <p><em id="title_error" class="text-danger" style="display:none;">Name is required</em></p>
        <div class="form-group">
          <%= f.label :comment, 'Description', class: "font-weight-bold" %>
          <%= f.text_area :comment, class: 'form-control', rows: '4' %>
        </div>
        <div class="form-group">
          <div class="form-check">
            <label>
              <%= f.radio_button(:visibility, Playlist::PUBLIC) %>
              <%= human_friendly_visibility Playlist::PUBLIC %>
            </label>
          </div>
          <div class="form-check">
            <label>
              <%= f.radio_button(:visibility, Playlist::PRIVATE) %>
              <%= human_friendly_visibility Playlist::PRIVATE %>
            </label>
          </div>
          <div class="form-check">
            <label>
              <%= f.radio_button(:visibility, Playlist::PRIVATE_WITH_TOKEN) %>
              <%= human_friendly_visibility Playlist::PRIVATE_WITH_TOKEN %>
            </label>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <div class="btn-group">
          <%= f.submit id: 'copy-playlist-submit',
                  class: 'btn btn-outline', value: t("playlist.create.action") %>

          <%= f.submit id: 'copy-playlist-submit-edit',
                  class: 'btn btn-primary', value: t("playlist.create_and_edit.action") %>
        </div>
      </div>
      <% end # form_for playlist_form%>
    </div>
  </div>
</div>
