<%#
Copyright 2011-2024, The Trustees of Indiana University and Northwestern
  University.  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.

You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed
  under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
  CONDITIONS OF ANY KIND, either express or implied. See the License for the
  specific language governing permissions and limitations under the License.
---  END LICENSE_HEADER BLOCK  ---
%>
  <%= render 'show_playlist_details' %>
  <%= render 'form' %>

  <hr>
  <% if @playlist.items.empty? %>
    <div><p>There are currently no items in this playlist.</p></div>
  <% else %>
    <%= form_for(@playlist,
      url: { action: "update_multiple" },
      html: { class: 'playlist_actions' }) do |f| %>
    <div class="row">
      <div class="col-sm-6">
        <h3>Playlist Items</h3>
      </div>
      <div class="col-sm-6 form-group text-right manage-playlist-item">
        <% if @playlists.present? %>
          <%= hidden_field_tag "new_playlist_id", @playlist.id, form:"edit_playlist_#{@playlist.id}" %>
          <%= hidden_field_tag "action_type", '', form:"edit_playlist_#{@playlist.id}" %>

          <label for="select_all">
            <%= check_box_tag 'select_all', "Select All", false, form:"edit_playlist_#{@playlist.id}" %>
            Select All
          </label>

          <div class="dropdown" >
            <%= button_tag( { type: 'button', class: "move_to btn btn-outline btn-sm dropdown-toggle",
              data: { toggle: "dropdown"}, disabled:'disabled' } ) do %>
              <span class="filter-option">Move to... </span>
            <% end # button_tag %>
            <ul class="dropdown-menu dropdown-menu-right">
              <% @playlists.each do |p| %>
              <li class="dropdown-item">
                <a data-id="<%= p.id %>" style="text-decoration:underline; cursor:pointer"
                  class="move_to_playlist" form="edit_playlist_<%= @playlist.id %>"><%= p.title %></a>
              </li>
              <% end # @playlist.each%>
            </ul>
          </div>

          <div class="dropdown">
            <%= button_tag( { type: 'button', class: "copy_to btn btn-outline btn-sm dropdown-toggle",
              data: { toggle: "dropdown"}, disabled:'disabled' } ) do %>
              <span class="filter-option">Copy to... </span>
            <% end # button_tag %>
            <ul class="dropdown-menu dropdown-menu-right">
              <% @playlists.each do |p| %>
              <li class="dropdown-item">
                <a data-id="<%= p.id %>" style="text-decoration:underline; cursor:pointer"
                  class="copy_to_playlist" form="edit_playlist_<%= @playlist.id %>"><%= p.title %></a>
              </li>
              <% end # @playlist.each%>
            </ul>
          </div>

        <% end # playlists.present?%>
        <%= f.submit "Delete Selected", id: 'delete_selected_playlist_items', class: 'btn btn-danger btn-confirmation btn-sm',
          form:"edit_playlist_#{@playlist.id}", data: { placement: 'bottom' }, disabled:'disabled', sanitize: false %>
      </div>
    </div>
    <% end #form_for update_multiple %>

    <%= form_for(@playlist, html: { id: 'playlist_sort_form', class: 'playlist_actions' }) do |fs| %>
    <div class="dd" data-playlist_id="<%= @playlist.id %>">
      <ol id="items" class="dd-list" style="list-style: none">
        <% clips = @playlist.clips_with_section_proxies %>
        <% @playlist.items.each_with_index do |i, index| %>
          <% clip = clips[index] %>
        <li class="container dd-item" data-id="<%= i.id %>">
          <div class="row">
            <div class="col-sm-2">
              <span class="fa fa-arrows-v float-left dd-handle"></span>
              <%= text_field_tag "playlist[items_attributes[#{index}[position]]]", i.position, class: 'form-control position-input', form: 'playlist_sort_form' %>
              <%= hidden_field_tag "playlist[items_attributes[#{index}[id]]]", i.id, form: 'playlist_sort_form' %>
            </div>
            <% if can? :read, clip.master_file %>
              <div class="col-sm-8 title" style="margin-top:5px">
                <%= link_to clip.title, clip.mediafragment_uri, id: "playlist_item_title_label_#{i.id}" %>
              </div>
              <div class="col-sm-2 text-right" style="margin-top:5px">
                <button id="playlist_item_edit_button" class="btn btn-sm fa fa-edit" <%= clip.master_file.nil? ? 'disabled' : '' %>
                  data-toggle="collapse" href="#playlist_item_edit_<%= i.id %>" aria-expanded="false" type="button">
                </button>
                <label>
                  <%= check_box_tag 'clip_ids[]', i.id, false, form:"edit_playlist_#{@playlist.id}", class:"playlist_item_select" %>
                  Select
                </label>
              </div>
            <% else %>
              <div class="col-sm-9 title" style="margin-top:5px">
                <% if clip.master_file.nil? %>
                  <i class="fa fa-times-circle" title="The source for this item has been deleted"></i>
                  <span class="playlist_item_denied">[deleted item]</span>
                <% else %>
                  <i class="fa fa-lock" title="You don't have permission to view this item"></i>
                  <span class="playlist_item_denied">[inaccessible item] <%= clip.master_file.media_object_id %></span>
                <% end %>
              </div>
              <div class="col-sm-1 form-check text-right">
                <label>
                  <%= check_box_tag 'clip_ids[]', i.id, false, form:"edit_playlist_#{@playlist.id}", class:"playlist_item_select" %>
                  Select
                </label>
              </div>
            <% end %>
          </div>
          <div id="playlist_item_edit_<%= i.id %>" class="row collapse">
            <div class="col-sm-9 offset-2 playlist_item_edit">
              <%= bootstrap_form_for i, remote: true, html: { id: "playlist_item_form_#{i.id}", class: "playlist_item_edit_form" }, format: 'json' do |pif| %>
                <%= hidden_field_tag "playlist_id", @playlist.id, form: "playlist_item_form_#{i.id}" %>
                <div class="form-group form-row">
                  <%= pif.label :title, class: 'col-sm-2 col-form-label' %>
                  <div class="col-sm-10">
                    <%= text_field_tag :title, i.title, class: 'form-control', id: "avalon_clip_title_#{i.id}", form:"playlist_item_form_#{i.id}" %>
                    <span style='display:none' class='title_original' data-value="<%= i.title %>"></span>
                  </div>
                </div>
                <div class="form-group form-row">
                  <div class="col-sm-2" style="text-align:right;margin-top:2pt"><%= pif.label :start_time, class: 'col-form-label' %></div>
                  <div class="col-sm-4">
                    <%= text_field_tag :start_time, pretty_time(i.start_time), class: 'form-control', id: "avalon_clip_start_time_#{i.id}", form:"playlist_item_form_#{i.id}" %>
                    <span style='display:none' class='start_time_original' data-value="<%= pretty_time(i.start_time) %>"></span>
                  </div>
                  <div class="col-sm-2" style="text-align:right;margin-top:2pt">
                    <%= pif.label :end_time, class: 'col-form-label' %>
                  </div>
                  <div class="col-sm-4">
                    <%= text_field_tag :end_time, pretty_time(i.end_time), class: 'form-control', id: "avalon_clip_end_time_#{i.id}", form:"playlist_item_form_#{i.id}" %>
                    <span style='display:none' class='end_time_original' data-value="<%= pretty_time(i.end_time) %>"></span>
                  </div>
                </div>
                <div class="form-group form-row">
                  <%= pif.label :comment, class: 'col-sm-2 col-form-label' %>
                  <div class="col-sm-10">
                    <%= text_area_tag :comment, i.comment, class: 'form-control', id: "avalon_clip_comment_#{i.id}", form:"playlist_item_form_#{i.id}" %>
                    <span style='display:none' class='comment_original' data-value="<%= i.comment %>"></span>
                  </div>
                </div>
                <div class="form-group form-row">
                  <div class="col-sm-3 offset-2">
                    <button class='btn btn-sm btn-primary playlist_item_form_submit' data-id="<%= i.id %>" form="playlist_item_form_<%= i.id %>">Save Item</button>
                    <span id="playlist_item_edit_cancel_<%= i.id %>" class="btn btn-outline btn-sm playlist_item_edit_cancel" data-id="<%= i.id %>" data-target="playlist_item_edit_<%= i.id %>">Cancel</span>
                  </div>
                  <div class="col-sm-7" id="playlist_item_edit_alert_<%= i.id %>"></div>
                </div>
              <% end #bootstrap_form_for playlist_item_edit %>
            </div>
          </div>
        </li>
        <% end #playlist.items.each %>
      </ol>
    </div>
    <%= fs.submit class: 'btn btn-primary btn-sm', value: 'Save Changes', form: 'playlist_sort_form', style: 'visibility:hidden' %>
    <% end #form_for playlist_sort_form %>
  <% end #playlist empty else%>
</div>

<% content_for :page_scripts do %>
  <script>

    function toggleState(ele, text, state) {
      ele.html(text);
      ele.prop('disabled', state);
    }
    
    // Handle move selected items to new playlist
    $('.move_to_playlist, .copy_to_playlist').click(function(event) {
      event.preventDefault();
      $('#new_playlist_id').val($(this).data('id'));
      $('#action_type').val(event.target.getAttribute('class'));
      $('#'+$(this).attr('form')).submit();
    });

    // Handle playlist edit cancel
    $('#playlist_edit_cancel').click(function(event) {
      $('#playlist_form #playlist_title').val('<%= j @playlist.title %>');
      $('#playlist_form #playlist_comment').val('<%= j @playlist.comment %>');

      <% if @playlist.visibility==Playlist::PRIVATE %>
        $('#playlist_form #playlist_visibility_private').prop('checked', true);
      <% elsif @playlist.visibility==Playlist::PUBLIC %>
        $('#playlist_form #playlist_visibility_public').prop('checked', true);
      <% else %>
        $('#playlist_form #playlist_visibility_private-with-token').prop('checked', true);
      <% end %>
    });

    // Handle select all checkbox (enable/disable move and delete buttons)
    $('#select_all').click(function(event) {
      $('input:checkbox').prop('checked', $(this).prop('checked'))
      $('#edit_playlist_<%= @playlist.id %> :submit').prop('disabled', !$(this).prop('checked') );
      $('.copy_to, .move_to').prop('disabled', !$(this).prop('checked') )
    });

    // Handle selection of playlist item (enable/disable move and delete buttons)
    $('.playlist_item_select').click(function(event) {
      $('#edit_playlist_<%= @playlist.id %> :submit').prop('disabled',  $( ".playlist_item_select:checked" ).length < 1  );
      $('.copy_to, .move_to').prop('disabled', $( ".playlist_item_select:checked" ).length < 1 );
      $('#select_all').prop('checked', $( ".playlist_item_select:checked" ).length == <%= @playlist.items.length %> );
    });

    // Handle playlist item edit form submission
    $('.playlist_item_form_submit').click(function(event) {
      event.preventDefault();
      var $button = $(this);
      toggleState($button, 'Saving...', true);
      var $form = $(this).closest('form');
      var id = $(this).data('id');
      return $.ajax({
        url: '/playlist_items/' + id + '.json',
        type: 'PATCH',
        data: {
          playlist_id: $('#playlist_id').val(),
          playlist_item: {
            title: $('#avalon_clip_title_'+id).val(),
            comment: $('#avalon_clip_comment_'+id).val(),
            start_time: $('#avalon_clip_start_time_'+id).val(),
            end_time: $('#avalon_clip_end_time_'+id).val(),
          }
        },
        success: function(response) {
          // alert success
          var alert = "<div class='alert alert-success' style='padding:0 10px; margin-bottom: 0;'>";
          alert += "<button type='button' class='close' data-dismiss='alert'>&times;</button>";
          alert += "<span>"+response.message+"</span></div>";
	        $('#playlist_item_edit_alert_'+id).html(alert);
          // update original values with those newly saved in case of future cancel
          $form.find('.title_original').data('value',$('#avalon_clip_title_'+id).val());
          $form.find('.comment_original').data('value',$('#avalon_clip_comment_'+id).val());
          $form.find('.start_time_original').data('value',$('#avalon_clip_start_time_'+id).val());
          $form.find('.end_time_original').data('value',$('#avalon_clip_end_time_'+id).val());
          $('#playlist_item_title_label_'+id).html($('#avalon_clip_title_'+id).val());
          setTimeout(function() {
            toggleState($button, 'Save Item', false)
          }, 500);
        },
        error: function(response) {
          // alert failure
          var alert = "<div class='alert alert-danger' style='padding:0 10px; margin-bottom: 0;'>";
          alert += "<button type='button' class='close' data-dismiss='alert'>&times;</button>";
          alert += "<span>"+response.responseJSON.message+"</span></div>";
	        $('#playlist_item_edit_alert_'+id).html(alert);
          setTimeout(function() {
            toggleState($button, 'Save Item', false)
          }, 500);
        }
      });
    });

    // Cancel playlist item editing
    $('.playlist_item_edit_cancel').click(function(event){
      var $form = $(this).closest('form');
      var id = $(this).data('id');
      // reset form to original values
      $('#avalon_clip_title_'+id).val($form.find('.title_original').data('value'));
      $('#avalon_clip_comment_'+id).val($form.find('.comment_original').data('value'));
      $('#avalon_clip_start_time_'+id).val($form.find('.start_time_original').data('value'));
      $('#avalon_clip_end_time_'+id).val($form.find('.end_time_original').data('value'));
      $('#playlist_item_edit_alert_'+id).html('');
      $('#'+$(this).data('target')).removeClass('show');
    });
  </script>

<% end %>
