<div class="col-md-9">
  <%= form_for(@playlist, html: { id: 'playlist_form', class: 'form-horizontal playlist_actions' }) do |f| %>
  <div class="row">
    <div class="col-sm-6">

      <div class="form-group <% if @playlist.errors[:title].any? %>has-error<% end %>">
        <%= f.label "Name", class: 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <%= f.text_field :title, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :comment, class: 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <%= f.text_area :comment, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= label_tag nil, t("blacklight/folders/folder.visibility", scope: "helpers.label"), class: 'col-sm-2 control-label' %>
        <div class="col-sm-10">

          <label class="radio-inline">
            <%= f.radio_button(:visibility, Playlist::PUBLIC) %>
            <%= human_friendly_visibility Playlist::PUBLIC %>
          </label>

          <label class="radio-inline">
            <%= f.radio_button(:visibility, Playlist::PRIVATE) %>
            <%= human_friendly_visibility Playlist::PRIVATE %>
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div><%= f.submit class: 'btn btn-primary', value: 'Save Changes' %>
      <% if @playlist.persisted? && can?(:destroy, @playlist) %>
        <%= link_to "Delete Playlist", { action: "destroy", id: @playlist.id }, { method: :delete, class: 'btn btn-danger', data: { confirm: "Are you sure you want to delete this playlist and all its contents?"}} %>
      <% end %>
      </div>
    </div>
  </div>
  <% end %>
  <hr>
  <% if @playlist.items.empty? %>
    <div><p>There are currently no items in this playlist.</p></div>
  <% else %>
    <%= form_for(@playlist,url: { action: "update_multiple" }, html: { class: 'form-horizontal playlist_actions' }) do |f| %>
    <div class="container row">
      <div class="col-sm-12">
        <h3>Playlist Items</h3>
      </div>
    </div>
    <div class="container row">
      <div class="pull-right">
        <div class="form-group select-delete">
          <div class="btn-group">
            <label>
              <%= check_box_tag 'select_all', "Select All", false, class: "toggle_bookmark", form:"edit_playlist_#{@playlist.id}" %>
              Select All
            </label>
          </div>
          <div class="btn-group" role="group">
            <div class="btn-group bootstrap-select">
              <%= button_tag( { type: 'button', class: "btn btn-default dropdown-toggle", data: { toggle: "dropdown"} } ) do %>
              <%= hidden_field_tag "new_playlist_id", @playlist.id, form:"edit_playlist_#{@playlist.id}" %>
                <span class="filter-option pull-left">Move to..</span>
                <span class="bs-caret">
                  <span class="caret"></span>
                </span>
              <% end %>
              <ul class="dropdown-menu">
                <% @playlists.each do |p| %>
                  <li><a data-id="<%= p.id %>" style="text-decoration:underline" class="move_to_playlist" form="edit_playlist_<%= @playlist.id %>"><%= p.title %></a></li>
                <% end %>
              </ul>
            </div>
            <%#= button_tag( "Update", { type: 'button', class: "btn btn-default", form:"edit_playlist_#{@playlist.id}"}) %>
            <%= f.submit "Delete Items", class: 'btn btn-default', form:"edit_playlist_#{@playlist.id}" %>
          </div>
        </div>
      </div>
    </div>
    <% end %>

    <div class="dd" data-playlist_id="<%= @playlist.id %>">
      <ol id="items" class="dd-list" style="list-style: none">
        <% @playlist.items.each_with_index do |i, index| %>
          <li class="row dd-item" data-id="<%= i.id %>">
            <div class="row">
              <div class="col-sm-2">
		<span class="glyphicon glyphicon-resize-vertical hidden pull-left dd-handle"></span>
                <%= text_field_tag "playlist_items_attributes_#{index}_position", i.position, class: 'form-control position-input', form: 'playlist_form'  %>
                <%= hidden_field_tag "playlist_items_attributes_#{index}_id", i.id, form: 'playlist_form'  %>
              </div>
              <div class="col-sm-6 title">
		<%= link_to i.annotation.title, i.annotation.mediafragment_uri %>
              </div>
              <div class="col-sm-1">
		<a id="playlist_item_edit_button" data-toggle="collapse" href="#playlist_item_edit_<%= i.id %>" aria-expanded="false" aria-controls="collapseExample" class="fa fa-edit"></a>
              </div>
              <div class="col-sm-2 checkbox">
		<label>
                  <%= check_box_tag 'annotation_ids[]', i.id, false, form:"edit_playlist_#{@playlist.id}" %>
                  Select
		</label>
              </div>
	    </div>
	    <div id="playlist_item_edit_<%= i.id %>" class="row collapse">
	      <div class="col-sm-3"></div>
	      <div style="background-color:gray;padding: 10px;" class="col-sm-6">
		<%= form_for(i, html: { id: "playlist_item_form_#{i.id}" }) do |pif| %>
                <%= hidden_field_tag "playlist_id", @playlist.id, form: "playlist_item_form_#{i.id}" %>
		<div class="form-group">
                  <%= pif.label :title, class: 'col-sm-2 control-label' %>
		  <div class="col-sm-10">
                    <%= text_field_tag :title, i.title, class: 'form-control', id: "avalon_annotation_title_#{i.id}", form:"playlist_item_form_#{i.id}" %>
		  </div>
		</div>
		<div class="form-group">
                  <%= pif.label :start_time, class: 'col-sm-2 control-label' %>
		  <div class="col-sm-10">
		    <%= text_field_tag :start_time, pretty_time(i.start_time), class: 'form-control', id: "avalon_annotation_start_time_#{i.id}", form:"playlist_item_form_#{i.id}" %>
		  </div>
		</div>
		<div class="form-group">
                  <%= pif.label :end_time, class: 'col-sm-2 control-label' %>
		  <div class="col-sm-10">
		    <%= text_field_tag :end_time, pretty_time(i.end_time), class: 'form-control', id: "avalon_annotation_end_time_#{i.id}", form:"playlist_item_form_#{i.id}" %>
		  </div>
		</div>
		<div class="form-group">
                  <%= pif.label :comment, class: 'col-sm-2 control-label' %>
		  <div class="col-sm-10">
	            <%= text_area_tag :comment, i.comment, class: 'form-control', id: "avalon_annotation_comment_#{i.id}", form:"playlist_item_form_#{i.id}" %>
		  </div>
		</div>
		<div class="form-group">
		  <div class="col-sm-2"></div>
		  <%= pif.submit "Save Changes", class: 'btn btn-sm btn-primary', form:"playlist_item_form_#{i.id}" %>
		</div>
		<% end %>
	      </div>
	    </div>
          </li>
        <% end %>
      </ol>
    </div>
  <% end %>
  <hr>
  <%= link_to "View Playlist", @playlist, { class: 'btn btn-primary'} %>
</div>

<% content_for :page_scripts do %>
  <script>
    $('.move_to_playlist').click(function(event) {
      $('#new_playlist_id').val($(this).data('id'));
      $('#'+$(this).attr('form')).submit();
    });
  </script>
<% end %>
