<%#
Copyright 2011-2025, The Trustees of Indiana University and Northwestern
  University.  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.

You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed
  under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
  CONDITIONS OF ANY KIND, either express or implied. See the License for the
  specific language governing permissions and limitations under the License.
---  END LICENSE_HEADER BLOCK  ---
%>
<div id="playlist_edit_div" class="collapse <%= 'show' if !@playlist.persisted? || !@playlist.errors.empty? %>">
  <%= form_for(@playlist, html: { id: 'playlist_form', class: 'playlist_actions' }) do |f| %>
  <div class="mb-3">
    <%= f.label "title", class: "fw-bold" %>
    <%= f.text_field :title, class: (@playlist.errors[:title].any? ? 'is-invalid form-control' : 'form-control') , 'data-testid': 'playlist-title' %>
  </div>

  <div class="mb-3">
    <%= f.label :comment, 'Description', class: "fw-bold" %>
    <%= f.text_area :comment, class: 'form-control', rows: '4', 'data-testid': 'playlist-comment' %>
  </div>

  <div class="mb-3">
    <div class="form-check">
      <label aria-describedby="helpVisibility">
        <%= f.radio_button(:visibility, Playlist::PUBLIC) %>
        <%= human_friendly_visibility Playlist::PUBLIC %>
      </label>
    </div>
    <div class="form-check">
      <label aria-describedby="helpVisibility">
        <%= f.radio_button(:visibility, Playlist::PRIVATE) %>
        <%= human_friendly_visibility Playlist::PRIVATE %>
      </label>
    </div>
    <div class="form-check">
      <label aria-describedby="helpVisibility">
        <%= f.radio_button(:visibility, Playlist::PRIVATE_WITH_TOKEN, class: 'share-playlist') %>
        <%= human_friendly_visibility Playlist::PRIVATE_WITH_TOKEN %>
      </label>
    </div>
    <span id="helpVisibility" class="form-text text-muted"><%= visibility_description @playlist.visibility %></span>
  </div>

  <div class="mb-3">
    <%= label_tag nil, t("playlist.tags.label"), class: "fw-bold" %>
    <%= render partial:'tag_form' %>
  </div>

  <div class="mb-3">
    <%= f.submit id: 'submit-playlist-form', class: 'btn btn-primary', value: t("playlist.#{params[:action]}.action"), 'data-testid': 'playlist-submit-form' %>
    <a id="playlist_edit_cancel" role="button" class="btn btn-outline" data-bs-toggle="collapse" data-bs-target="#playlist_edit_div, #playlist_view_div">Cancel</a>
  </div>
  <% end # form_for playlist_form%>
</div>
