<div class="col-md-9">
  <%= form_for(@playlist, html: { class: 'form-horizontal playlist_actions' }) do |f| %>
  <div class="row">
    <div class="col-sm-6">
      <% if @playlist.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@playlist.errors.count, "error") %> prohibited this playlist from being saved:</h2>

          <ul>
          <% @playlist.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">

        <%= f.label "Name", class: 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <%= f.text_field :title, class: 'form-control' %>
        </div>

        <%= f.label :comment, class: 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <%= f.text_field :comment, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= label_tag nil, t("blacklight/folders/folder.visibility", scope: "helpers.label"), class: 'col-sm-2 control-label' %>
        <div class="col-sm-10">

          <label class="radio-inline">
            <%= f.radio_button(:visibility, "public") %>
            <%= human_friendly_visibility "Public" %>
          </label>

          <label class="radio-inline">
            <%= f.radio_button(:visibility, "private") %>
            <%= human_friendly_visibility "Private" %>
          </label>
        </div>
      </div>
    </div>
    <div class="col-sm-6 pull-right">
      <div><%= f.submit class: 'btn btn-primary' %></div>
      <% if @playlist.persisted? && can?(:destroy, @playlist) %>
        <div><%= link_to "Delete Playlist", { action: "destroy", id: @playlist.id }, { method: :delete, class: 'btn btn-danger', data: { confirm: "Are you sure you want to delete this playlist and all its contents?"}} %></div>
      <% end %>
    </div>
  </div>

  <% unless @playlist.new_record? %>
  <div class="container col-lg-12">
    <div class="pull-right">
      <div class="form-group select-delete">
        <div class="btn-group">
          <label>
            <%= check_box_tag 'select_all', class: "toggle_bookmark" %>
            Select All
          </label>
        </div>
        <div class="btn-group" role="group">
          <div class="btn-group bootstrap-select">
            <%= button_tag( { type: 'button', class: "btn btn-default dropdown-toggle", data: { toggle: "dropdown"} } ) do %>
              <span class="filter-option pull-left">Move to..</span>
              <span class="bs-caret">
                <span class="caret"></span>
              </span>
            <% end %>
            <ul class="dropdown-menu">
              <% @playlists.each do |p| %>
                <li><a href="#"><%= p.title %></a></li>
              <% end %>
            </ul>
          </div>
          <%= button_tag( "Update", { type: 'button', class: "btn btn-default"}) %>
          <%= button_tag( { type: 'button', class: "btn btn-default"}) do %>
            <span class="glyphicon glyphicon-remove"></span>Delete
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <% end %>

  <div class="dd" data-playlist_id="<%= f.object.id %>">
    <ol id="items" class="dd-list" style="list-style: none">
      <%= f.fields_for :items do |i| %>
        <li class="row dd-item" data-id="<%= i.object.id %>">

          <div class="col-sm-2">
            <span class="glyphicon glyphicon-resize-vertical hidden pull-left dd-handle"></span>
              <%= i.text_field :position, class: 'form-control position-input'  %>
          </div>
          <div class="col-sm-6 title">
            <%= link_to i.object.annotation.title, i.object.annotation.mediafragment_uri %>
          </div>
          <div class="col-sm-2 checkbox">
            <label>
              <%= check_box_tag 'selected' %>
              Select
            </label>
          </div>
        </li>
      <% end %>
    </ol>
  </div>
  <% end %>
</div>