<%#
Copyright 2011-2023, The Trustees of Indiana University and Northwestern
  University.  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.

You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed
  under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
  CONDITIONS OF ANY KIND, either express or implied. See the License for the
  specific language governing permissions and limitations under the License.
---  END LICENSE_HEADER BLOCK  ---
%>
<%# @current_playlist_item ||= @playlist_item %>
<%# @current_clip ||= AvalonClip.find(@current_playlist_item.clip_id) %>
<%# @current_masterfile ||= SpeedyAF::Proxy::MasterFile.find(@current_playlist_item.clip.source.split('/').last) %>
<%# @current_mediaobject ||= SpeedyAF::Proxy::MediaObject.find(@current_masterfile.media_object_id) %>

<% if can? :read, @current_masterfile %>

<div class="card-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="card card-default">
    <div class="card-header" role="tab" id="heading0" style="border-bottom: 1px solid #ddd;">
      <h4 class="card-title">
        <span><%= @current_clip.title %></span>
        <span>[<%= @current_clip.duration %>]</span>
        <br class="clear" />
      </h4>
      <div>
        <%= @current_clip.comment %>
      </div>
    </div>
    <% @markers = @current_playlist_item.marker %>
    <div class="card-header" role="tab" id="markers_heading" <%= "style=display:none" if @markers.empty? %>>
      <h5 class="card-title ">
        <a href="#markers_section" class="accordion-toggle collapsed" data-toggle="collapse">
          Markers
        </a>
      </h5>
    </div>
    <div id="markers_section" class="panel-collapse collapse" role="tabpanel">
      <div class="card-body">
        <% if is_mejs_2? %>
        <%= render 'markers' %>
        <% else %>
        <div id="markers"></div>
        <% end %>
      </div>
    </div>
    <div class="card-header" id="source_details_heading">
      <h5 class="card-title">
        <a href="#source_details_section" class="accordion-toggle collapsed" data-toggle="collapse">
          Source Item Details
        </a>
      </h5>
    </div>
    <div id="source_details_section" class="panel-collapse collapse collapsed" role="tabpanel">
      <div class="card-body">
        <% if is_mejs_2? %>
        <%= render 'current_item' %>
        <% else %>
        <section id="source_details"></section>
        <% end %>
      </div>
    </div>
    <% @related_clips = @playlist.related_clips(@current_playlist_item)%>
    <div class="card-header" role="tab" id="related_items_heading">
      <h5 class="card-title ">
        <a href="#related_items_section" class="accordion-toggle collapsed" data-toggle="collapse">
          Related
        </a>
      </h5>
    </div>
    <div id="related_items_section" class="panel-collapse collapse" role="tabpanel">
      <div class="card-body">
        <% if is_mejs_2? %>
        <%= render 'playlist_items/related_items' %>
        <% else %>
        <div id="related_items"></div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>
