<%#
Copyright 2011-2022, The Trustees of Indiana University and Northwestern
  University.  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.

You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed
  under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
  CONDITIONS OF ANY KIND, either express or implied. See the License for the
  specific language governing permissions and limitations under the License.
---  END LICENSE_HEADER BLOCK  ---
%>
<div id="markers">
  <div id="marker_item_edit_alert"></div>
  <div class="row marker_header">
    <div class="col-xs-7 col-md-8">Name</div>
    <div class="col-xs-2 col-md-1">Time</div>
    <div class="col-xs-3 col-md-3 text-right">Actions</div>
  </div>
  <% @markers.sort_by(&:start_time).each do |marker| %>
    <% if can? :read, marker %>
      <% start = marker.start_time.to_f/1000 %>
      <div class="row marker" id="marker_row_<%= marker.id %>" data-offset='<%= start %>' data-marker='<%= marker.id %>'>
      	<%= form_for(marker, remote: true) do |f| %>
      	  <div class="col-xs-7 col-md-8">
      	    <a class='marker_title' data-offset='<%= start %>'><%= marker.title %></a>
      	  </div>
      	  <div class="col-xs-2 col-md-1">
      	    <span class='marker_start_time'><%= pretty_time(marker.start_time) %></span>
      	  </div>
      	  <div class="col-xs-3 col-md-3 text-right">
            <% if can? :edit, marker %>
      	      <%= button_tag name: 'edit_marker', id: "edit_marker_#{marker.id}", class:'btn btn-default btn-xs edit_marker', type: 'button' do %>
                <i class='fa fa-edit' title='Edit'></i> <span class='sm-hidden'>Edit</span>
              <% end %>
      	    <% end %>
            <% if can? :delete, marker %>
              <%= button_tag name: 'delete_marker', class:'btn btn-danger btn-xs btn-confirmation', form: "edit_avalon_marker_#{marker.id}", data: {placement: 'top'} do %>
            		<i class='fa fa-times' title='Delete'></i> <span class='sm-hidden'>Delete</span>
      	      <% end %>
      	    <% end %>
      	  </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
