<%#
Copyright 2011-2022, The Trustees of Indiana University and Northwestern
  University.  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.

You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed
  under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
  CONDITIONS OF ANY KIND, either express or implied. See the License for the
  specific language governing permissions and limitations under the License.
---  END LICENSE_HEADER BLOCK  ---
%>
<div id="add_marker_to_playlist_item_alert" class="mejs-form-alert alert" style="display:none">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
</div>
<div id="add_marker_to_playlist_item" class="mejs-form-wrapper" style="display:none" >
  <h3>Add marker to playlist item:</h3>
  <%= form_tag do %>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <%= label_tag(:title_label, "Title") %>
        <%= text_field_tag(:marker_title, nil, class:"form-control form-model", placeholder:"Marker title here...") %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <%= label_tag(:start_label, "Offset") %>
        <%= text_field_tag(:marker_start, nil, class:"form-control form-model") %>
      </div>
    </div>
  </div>
  <div class="form-group text-right">
    <%= button_tag("Add", type:"button", id:"add_marker_submit", class:"btn btn-primary add_marker_submit") %>
    <%= button_tag("Cancel", type:"button", id:"add_marker_cancel", class:"btn btn-outline add_marker_cancel") %>
  </div>
  <% end %>
</div>
