<%#
Copyright 2011-2023, The Trustees of Indiana University and Northwestern
  University.  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.

You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed
  under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
  CONDITIONS OF ANY KIND, either express or implied. See the License for the
  specific language governing permissions and limitations under the License.
---  END LICENSE_HEADER BLOCK  ---
%>
<% item = @playlist.items[mejs4_playlist_item_counter] %>
<% item_class = (item == @current_playlist_item)? 'now_playing' : 'queue' %>
<% clip = clip_map[item.clip_id] %>

<% if clip.master_file.present? && can?(:read, clip.master_file.media_object) %>
  <% master_file = clip.master_file %>
  <% item_type = (master_file.file_format=='Moving image')? 'fa-film' : 'fa-music' %>

  <li class="<%= item_class %>" data-is-video="<%= clip.master_file.is_video? %>" data-playlist-item-id="<%= item.id %>">
    <% if can?(:read, master_file.media_object) %>
      <% dataset = { 'playlist-id' => item.playlist_id,
                     'playlist-item-id' => item.id,
                     'clip-start-time' => clip.start_time,
                     'clip-end-time' => clip.end_time,
                     'clip-source' => clip.source,
                     'media-object-id' => master_file.media_object_id,
                     'master-file-id' => master_file.id,
                     'can-edit-playlist-item' => (can? :edit, item),
                     'clip-comment' => clip.content } %>
      <%= link_to playlist_path(@playlist, position: clip.playlist_position(@playlist), token: @playlist_token), data: dataset do %>
        <%= clip.title %>
      <% end %>
    <% end %>
    <span class="float-right"> <span class="fa <%= item_type %>"></span> <%= clip.duration %></span>
  </li>
<% else %>
  <% denied_class = item_class %>
  <% denied_class = 'denied_item' unless denied_class == 'now_playing'%>
  <li class= "<%= denied_class %> playlist_item_denied">
    <% if item_class == 'now_playing' %>
      <i class="fa fa-arrow-circle-right"></i>
    <% end %>
    <% if clip.master_file.nil? %>
      <i class="fa fa-times-circle"></i>
      <span title="The source for this playlist item has been deleted.">[Deleted Item]</span>
    <% else %>
      <i class="fa fa-lock"></i>
      <span title="You do not playback permission for the source item, <%=clip.master_file.media_object_id%>, this playlist item references.">[Inaccessible Item] <%=clip.master_file.media_object_id%></span>
    <% end %>
    <span class="float-right"><%= clip.duration %></span>
  </li>
<% end %>
