<% item = @playlist.items[playlist_item_counter] %>
<% item_class = (item == @current_playlist_item)? 'now_playing' : 'queue' %>
<% clip = clip_map[item.clip_id] %>
<% if can? :read, clip.master_file.mediaobject %>
<li class="<%= item_class %>" is_video="<%= clip.master_file.is_video? %>">
    <% if item_class == 'now_playing' %>
      <i class="fa fa-arrow-circle-right"></i>
    <% end %>
    <% masterfile = clip.master_file %>
    <% clip_start = clip.start_time / 1000.0 %>
    <% clip_end = clip.end_time / 1000.0 %>
    <% clip_frag = "?t=#{clip_start},#{clip_end}" %>
    <% link = pid_section_media_object_path(MediaObject.find(masterfile.mediaobject_id), masterfile.pid) + clip_frag %>
    <% data = {
        segment: masterfile.pid,
        is_video: masterfile.is_video?,
        share_link: link,
        native_url: link
      } %>

    <%#= link_to "#", data: data, onclick: 'reload_player(this);' do %>
    <% if @current_masterfile.is_video? == masterfile.is_video? && can?(:read, @current_playlist_item.clip.master_file.mediaobject) %>
      <%= link_to playlist_refresh_info_path(@playlist, position: item.position, autostart: true), remote: true do%>
        <%= clip.title %>
      <% end %>
    <% else %>
      <%= link_to playlist_path(@playlist, position: item.position, autostart: true) do %>
        <%= clip.title %>
      <% end %>
    <% end %>
  <span class="pull-right"> <span class="fa <%= item_type %>"></span> <%= clip.duration %></span>
  </li>
<% else %>
  <% denied_class = item_class %>
  <% denied_class = 'denied_item' unless denied_class == 'now_playing'%>
  <li class= "<%= denied_class %> playlist_item_denied">
    <% if item_class == 'now_playing' %>
      <i class="fa fa-arrow-circle-right"></i>
    <% end %>
    <% if clip.master_file.nil? %>
      <i class="fa fa-times-circle"></i>
      <span title="The source for this playlist item has been deleted.">[Deleted Item]</span>
    <% else %>
      <i class="fa fa-lock"></i>
      <span title="You do not playback permission for the source item, <%=clip.master_file.mediaobject_id%>, this playlist item references.">[Inaccessible Item] <%=clip.master_file.mediaobject_id%></span>
    <% end %>
    <span class="pull-right"><%= clip.duration %></span>
  </li>
<% end %>
