<% annotation = annotations[playlist_item_counter]%>
<% annotation.init_masterfile %>
<div class="playlist-item-view">
  <div>
    <span class="playlist-item-title-label">
      <%= t("playlist.item.title", scope: "helpers.label") %>:
    </span>
    <span class="playlist-item-title" %>
       <%= annotation.title %>
    </span>
  </div>
  <div>
    <span class="playlist-item-comment-label">
      <%= t("playlist.item.comment", scope: "helpers.label") %>:
    </span>
    <span class="playlist-item-comment" %>
       <%= annotation.comment %>
    </span>
  </div>
  <div>
    <span class="playlist-item-mediafragment-label">
      <%= t("playlist.item.mediafragment", scope: "helpers.label") %>:
    </span>
    <span class="playlist-item-mediafragment" %>
       <a href="<%= annotation.mediafragment_uri %>"><%= annotation.mediafragment_uri %></a>
    </span>
  </div>
</div>
