<% annotation = AvalonAnnotation.find(@playlist.items[playlist_item_counter].annotation_id) %>
<% item = @playlist.items[playlist_item_counter] %>
<% item_class = (item == @current_playlist_item)? 'now_playing' : 'queue' %>
<% item_type = (annotation.master_file.file_format=='Moving image')? 'fa-film' : 'fa-music' %>
<% if can? :read, item %>
  <li class="<%= item_class %>">
    <% if item_class == 'now_playing' %>
      <i class="fa fa-arrow-circle-right"></i>
    <% else %>
      <a href="#">
    <% end %>
    <%= link_to playlist_path(@playlist, position: item.position) do %>
      <%= annotation.title %></a>
    <% end %>
    <span class="pull-right"> <span class="fa <%= item_type %>"></span> <%= annotation.duration %></span>
  </li>
<% end %>
<% unless can? :read, item %>
  <% denied_class = item_class %>
  <% denied_class = 'denied_item' unless denied_class == 'now_playing'%>
  <li class= "<%= denied_class %>">
    <% if item_class == 'now_playing' %>
      <i class="fa fa-arrow-circle-right"></i>
    <% else %>
      <i class="fa-hand-paper-o"></i>
    <% end %>
    <span title="You do not playback permission for the source item, <%=annotation.master_file.mediaobject_id%>, this playlist item references.">[Inaccessible Item] <%=annotation.master_file.mediaobject_id%></span>
    <span class="pull-right"> <span class="fa <%= item_type %>"></span> <%= annotation.duration %></span>
  </li>
<% end %>
