<%#
Copyright 2011-2023, The Trustees of Indiana University and Northwestern
  University.  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.

You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed
  under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
  CONDITIONS OF ANY KIND, either express or implied. See the License for the
  specific language governing permissions and limitations under the License.
---  END LICENSE_HEADER BLOCK  ---
%>
<% if section=='tab-content' %>

    <div class="tab-pane text-left" id="link-tab">
      <% if @playlist.visibility == Playlist::PUBLIC %>
      <p class="muted">Copy the link below to share this playlist</p>
      <form role="form">
        <div class="form-group">
          <input type="text" class="col-md-5 form-control" id="link-object" value="<%= playlist_url(@playlist) %>" placeholder="<%= playlist_url(@playlist) %>" onClick="this.select();" readonly="readonly">
        </div>
      </form>
      <% elsif @playlist.visibility == Playlist::PRIVATE_WITH_TOKEN %>
      <p class="muted">Copy the link below to share this playlist.  It can only be seen and shared by people with this link.</p>
      <form role="form">
        <div class="form-group">
          <input type="text" class="form-control" id="link-object" value="<%= access_token_url(@playlist) %>" placeholder="<%= access_token_url(@playlist) %>" onClick="this.select();" readonly="readonly">
        </div>
      </form>
      <% else %>
      <p class="muted">This playlist is private.  To enable sharing, change the visibility setting within the <%= link_to "Edit Playlist", edit_playlist_url(@playlist) %> page.</p>
      <% end %>
    </div>

<% elsif section=='share-tabs' %>

    <li class="nav-item"><a class="nav-link active" href="#link-tab" data-toggle="tab">Share this playlist</a></li>

<% end %>
