<%#
Copyright 2011-2025, The Trustees of Indiana University and Northwestern
  University.  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.

You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed
  under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
  CONDITIONS OF ANY KIND, either express or implied. See the License for the
  specific language governing permissions and limitations under the License.
---  END LICENSE_HEADER BLOCK  ---
%>
<div class="col-md-12">
  <div>
    <%= link_to "View Playlist", @playlist, class: 'btn btn-primary', data:{testid: 'playlist-view-playlist-btn'} %>
    <% if can?(:destroy, @playlist) %>
    <%= link_to "Delete Playlist", @playlist, method: :delete, class: 'btn btn-link btn-confirmation', data: { placement: 'bottom', testid:'playlist-delete-playlist-form', confirm: 'Are you sure?' } %>
    <% end %>
  </div>

  <div class="playlist-details-headline-wrapper">
    <h2 class="headline" style="display:inline-block"><%= t("playlist.details") %></h2>
    <button id="playlist_edit_button" class="ms-2 btn btn-lg edit-details-icon-btn" data-bs-toggle="collapse" data-bs-target="#playlist_edit_div, #playlist_view_div" aria-expanded="false" 
      aria-label="Edit playlist details" data-testid="playlist-edit-icon-btn">
      <i class="fa fa-edit"></i>
    </button>
  </div>

  <div id="playlist_view_div" class="container collapse <%= 'show' if @playlist.errors.empty? %>" data-testid="playlist-details">
    <dl class="row">
      <dt class="col-sm-2"><%=t("activerecord.attributes.playlist.title")%>:</dt>
      <dd class="col-sm-10"><%= @playlist.title %></dd>
      <dt class="col-sm-2"><%= t("activerecord.attributes.playlist.comment") %>:</dt>
      <dd class="col-sm-10">
        <% if @playlist.comment.blank? %>
        <span class="info-text-gray">No description</span>
        <% else %>
        <%= simple_format @playlist.comment %>
        <% end %>
      </dd>
      <dt class="col-sm-2"><%= t("playlist.visibility") %>:</dt>
      <dd class="col-sm-10">
        <%= human_friendly_visibility @playlist.visibility %> -
        <i><%= visibility_description @playlist.visibility %></i>
        <% if @playlist.visibility == Playlist::PRIVATE_WITH_TOKEN %>
        <div class="row" style="margin-top:9px;">
          <div class="col-sm-9">
            <div class="input-group">
              <input type="text" class="form-control" id="playlist-share-link"
                value="<%= access_token_url(@playlist) %>" placeholder="<%= access_token_url(@playlist) %>"
                onClick="this.select();" readonly="readonly" data-testid="playlist-share-link">
              <%= button_tag "Copy", id: 'playlist-share-btn',
                  class: "btn btn-success", data:{testid:'playlist-copy-share-link-button'} %>
            </div>
          </div>
          <div class="col-sm-3">
            <%= button_tag "Get new link", id: 'get-new-link', rel: 'popover',
                class: 'btn btn-success', data: { 'playlist_id': @playlist.id } %>
          </div>
        </div>

        <% end %>
      </dd>
      <dt class="col-sm-2"><%= t("playlist.tags.label") %>:</dt>
      <dd class="col-sm-10">
        <% if @playlist.tags.empty? || @playlist.tags.is_a?(String) %>
          <span class="info-text-gray">No tags</span>
        <% else %>
          <% @playlist.tags.each do |tag| %>
            <span class="btn btn-sm btn-info"><%=tag%></span>
          <% end %>
        <% end %>
      </dd>
    </dl>
  </div>

  <% content_for :page_scripts do %>
  <script>
    function setPopoverContent(target, new_content) {
      target._config.content = new_content;
      target.setContent();
    }

    const playlistShareBtnElement = getById('playlist-share-btn');
    if (playlistShareBtnElement) {
      const playlistShareBtn = new bootstrap.Popover(getById("playlist-share-btn"), {
        trigger: 'hover',
        placement: 'top',
        content: 'Copy share link'
      });

      playlistShareBtnElement.addEventListener('click', function(event) {
        const copytarget = getById('playlist-share-link');

        // select text
        copytarget.select();
        try {
          // copy text
          document.execCommand('copy');
          copytarget.blur();
          setPopoverContent(playlistShareBtn, "Copied to clipboard");
        } catch (err) {
          setPopoverContent(playlistShareBtn, "Please press Ctrl/Cmd+C to copy");
        }
        setTimeout(function () {
          playlistShareBtn.hide();
          setPopoverContent(playlistShareBtn, "Copy share link");
        }, 3000);
      });
    }

    const popover_content = '<p>If you get a new link, the previous link will stop working.<p>' +
      '<div>' +
      '<button type="submit" onclick="new_link_confirm()" class="btn btn-danger btn-confirm" style="margin-right:5px;">Yes</button>' +
      '<button type="submit" onclick="new_link_cancel()" class="btn btn-primary btn-confirm">Cancel</button>' +
      '</div>'
    const popover_template = '<div class="popover" role="tooltip" style="width: 15em;">' +
      '<div class="arrow"></div>' +
      '<h3 class="popover-header"></h3>' +
      '<div class="popover-body"></div>' +
      '</div>'

    const getNewLink = new bootstrap.Popover('#get-new-link', {
      trigger: 'click',
      html: true,
      sanitize: false,
      placement: 'top',
      title: 'Get a new link?',
      template: popover_template,
      content: popover_content
    });

    const new_link_cancel = function (event) {
      getNewLink.hide();
    }

    const new_link_confirm = function (event) {
      const getNewLinkButton = getById('get-new-link');
      const playlistId = getNewLinkButton.dataset.playlistId;

      fetch('/playlists/' + playlistId + '/regenerate_access_token', {
        method: 'PATCH',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRF-Token': query('meta[name="csrf-token"]').content
        }
      })
      .then(response => response.json())
      .then(function(data) {
        const playlistShareLink = getById('playlist-share-link');
        playlistShareLink.value = data.access_token_url;
      })
      .finally(function() {
        getNewLink.hide();
      });
    }
  </script>
  <% end %>
