<%#
Copyright 2011-2022, The Trustees of Indiana University and Northwestern
  University.  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.

You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed
  under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
  CONDITIONS OF ANY KIND, either express or implied. See the License for the
  specific language governing permissions and limitations under the License.
---  END LICENSE_HEADER BLOCK  ---
%>
<% @current_playlist_item = @playlist_item %>
<% @current_clip = AvalonClip.find(@current_playlist_item.clip_id) %>
<% @current_masterfile = MasterFile.find(@current_playlist_item.clip.source.split('/').last) %>
<% @current_mediaobject = MediaObject.find(@current_masterfile.media_object_id) %>
<% clip_start = @current_clip.start_time / 1000.0 %>
<% clip_end = @current_clip.end_time / 1000.0 %>
<% clip_frag = "?t=#{clip_start},#{clip_end}" %>
<% link = section_stream_media_object_path(@current_mediaobject, @current_masterfile.id) + clip_frag %>
<% target_href = "a[href*='position=#{@position}']".html_safe%>

// Replace accordion html markup
$('#accordion').replaceWith("<%= escape_javascript(render partial: 'info') %>");

// Reload player
reload_player('<%= @current_masterfile.id %>', '<%= link %>', <%= @current_masterfile.is_video? %>);

// Update playlist items
$('.fa-arrow-circle-right').remove();
$('.now_playing').addClass('queue').removeClass('now_playing');
new_now_playing=$($("<%=target_href%>").first().closest('li'));
new_now_playing.addClass('now_playing').removeClass('queue');
new_now_playing.prepend("<i class='fa fa-arrow-circle-right'></i>");

// Initialize marker functionality for playlist item loaded by ajax
currentPlayer.domNode.dataset['currentPlaylistItem']='<%= @current_playlist_item.id %>';

// Handle editing of the markers
$('button.edit_marker').click(enableMarkerEditForm);
$('.marker_title').click(function(e) {
  if (typeof currentPlayer !== typeof void 0) {
    currentPlayer.setCurrentTime(parseFloat(this.dataset['offset']) || 0);
  }
});
$('.edit_avalon_marker').on('ajax:success', handle_edit_save).on('ajax:error', function(e, xhr, status, error) {
  alert('Request failed.');
});
$('button[name="delete_marker"]').popover({
  trigger: 'manual',
  html: true,
  content: function() {
    var button;
    button = void 0;
    if (typeof $(this).attr('form') === typeof void 0) {
      button = '<a href=\'' + $(this).attr('href') + '\' class=\'btn btn-xs btn-danger btn-confirm\' data-method=\'delete\' rel=\'nofollow\'>Yes, Delete</a>';
    } else {
      button = '<input class="btn btn-xs btn-danger btn-confirm" form="' + $(this).attr('form') + '" type="submit">';
      $('#' + $(this).attr('form')).find('[name=\'_method\']').val('delete');
    }
    return '<p>Are you sure?</p> ' + button + ' <a href=\'#\' class=\'btn btn-xs btn-primary\' id=\'special_button_color\'>No, Cancel</a>';
  }
}).click(function() {
  var t;
  t = this;
  $('.btn-confirmation').filter(function() {
    return this !== t;
  }).popover('hide');
  $(this).popover('show');
  return false;
});
