<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title><%= yield :title %> - Avalon <%=t(:avalon_release)%></title>
    <%= stylesheet_link_tag "application", media: "all" %>
    <!-- With this many Javascript files performance will be much better
         if they are included here. That means the important content will
         load first; the page will not gag on trying to pull down files
         from a CDN -->

    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  
  <body class="admin">
    <div class="container">
      <div class="row-fluid whitespace-half">
        <header class="jumbotron">
          <div class="span7">
            <h1>
              Avalon Policy Manager
              <i class="icon-user-md"></i>
            </h1>
          </div>
        </header>
      </div>
                  
      <%= yield :breadcrumbs %>
      
      <%= render "modules/user_management" %>
      
      <div class="row">
        <div class="span3">
          <ul class="nav nav-list">
            <li class="nav-header">
              Groups
              <i class="icon-group"></i>
            </li>
            <li class="<%= "active" if current_page?(admin_groups_path) %>">
              <%= link_to "All Groups", admin_groups_path %>
            </li>
            <li class="<%= "active" if current_page?(new_admin_group_path) %>">
              <%= link_to "Add Group", new_admin_group_path %>
            </li>
            <!--
            <li class="nav-header">
              Users
              <i class="icon-user"></i>
            </li>
            <li class="">
              <a class="tobeimplemented" href="#">All Users</a>
            </li>
            <li>
              <a class="tobeimplemented" href="#">Add New</a>
            </li>
            <li class="nav-header">
              Resources
              <i class="icon-hdd"></i>
            </li>
            <li class="">
              <a class="tobeimplemented" href="#">All Resources</a>
            </li>
            <li>
              <a class="tobeimplemented" href="#">Batch Edit</a>
            </li>
            -->
          </ul>
        </div>

        <div class="span9">
           <div><%= yield %></div>
        </div>
      </div>
    
      <div class="row-fluid">
        <footer class="span12">
          <ul>
            <li><a href="http://variationsonvideo.org">Avalon Media System Project Website</a> </li>
            <li><%= link_to "Contact Us", comments_path %></li>
          </ul>
        </footer>
      </div>
    </div>
    
    <%= javascript_include_tag "application" %>
    <%= yield :page_scripts %>
    
  </body>
</html>
