<%#
Copyright 2011-2023, The Trustees of Indiana University and Northwestern
  University.  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.

You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed
  under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
  CONDITIONS OF ANY KIND, either express or implied. See the License for the
  specific language governing permissions and limitations under the License.
---  END LICENSE_HEADER BLOCK  ---
%>
<% content_for :page_styles do %>
  <%= stylesheet_link_tag 'embed' %>
<% end %>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title><%= render_page_title %></title>

    <% # These link tags are necessary to initialize videojs and the quality selector plug-in using CDN.
       # May be worth considering pulling the code into the local asset pipeline.
       # VideoJS is held at the same version as is being used in Ramp. %>
    <link href="https://vjs.zencdn.net/7.10.2/video-js.css" rel="stylesheet"/>
    <link href="https://unpkg.com/@silvermine/videojs-quality-selector/dist/css/quality-selector.css" rel="stylesheet"/>

   <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= favicon_link_tag %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= yield :page_styles %>
    <%= yield :additional_head_content %>
    <%= render "modules/google_analytics" %>
  </head>

  <body>
    <%= yield %>
    <%= javascript_include_tag "application" %>
    <%= yield :page_scripts %>
  </body>
</html>
