<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Hydrant: Audio and Video Repository</title>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= yield :page_scripts %>

    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  
  <body>
    <div class="container">
      <header class="jumbotron page-header">
        <div class="logo">
          <!-- Image taken from http://www.flickr.com/photos/jdhancock/6015618395/sizes/q/in/photostream/ 
              under a Creative Commons license. Replace later with a proper logo -->
          <%= image_tag "temporary_logo.jpg", alt: "Hydrant - Release Zero" %>
        </div>
        
          <h1>Hydrant</h1>
          <p class="lead">Release Zero prototype</p>        
      </header>
      <%= render "modules/global_navigation" %>
      
      <!-- TO DO : Relocate the breadcrumbs to be here on every page except for the
                   home page -->
      <%= render "modules/user_management" %>

      <div class="row-fluid"><%= yield %></div>
    
      <footer>
        <!-- TODO : Create a rudimentary footer with basic links -->
      </footer>
    </div>

  </body>
</html>
