<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title><%= yield :title %>
       <% if content_for? :title %>- <% end %>Avalon Release 1 beta
    </title>

   <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= yield :page_styles %>
  </head>

  <body>
    <div class="container-fluid hidden-phone">
      <div class="row-fluid whitespace-half">
      <header class="span12">
        <div class="logo span2 visible-desktop">
          <%= image_tag "temporary_logo.png", alt: "Avalon Media System - Release 1 beta " %>
        </div>
        
        <div class="span6">
          <h1>Avalon Media System</h1>
          <p class="lead">Release 1 beta</p>
        </div>   
        
      </header>
      </div>
    </div>
 
    <div class="container-fluid">
      <%= render "modules/global_navigation" %>
    </div>
    <div class="container-fluid whitespace" %>
      <%= render "modules/user_management" %>
    </div>
    
    <div class="container-fluid"><%= yield %></div>

    <div class="container-fluid">
	  <footer class="span12">
	   <ul>
	     <li><a href="http://variationsonvideo.org">Avalon Media System Project Website</a> </li>
	     <li><%= link_to "Contact Us", comments_path %></li>
	   </ul>
        </footer>
    </div>
    
    <!-- With this many Javascript files performance will be much better
         if they are included here. That means the important content will
         load first; the page will not gag on trying to pull down files
         from a CDN -->
    <%= javascript_include_tag "application" %>
    <%= yield :page_scripts %>
  </body>
</html>
